<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Tipo de Operación</h1>
        <button class="button button-clear button-primary" ng-click="operationModal.hide()">Cancelar</button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="row ok-margin-top-10 ok-border-bottom padding">
            <div class="col">
                <a ng-click="selectOperation('Venta')"><h3 class="ok-color-green">Venta</h3></a>
            </div>
        </div>
        <div class="row ok-margin-top-10 ok-border-bottom padding">
            <div class="col">
                <a ng-click="selectOperation('Alquiler')"><h3 class="ok-color-green">Alquiler</h3></a>
            </div>
        </div>
        <div class="row ok-margin-top-10 ok-border-bottom padding">
            <div class="col">
                <a ng-click="selectOperation('Alquiler Temporario')"><h3 class="ok-color-green">Alquiler Temporario</h3></a>
            </div>
        </div>
    </ion-content>
</ion-modal-view>
