<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Pregunta secreta</h1>
        <button class="button button-clear button-primary" ng-click="tranModal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="row ok-margin-top-10 ok-border-bottom padding">
            <div class="col">
                <a ng-click="selectQuestion('preg 1')"><h3 class="ok-color-green">Pregunta 1</h3></a>
            </div>
        </div>
        <div class="row ok-margin-top-10 ok-border-bottom padding">
            <div class="col">
                <a ng-click="selectQuestion('preg 2')"><h3 class="ok-color-green">Pregunta 2</h3></a>
            </div>
        </div>
        <div class="row ok-margin-top-10 ok-border-bottom padding">
            <div class="col">
                <a ng-click="selectQuestion('preg 3')"><h3 class="ok-color-green">Pregunta 3</h3></a>
            </div>
        </div>
    </ion-content>
</ion-modal-view>