<div class="row">
  <!--{{shareProp}}-->
  <a class="col ok-share-icon ok-color-orange"
     socialshare
     socialshare-provider="facebook"
     socialshare-type="feed"
     socialshare-via="1732340417017180"
     socialshare-text="{{shareProp.fichaweb[0].contenido || shareProp.nombre_ubicacion}}"
     socialshare-url="{{siteUrl}}ficha-propiedad/{{shareProp.id_prop}}"
     socialshare-media="{{shareProp.foto[0].foto || 'http://abm.okeefe.com.ar/fotos_th/'+shareProp.foto[0].foto_principal}}">
    <i class="icon ion-social-facebook"></i>
  </a>
  <a class="col ok-share-icon ok-color-orange" socialshare
     socialshare-provider="twitter"
     socialshare-text="{{shareProp.fichaweb[0].contenido || shareProp.nombre_ubicacion}}"
     socialshare-url="{{siteUrl}}ficha-propiedad/{{shareProp.id_prop}}">
    <i class="icon ion-social-twitter"></i>
  </a>
  <a class="col ok-share-icon ok-color-orange" socialshare
     socialshare-provider="pinterest"
     socialshare-text="{{shareProp.fichaweb[0].contenido || shareProp.nombre_ubicacion}}"
     socialshare-url="{{siteUrl}}ficha-propiedad/{{shareProp.id_prop}}"
     socialshare-media="{{shareProp.foto[0].foto || 'http://abm.okeefe.com.ar/fotos_th/'+shareProp.foto[0].foto_principal}}">
    <i class="icon ion-social-pinterest"></i>
  </a>
</div>
