<ion-view>
    <ion-nav-title>
        <img ui-sref="rural.home" src="img/logoRural.png" class="ok-logo-img"/>
    </ion-nav-title>
    <ion-content>
        <div class="row ok-padding-0">
            <div class="wrapper">
                <img class="full-image" src="img/banner-about.jpg">
                <div id="text">
                    <h3 class="ok-color-white">XXXXXXXX</h3>
                    <h3 class="ok-color-white">XXXX</h3>
                    <h3 class="ok-color-white">XXXXXXXX</h3>
                </div>
            </div>
        </div>
        <!-- SERVICIOS -->
        <div class="row ok-investments-number">
            <div class="col ok-background-grey ok-about-box">
                <div class="c-peq ok-background-white ok-padding-0">
                    <img src="img/ase.svg">
                </div>
                <h4 class="text-center ok-color-green">XXXXXXXXX</h4>
                <h6 class="text-center ok-text-bold">XXXXXXXXXX</h6>
                <h6 class="text-center ok-text-bold">XXXXXXXX</h6>
                <h6 class="text-center ok-text-bold">XXXXXXXXX</h6>
            </div>
        </div>
        <div class="row ok-investments-number">
            <div class="col ok-background-grey ok-about-box">
                <div class="c-peq ok-background-white ok-padding-0">
                    <img src="img/adm.svg">
                </div>
                <h4 class="text-center ok-color-green">XXXXXXXXXXX</h4>
                <h6 class="text-center ok-text-bold">XXXXXXXX</h6>
                <h6 class="text-center ok-text-bold">XXXXXXXXX</h6>
                <h6 class="text-center ok-text-bold">XXXXXXXXXX</h6>
            </div>
        </div>
        <div class="row ok-investments-number">
            <div class="col ok-background-grey ok-about-box">
                <div class="c-peq ok-background-white ok-padding-0">
                    <img src="img/com.svg">
                </div>
                <h4 class="text-center ok-color-green">XXXXXXXXXXXXX</h4>
                <h6 class="text-center ok-text-bold">XXXXXXXXXXXXX</h6>
                <h6 class="text-center ok-text-bold">XXXXXXXXXX</h6>
                <h6 class="text-center ok-text-bold">XXXXXXXXXXXXX</h6>
            </div>
        </div>
        <div class="row ok-investments-number">
            <div class="col ok-background-grey ok-about-box">
                <div class="c-peq ok-background-white ok-padding-0">
                    <img src="img/cons.svg">
                </div>
                <h4 class="text-center ok-color-green">XXXXXXXXXXXXXXXX</h4>
                <h6 class="text-center ok-text-bold">XXXXXXXXXX</h6>
                <h6 class="text-center ok-text-bold">XXXXXXXXXX</h6>
                <h6 class="text-center ok-text-bold">XXXXXXXXXXXXX</h6>
            </div>
        </div>
        <!-- SERVICIOS-->
        <!-- SLIDER EQUIPO -->
        <div class="row ok-about-slider-box">
            <div class="col">
                <h3 class="text-center ok-color-green">UN EQUIPO</h3>
                <h3 class="text-center ok-color-green">COMPROMETIDO CON VOS</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ion-slide-box does-continue="true" auto-play="true" class="ok-background-grey ok-about-who-slider">
                    <ion-slide>
                        <div class="logo">
                            <img src="img/equipo2.png">
                        </div>
                        <h3 class="ok-color-green name">CHARLIE O'KEEFE</h3>
                        <h4 class="ok-color-orange job">DIRECTOR FINANCIERO</h4>
                        <h5>Encargado de la División</h5>
                        <h5> Comercial. Martillero Público.</h5>
                        <h5 class="ok-text-bold email">charlie@okeefe.com.ar</h5>
                    </ion-slide>
                    <ion-slide>
                        <div class="logo">
                            <img src="img/equipo3.png">
                        </div>
                        <h3 class="ok-color-green name">GEORGINA BADANO</h3>
                        <h4 class="ok-color-orange job">TITULAR DEL ESTUDIO JURÍDICO Y NOTARIAL BADANO & CIA</h4>
                        <h5>Abogada. Más de 35 años de trayectoria en asuntos inmobiliarios, de familia, sucesorios,
                            civiles y desarrollos inmobiliarios. Especialista en Fideicomisos.</h5>
                        <h5 class="ok-text-bold email">georgina@okeefe.com.ar</h5>
                    </ion-slide>
                    <ion-slide>
                        <div class="logo">
                            <img src="img/equipo1.png">
                        </div>
                        <h3 class="ok-color-green name">EDUARDO O'KEEFE</h3>
                        <h4 class="ok-color-orange job">GERENTE GENERAL</h4>
                        <h5>Martillero y Corredor Público. Administración y venta de campos y hacienda desde 1974.
                            Brooker y asesor en manejo de grandes terrenos para emprendimientos.</h5>
                        <h5 class="ok-text-bold email">eduardo@okeefe.com.ar</h5>
                    </ion-slide>
                </ion-slide-box>
            </div>
        </div>
        <!-- SLIDER EQUIPO -->
        <div class="row ok-footer-rural">
            <div class="col ok-img-list">
              <a target="_blank" href="https://www.facebook.com/okeefeinmobiliaria"><img src="img/facebook_r.png"></a>
              <a target="_blank" href="https://www.linkedin.com/company/335778?trk=prof-0-ovw-curr_pos"><img src="img/linkedin_r.png"></a>
              <a target="_blank" href="https://www.youtube.com/channel/UCht4TIqthbwx2QE82IhHXDg"><img src="img/youtube_r.png"></a>
            </div>
        </div>
    </ion-content>
</ion-view>
