<ion-view>
    <ion-nav-title>
        <img src="img/logoRural.png" class="ok-logo-img"/>
    </ion-nav-title>
    <ion-content>
        <div class="row padding">
            <h4 class="ok-color-green">2 ambientes con extraordinarias vistas y luminosidad</h4>
        </div>
        <ion-slide-box does-continue="true" auto-play="true">
            <ion-slide>
                <div class="box"><img src="img/propRural.png" style="width: 100%"/></div>
            </ion-slide>
            <ion-slide>
                <div class="box"><img src="img/propRural.png" style="width: 100%"/></div>
            </ion-slide>
        </ion-slide-box>
        <div class="row property-sheet-info ok-padding-top-0">
            <div class="col col-33 ok-ps-text ok-color-green">Conslte</div>
            <div class="col col-33 col-offset-10 ok-ps-text">ID 85934</div>
            <div class="col">
                <span class="icon-stack">
                 <i class="ion-ios-circle-outline icon-stack-back ok-color-grey"></i>
                 <i class="ion-android-favorite icon-stack-ico ok-color-orange"></i>
                </span>
            </div>
            <div class="col">
                <span class="icon-stack">
                 <i class="ion-ios-circle-outline icon-stack-back ok-color-grey"></i>
                 <i class="ion-android-share-alt icon-stack-ico ok-color-green"></i>
                </span>
            </div>
        </div>
        <div class="row property-sheet-info2 ok-padding-0">
            <div class="col col-40 ok-padding-0">
                <div class="card ok-margin-0 ">
                    <div class="item item-icon-left">
                        <img class="icon" ng-src="img/m2.svg">
                        140 Has
                    </div>
                </div>
            </div>
            <div class="col ok-padding-0">
                <div class="card ok-margin-0 ">
                    <div class="item item-icon-left ">
                        <img class="icon" ng-src="img/ambientes.svg">
                        Mixto
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ion-list class="ok-property-sheet-list">
                    <div class="ok-list-content" ng-repeat="item in list">
                        <ion-item class="item-stable ok-background-white"
                                  ng-click="toggleGroup(item)"
                                  ng-class="{active: isGroupShown(item)}">
                            <i class="icon ok-color-orange" ng-class="isGroupShown(item) ? 'ion-chevron-down' : 'ion-chevron-right'"></i>
                            &nbsp;
                            <span class="ok-color-green">{{item.name}}</span>
                        </ion-item>
                        <ion-item ng-if="item.id == 1" class="item-accordion ok-background-grey" ng-class="(item.padding) ? 'padding' : 'ok-padding-0'"
                                  ng-show="isGroupShown(item)">
                            <div ng-bind-html="item.data"></div>
                        </ion-item>
                        <ion-item ng-if="item.id == 2" class="item-accordion ok-background-grey" ng-class="(item.padding) ? 'padding' : 'ok-padding-0'"
                                  ng-show="isGroupShown(item)">
                            <div class="video-container"><iframe src="{{trustSrc(item.src)}}" frameborder="0" width="{{item.width}}" height="{{item.height}}"></iframe></div>
                        </ion-item>
                        <ion-item ng-if="item.id == 3" class="item-accordion ok-background-grey" ng-class="(item.padding) ? 'padding' : 'ok-padding-0'"
                                  ng-show="isGroupShown(item)">
                            <div class="row">
                                <div class="col ok-map-container ok-padding-0">
                                    <ui-gmap-google-map ng-cloak control="control" center="item.map.center" zoom="item.map.zoom" options="item.options">
                                        <ui-gmap-marker ng-repeat="marker in item.map.markers"
                                                        idkey="marker.id"
                                                        coords="marker.coords">
                                        </ui-gmap-marker>
                                    </ui-gmap-google-map>
                                </div>
                            </div>
                        </ion-item>
                        <ion-item ng-if="item.id == 4" class="item-accordion ok-background-grey" ng-class="(item.padding) ? 'padding' : 'ok-padding-0'"
                                  ng-show="isGroupShown(item)">
                            <ion-slide-box does-continue="true" auto-play="true" show-pager="false">
                                <ion-slide>
                                    <div class="box"><img src="img/slide1.jpg" style="width: 100%"/></div>
                                </ion-slide>
                                <ion-slide>
                                    <div class="box"><img src="img/slide2.jpg" style="width: 100%"/></div>
                                </ion-slide>
                            </ion-slide-box>
                        </ion-item>
                    </div>
                </ion-list>
            </div>
        </div>
        <div class="row ok-property-sheet-form-title">
            <h3 class="ok-color-green">¿QUERÉS SABER MÁS?</h3>
        </div>
        <div class="list list-inset ok-margin-top-0">
            <label class="item item-input ok-form-input">
                <input type="text" placeholder="Nombre">
            </label>
            <label class="item item-input ok-form-input">
                <input type="text" placeholder="Apellido">
            </label>
            <label class="item item-input ok-form-input">
                <input type="text" placeholder="Teléfono">
            </label>
            <label class="item item-input ok-form-input">
                <input type="text" placeholder="Celular">
            </label>
            <label class="item item-input ok-form-input">
                <input type="text" placeholder="Email">
            </label>
            <label class="item item-input ok-form-input">
                <textarea class="ok-investments-textarea" placeholder="Mensaje"></textarea>
            </label>
            <button class="button button-block button-positive ok-form-button">
                CONSULTAR
            </button>
        </div>
        <div class="row ok-footer-rural">
            <div class="col ok-img-list">
                <img src="img/facebook_r.png">
                <img src="img/linkedin_r.png">
                <img src="img/youtube_r.png">
            </div>
        </div>
    </ion-content>
</ion-view>