<ion-view>
    <ion-nav-title>
        <img ui-sref="rural.home" src="img/logoRural.png" class="ok-logo-img"/>
    </ion-nav-title>
    <ion-content>
        <div class="row ok-why-us-title">
            <div class="col">
                <h3 class="text-center ok-color-green">POR QUÉ VENDER</h3>
                <h3 class="text-center ok-color-green">CON NOSOTROS</h3>
            </div>
        </div>
        <div class="row">
            <div class="col ok-padding-0">
                <div class="video-container">
                    <iframe src="http://www.youtube.com/embed/dFVxGRekRSg" frameborder="0" width="560"
                            height="315"></iframe>
                </div>
            </div>
        </div>
        <!-- SERVICIOS -->
        <div class="row ok-investments-number" ng-repeat="item in data">
            <div class="col ok-background-grey ok-about-box">
                <div class="c-peq ok-background-white ok-padding-0">
                    <img src="{{item.image}}">
                </div>
                <h4 class="text-center">{{item.title}}</h4>
                <p class="text-center">{{item.subtitle}}</p>
            </div>
        </div>
        <!-- SERVICIOS-->
        <div class="row ok-footer-rural">
            <div class="col ok-img-list">
              <a target="_blank" href="https://www.facebook.com/okeefeinmobiliaria"><img src="img/facebook_r.png"></a>
              <a target="_blank" href="https://www.linkedin.com/company/335778?trk=prof-0-ovw-curr_pos"><img src="img/linkedin_r.png"></a>
              <a target="_blank" href="https://www.youtube.com/channel/UCht4TIqthbwx2QE82IhHXDg"><img src="img/youtube_r.png"></a>
            </div>
        </div>
    </ion-content>
</ion-view>
