<div class="banner-qs">
    <div class="row">
        <img class="img-responsive" src="assets/img/banner-rural-about.png">
        <span class="caption-rural">
            LOREM IPSUM IS SIMPLY DUMMY TEXT OF THE
        </span>
    </div>
</div>

<div class="row bloque-form">
    <div class="col-md-12">
        <span class="subt-rural">XXXXXXXXXXXXXXXXXXXXXXXXXXXXX</span>
    </div>
    <div class="col-md-12 padding-0 form-work">
        <div class="form-contact">
            <form class="f_contacto">
                <div class="col-xs-6">
                    <input class="form-control custom" type="text" name="nombre" placeholder="Nombre">
                    <input class="form-control custom" type="text" name="telefono" placeholder="Telefono">
                    <input class="form-control custom" type="text" name="apellido" placeholder="Apellido">
                    <input class="form-control custom" type="text" name="celular" placeholder="Celular">
                    <input class="form-control custom" type="text" name="email" placeholder="E-mail">
                </div>
                <div class="col-xs-6">
                    <input class="form-control custom" type="text" name="campo" placeholder="Datos del Campo">
                    <input class="form-control custom" type="text" name="zona" placeholder="Zona">
                    <textarea class="form-control custom descrip-form-rural" name="mensaje" placeholder="Descripción"></textarea>
                </div>
                <div class="col-xs-4 col-xs-offset-8">
                    <button class="btn btn-verde pull-right" type="submit">BUSCAR CAMPOS</button>
                    <button class="btn btn-gris pull-right button-margin" type="submit">OFRECER CAMPOS</button>
                </div>
            </form>
        </div>
    </div>
</div>
