<!DOCTYPE html>
<html ng-app="okeefeSite" ng-controller="indexController">
<head>
    <title ng-cloak>{{title}} {{subtitle}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!--<base href="http://localhost:8080/Lyncros/Okeefe/site/">-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-switch.css">
    <link rel="stylesheet" type="text/css" href="assets/css/jquery.flex-images.css">
    <link rel="stylesheet" type="text/css" href="bower_components/fancybox-plus/css/jquery.fancybox-plus.css">
    <link rel="stylesheet" type="text/css" href="assets/css/wowslider.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/sitio.css">

    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>

    <script type='text/javascript'>
        if ((navigator.userAgent.match(/iPhone/i)) || (navigator.userAgent.match(/iPod/i))) {
            document.location = "http://m.okeefe.com.ar/";
        }
        if (screen.width <= 699) {
            document.location = "http://m.okeefe.com.ar/";
        }
    </script>
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-    ng-cloak {
            display: none !important;
        }
    </style>
</head>
<body>
<div class="overlay-premium"></div>
<div class="encabezado" ng-cloak>
    <div ng-if="$route.current.site == 'urbano'" class="container-fluid">
        <div class="row">
            <div class="logo col-lg-3">
                <div class="img-logo">
                    <a href="#!/inicio"><img class="img-responsive" src="assets/img/logos-okeefe-urbano.png"></a>
                </div>
            </div>
            <div class="grupo-enc">
                <div class="btn_contacto col-lg-2 col-lg-12 pull-right">
                    <a ng-click="scrollTo('contact_form')" class="btn btn-verde btn-block btn-lg" role="button">CONTACTO</a>
                </div>
                <div class="menu text-center pull-right">
                    <div class="item">
                        <a href="#!/rural">Rural</a>
                    </div>
                    <div class="item">
                        <a ng-class="{active: $route.current.activetab == 'inversiones'}" href="#!/inversiones">Inversiones</a>
                    </div>
                    <div class="item">
                        <a ng-class="{active: $route.current.activetab == 'tasaciones'}"
                           href="#!/tasaciones">Tasaciones</a>
                    </div>
                    <div class="item">
                        <a ng-class="{active: $route.current.activetab == 'noticias'}" href="#!/noticias">Noticias</a>
                    </div>
                    <div class="item" ng-if="!isLogged">
                        <a href="" ng-click="register()">Registrarse</a>
                    </div>
                    <div class="item i5 dropdown" ng-if="isLogged">
                        <div style="cursor: pointer;" class="dropdown-toggle" type="button" id="dropdownMenu1"
                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            &nbsp <b>{{user.nombre}}</b>
                            <span class="caret"></span>
                        </div>
                        <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
                            <li><a ng-click="editAccount('data')" href=""><i class="glyphicon glyphicon-user"></i> Mis Datos</a></li>
                            <li><a ng-click="editAccount('fav')" href=""><i class="glyphicon glyphicon-heart"></i> Mis Favoritos</a></li>
                            <li><a ng-click="editAccount('appr')" href=""><i class="fa fa-money"></i> Tasaciones</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="" ng-click="doLogout()">Cerrar sesion</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <form class="filtros" ng-submit="searchProp()">
                <div class="col-lg-3 col-lg-12">
                    <label class="flecha-select lg">
                        <select ng-change="validateOper()" ng-model="searchParam.oper" ng-disabled="disabled"
                                class="form-control input-lg custom"
                                uib-tooltip="Debe seleccionar una Operación"
                                tooltip-placement="bottom"
                                tooltip-is-open="!searchParam.oper && searchParam.error"
                                tooltip-trigger="'none'">
                            <option ng-if="!searchParam.oper" value="" selected>Operación</option>
                            <option value="Venta">Venta</option>
                            <option value="Compra">Compra</option>
                            <option value="Alquiler">Alquiler</option>
                            <option value="Alquiler Temporario">Alquiler Temporario</option>
                        </select>
                    </label>
                </div>
                <div class="col-lg-3 col-lg-12">
                    <label class="flecha-select lg">
                        <!-- Single button using template-url -->
                        <div style="height: auto;" class="form-control btn-group col-lg-12 padding-0" uib-dropdown
                             uib-tooltip="Debe seleccionar un Tipo de Inmueble"
                             tooltip-placement="top"
                             tooltip-is-open="!searchParam.property && searchParam.error"
                             tooltip-trigger="'none'">
                            <button type="button" class="btn btn-select-menu" uib-dropdown-toggle
                                    ng-disabled="disabled">
                                <span ng-show="!searchParam.property">Tipo de Inmueble</span>
                                <span ng-show="searchParam.property">{{searchParam.property}}</span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu
                                template-url="templates/modals/propertySelect.html"
                                aria-labelledby="button-template-url">
                            </ul>
                        </div>
                    </label>
                </div>
                <div class="col-lg-4 col-lg-12">
                    <div class="col-lg-8 col-lg-12 padding-0">
                        <input ng-model="$parent.loc" class="form-control input-lg custom" type="text"
                               uib-typeahead="loc.label as loc.text for loc in getLocation($viewValue)"
                               typeahead-min-length="4"
                               typeahead-wait-ms="2000"
                               typeahead-loading="loadingLocations"
                               typeahead-no-results="noResults"
                               placeholder="Zona|Emprendimiento"
                               uib-tooltip="Debe seleccionar una Zona|Emprendimiento"
                               typeahead-on-select="selectedZone($item, $model, $label)"
                               tooltip-placement="bottom"
                               tooltip-is-open="!$parent.loc && !searchParam.zona && searchParam.error"
                               tooltip-trigger="'none'">
                        <img ng-show="loadingLocations" src="assets/img/loadingif2.gif"/>
                        <div ng-show="noResults">
                            <i class="glyphicon glyphicon-remove"></i> No se encontraron resultados
                        </div>
                    </div>
                    <div class="col-lg-4 col-lg-12">
                        <label for="emp_check" class="ok-emp-label css-label col-lg-12 text-center padding-0">Emprendimiento</label>
                        <div class="col-lg-12 text-center">
                            <input id="emp_check" bs-switch ng-model="searchParam.empr" type="checkbox"
                                   switch-size="mini"
                                   switch-on-color="normal"
                                   switch-off-color="default"
                                   switch-on-text="<span class='fa fa-check'></span>"
                                   switch-off-text="<span class='fa fa-close'></span>" ng-true-value="1"
                                   ng-false-value="0">
                        </div>
                    </div>
                </div>
                <div class="btn_buscar col-lg-2 col-lg-12 pull-right">
                    <button type="submit" class="btn btn-naranja btn-block btn-lg">BUSCAR</button>
                </div>
            </form>
        </div>
    </div>
    <div ng-if="$route.current.site == 'rural'" class="container-fluid">
        <div class="row">
            <div class="logo col-lg-3">
                <div class="img-logo">
                    <a href="#!/rural"><img class="img-responsive" src="assets/img/logos-okeefe-rural.png"></a>
                </div>
            </div>
            <div class="grupo-enc">
                <div class="btn_contacto col-lg-2 col-lg-12 pull-right">
                    <a ng-click="scrollTo('contact_form')" class="btn btn-verde btn-block btn-lg"
                       role="button">CONTACTO</a>
                </div>
                <div class="menu text-center pull-right">
                    <div class="item">
                        <a href="#!/">Home</a>
                    </div>
                    <!--<div class="item">
                        <a href="#!/subdivisiones">Subdivisiones</a>
                    </div>
                    <div class="item">
                        <a href="#!/arrendamientos">Arrendamientos</a>
                    </div>-->
                    <div class="item">
                        <a ng-class="{active: $route.current.activetab == 'servicios'}" href="#!/rural/servicios">Servicios</a>
                    </div>
                    <div class="item">
                        <a ng-class="{active: $route.current.activetab == 'tasaciones'}"
                           href="#!/rural/tasaciones">Tasaciones</a>
                    </div>
                    <!--<div class="item">
                        <a href="#!/rural/noticias">News</a>
                    </div>-->
                    <div class="item" ng-if="!isLogged">
                        <a href="" ng-click="register()">Registrarse</a>
                    </div>
                    <div class="item dropdown" ng-if="isLogged">
                        <div style="cursor: pointer;" class="dropdown-toggle" type="button" id="dropdownMenu1"
                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            &nbsp <b>{{user.nombre}}</b>
                            <span class="caret"></span>
                        </div>
                        <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
                            <li><a ng-click="editAccount('data')" href=""><i class="glyphicon glyphicon-user"></i> Mis
                                Datos</a></li>
                            <li><a ng-click="editAccount('fav')" href=""><i class="glyphicon glyphicon-heart"></i> Mis
                                Favoritos</a></li>
                            <li><a ng-click="editAccount('appr')" href=""><i class="fa fa-money"></i> Tasaciones</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a href="" ng-click="doLogout()">Cerrar sesion</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <form class="filtros" ng-submit="searchRuralProp()">
                <div class="col-lg-3 col-lg-12">
                    <label class="flecha-select lg">
                        <select ng-change="selectRuralOper()" ng-model="searchRuralParam.oper" ng-disabled="disabled"
                                class="form-control input-lg custom"
                                uib-tooltip="Debe seleccionar una Operación"
                                tooltip-placement="bottom"
                                tooltip-is-open="!searchRuralParam.oper && searchRuralParam.error"
                                tooltip-trigger="'none'">
                            <option ng-if="!searchRuralParam.oper" value="" selected>Operación</option>
                            <option value="Compra">Compra</option>
                            <option value="Alquiler">Alquiler</option>
                        </select>
                    </label>
                </div>
                <div class="col-lg-3 col-lg-12">
                    <label class="flecha-select lg">
                        <select ng-change="selectRuralProperty(searchRuralParam.property)" ng-model="searchRuralParam.property"
                                class="form-control input-lg custom"
                                uib-tooltip="Debe seleccionar una Propiedad"
                                tooltip-placement="bottom"
                                tooltip-is-open="!searchRuralParam.oper && searchRuralParam.error"
                                tooltip-trigger="'none'">
                            <option ng-if="!searchRuralParam.property" value="" selected>Tipo de Propiedad</option>
                            <option value="Todos">Todos</option>
							<option value="Campos">Campos</option>
                            <option value="Chacras">Chacras</option>
                            <option value="Quintas">Quintas</option>
                        </select>
                    </label>
                </div>
                <div class="col-lg-4 col-lg-12">
                    <input ng-model="$parent.loc" class="form-control input-lg custom" type="text"
                           uib-typeahead="loc.label as loc.text for loc in getRuralLocation($viewValue)"
                           typeahead-min-length="4"
                           typeahead-wait-ms="2000"
                           typeahead-loading="loadingLocations"
                           typeahead-no-results="noResults"
                           typeahead-on-select="selectedZone($item, $model, $label)"
                           placeholder="Zona"
                           uib-tooltip="Debe seleccionar una Zona"
                           tooltip-placement="bottom"
                           tooltip-is-open="!$parent.loc && !searchRuralParam.zona && searchRuralParam.error"
                           tooltip-trigger="'none'">
                    <img ng-show="loadingLocations" src="assets/img/loadingif2.gif"/>
                    <div ng-show="noResults">
                        <i class="glyphicon glyphicon-remove"></i> No se encontraron resultados
                    </div>
                </div>
                <div class="btn_buscar col-lg-2 col-lg-12 pull-right">
                    <button type="submit" class="btn btn-naranja btn-block btn-lg">BUSCAR</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="todo container-fluid">
    <div id="siteContent" ng-view autoscroll="true" ng-cloak>
        <!-- Site content -->
    </div>
    <!---FOOTER-->
    <div class="row footer" ng-cloak>
        <div class="col-lg-3 padding-left-0">
            <img ng-if="$route.current.site == 'urbano'" class="img-responsive foot-logo" src="assets/img/logos-okeefe-urbano.png">
			<img ng-if="$route.current.site == 'rural'" class="img-responsive foot-logo" src="assets/img/logos-okeefe-rural.png">
			<!--<img ng-if="$route.current.site == 'rural'" class="img-responsive foot-logo logo-cair" src="assets/img/cair.jpg">-->
            <div ng-if="$route.current.site == 'urbano'" class="col-lg-5 enlaces padding-left-0">
                <a class="col-lg-12 padding-left-0" href="#!/quienes-somos">Nosotros</a>
                <a class="col-lg-12 padding-left-0" href="#!/quienes-somos#servicios">Servicios</a>
                <a class="col-lg-12 padding-left-0" href="#!/tasaciones">Tasaciones</a>
                <a class="col-lg-12 padding-left-0" ng-click="scrollTo('contact_form')">Contacto</a>
                <!--<a class="col-lg-12 padding-left-0" href="#">Sitemap</a>-->
            </div>
            <!--<div ng-if="$route.current.site == 'urbano'" class="col-lg-6 enlaces">
                <a class="col-lg-12 padding-left-0" href="#">Rural</a>
                <a class="col-lg-12 padding-left-0" href="#">Residencial</a>
                <a class="col-lg-12 padding-left-0" href="#">Comercial</a>
                <a class="col-lg-12 padding-left-0" href="#">Eprendimientos</a>
                <a class="col-lg-12 padding-left-0" href="#">Industrial</a>
            </div>-->
            <div ng-if="$route.current.site == 'rural'" class="col-lg-5 enlaces padding-left-0">
                <ul>
                    <a class="col-lg-12 padding-left-0" href="#!/rural/quienes-somos">Nosotros</a>
                    <a class="col-lg-12 padding-left-0" href="#!/rural/quienes-somos#servicios">Servicios</a>
                    <a class="col-lg-12 padding-left-0" href="#!/rural/tasaciones">Tasaciones</a>
                    <a class="col-lg-12 padding-left-0" ng-click="scrollTo('contact_form')">Contacto</a>
                </ul>
            </div>
            <div class="col-lg-12 foot-datos">
                <address>
                    <small>
                        <strong>Oficina central: </strong>Mitre 491 Quilmes <br>
                        <strong>Tel: </strong> 5411 4253-3961<br>
                        <strong>email: </strong> inmobiliaria@okeefe.com.ar<br>
                    </small>
                </address>

                <div class="redes">
                    <div class="red">
                        <a target="_blank" href="https://www.facebook.com/okeefeinmobiliaria">
                            <img ng-if="$route.current.site == 'urbano'" class="img-responsive" src="assets/img/FACEBOOK.svg">
                            <img ng-if="$route.current.site == 'rural'" class="img-responsive" src="assets/img/FACEBOOK_r.png">
                        </a>
                    </div>
                    <div class="red">
                        <a target="_blank" href="https://www.linkedin.com/company/335778?trk=prof-0-ovw-curr_pos">
                            <img ng-if="$route.current.site == 'urbano'" class="img-responsive" src="assets/img/LINKEDIN.svg">
                            <img ng-if="$route.current.site == 'rural'" class="img-responsive" src="assets/img/LINKEDIN_r.png">
                        </a>
                    </div>
                    <div class="red">
                        <a target="_blank" href="https://www.youtube.com/channel/UCht4TIqthbwx2QE82IhHXDg">
                            <img ng-if="$route.current.site == 'urbano'" class="img-responsive" src="assets/img/YOUTUBE.svg">
                            <img ng-if="$route.current.site == 'rural'" class="img-responsive" src="assets/img/YOUTUBE_r.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-lg-offset-1">
            <div id="slider-mapas" class="carousel slide slider-maps" data-ride="carousel">
                <h5>Nuestras oficinas</h5>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item mapa" ng-class="{'active': $first}" ng-repeat="map in maps track by $index">
                        <ui-gmap-google-map control="map.control" ng-cloak center="map.center" zoom="map.zoom"
                                            options="options">
                            <ui-gmap-marker ng-repeat="marker in map.markers"
                                            idkey="marker.id"
                                            coords="marker.coords"
                            >
                            </ui-gmap-marker>
                        </ui-gmap-google-map>
                        <span class="enlace-sucursal"><h3>{{map.name}}</h3></span>
                    </div>
                </div>
                <!-- Controls -->
                <a class="right carousel-control" href=".slider-maps" ng-non-bindable role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-lg-4 padding-right-0">
            <h5 id="contact_form">Formulario de consultas</h5>
            <div class="row" ng-show="alert != null">
                <div uib-alert ng-class="'alert-' + (alert.type || 'warning')" close="alert = null">{{alert.msg}}</div>
            </div>
            <form novalidate ng-submit="contactForm($event)" name="footer_Form" class="f_contacto">
                <input id="nombre" class="form-control custom" type="text" ng-model="footerForm.nombre"
                       name="nombre" placeholder="Nombre"
                       uib-tooltip="Debe ingresar su nombre"
                       tooltip-placement="left"
                       tooltip-is-open="!footerForm.nombre && footerForm.error"
                       tooltip-trigger="'none'">
                <input class="form-control custom" type="text" ng-model="footerForm.apellido" name="apellido"
                       placeholder="Apellido"
                       uib-tooltip="Debe ingresar su apellido"
                       tooltip-placement="left"
                       tooltip-is-open="!footerForm.apellido && footerForm.error"
                       tooltip-trigger="'none'">
                <input class="form-control custom" type="text" ng-model="footerForm.telefono" name="telefono"
                       placeholder="Telefono"
                       uib-tooltip="Debe ingresar un número de teléfono"
                       tooltip-placement="left"
                       tooltip-is-open="!footerForm.telefono && footerForm.error"
                       tooltip-trigger="'none'">
                <input class="form-control custom" type="text" ng-model="footerForm.celular" name="celular"
                       placeholder="Celular"
                       uib-tooltip="Debe ingresar un número de celular"
                       tooltip-placement="left"
                       tooltip-is-open="!footerForm.celular && footerForm.error"
                       tooltip-trigger="'none'">
                <input class="form-control custom" type="email" ng-model="footerForm.email" name="email"
                       placeholder="E-mail"
                       uib-tooltip="Debe ingresar un email válido"
                       tooltip-placement="left"
                       tooltip-is-open="(!footerForm.email && footerForm.error) || !footer_Form.email.$valid"
                       tooltip-trigger="'none'">
                <textarea class="form-control custom" ng-model="footerForm.comentarios" name="comentarios"
                          placeholder="Mensaje"
                          uib-tooltip="Debe escribir un mensaje"
                          tooltip-placement="left"
                          tooltip-is-open="!footerForm.comentarios && footerForm.error"
                          tooltip-trigger="'none'"></textarea>
                <div class="checkbox">
                    <div class="col-lg-8 padding-0">
                        <div class="check-button text-center padding-0">
                            <input id="newsletter" bs-switch ng-model="footerForm.newsletter" type="checkbox"
                                   switch-size="small"
                                   switch-on-color="normal"
                                   switch-off-color="default"
                                   switch-on-text="<span class='fa fa-check'></span>"
                                   switch-off-text="<span class='fa fa-close'></span>" ng-true-value="1"
                                   ng-false-value="0">
                        </div>
                        <label for="newsletter" class="col-lg-8">Suscribirme al Newsletter</label>
                    </div>
                    <div class="col-lg-4 pull-right padding-right-0">
                        <button class="btn btn-block" ng-class="{'btn-verde' : $route.current.site == 'urbano','btn-negro' : $route.current.site == 'rural'}" type="submit" ng-disabled="footer_Form.$error.email">ENVIAR</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div ng-if="$route.current.site == 'rural'" class="row art-footer" ng-cloak>
        <div class="img-footer"></div>
    </div>
</div>
<div class="encabezado" ng-show="::false">
    <div class="container-fluid">
        <div class="row">
            <div class="logo col-lg-3">
                <div class="img-logo">
                    <img class="img-responsive" src="assets/img/logos-okeefe-urbano.png">
                </div>
            </div>
            <div class="grupo-enc">
                <div class="btn_contacto col-lg-2 col-lg-12 pull-right">
                    <a ng-click="scrollTo('contact_form')" class="btn btn-verde btn-block btn-lg" role="button">CONTACTO</a>
                </div>
                <div class="menu text-center pull-right">
                    <div class="item">
                        <a href="#!/rural">Rural</a>
                    </div>
                    <div class="item">
                        <a ng-class="{active: $route.current.activetab == 'inversiones'}" href="#!/inversiones">Inversiones</a>
                    </div>
                    <div class="item">
                        <a ng-class="{active: $route.current.activetab == 'tasaciones'}"
                           href="#!/tasaciones">Tasaciones</a>
                    </div>
                    <div class="item">
                        <a ng-class="{active: $route.current.activetab == 'noticias'}" href="#!/noticias">Noticias</a>
                    </div>
                    <div class="item">
                        <a href="" ng-click="register()">Registrarse</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <img style="margin-top: 30vh;margin-left: 80vh;" src="assets/img/loadingif.gif"/>
            </div>
        </div>
    </div>

</div>
</body>
<!-- JS -->
<script src="assets/js/jquery/jquery-1.11.2.min.js"></script>
<script src="assets/js/jquery/bootstrap.min.js"></script>
<script src="assets/js/angular/base/lodash.min.js"></script>
<script src="assets/js/angular/base/angular.min.js"></script>
<script src="assets/js/angular/base/angular-simple-logger.min.js"></script>
<script src="assets/js/angular/base/angular-google-maps.min.js"></script>
<script src="assets/js/angular/base/angular-animate.min.js"></script>
<script src="assets/js/angular/base/angular-route.min.js"></script>
<script src="assets/js/angular/base/angular-sanitize.min.js"></script>
<script src="assets/js/angular/base/ui-bootstrap-tpls.min.js"></script>
<script src="assets/js/plugins/jquery.flex-images.min.js"></script>
<script src="bower_components/fancybox-plus/dist/jquery.fancybox-plus.min.js"></script>
<script src="bower_components/angular-fancybox-plus/js/angular-fancybox-plus.js"></script>
<script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.min.js"></script>
<script src="assets/js/plugins/isotope.js"></script>
<script src="assets/js/plugins/angular-socialshare.js"></script>
<script src="assets/js/plugins/imagesloaded.pkgd.min.js"></script>
<script src="assets/js/plugins/bootstrap-switch.min.js"></script>
<script src="assets/js/plugins/angular-bootstrap-switch/dist/angular-bootstrap-switch.js"></script>
<script src="assets/js/plugins/wowslider.js"></script>
<script src="assets/js/plugins/satellizer.js" charset="utf-8"></script>
<script src="assets/js/plugins/angular-toastr/dist/angular-toastr.tpls.js"></script>
<script src="assets/js/plugins/angular-gravatar.js"></script>
<script src='bower_components/angular-bootstrap-file-field/dist/angular-bootstrap-file-field.min.js'></script>
<script src="//www.google.com/recaptcha/api.js?render=explicit&onload=vcRecaptchaApiLoaded" async defer></script>
<script src="bower_components/angular-recaptcha/release/angular-recaptcha.min.js"></script>
<script src="assets/js/angular/app.js"></script>

<!--Angular Services -->
<script src="assets/js/angular/services/entitiesService.js"></script>
<script src="assets/js/angular/services/dictionaryFactory.js"></script>
<script src="assets/js/angular/services/defaultFactory.js"></script>
<script src="assets/js/angular/services/searchApiService.js"></script>
<script src="assets/js/angular/services/okeefeApiService.js"></script>
<script src="assets/js/angular/services/userService.js"></script>
<script src="assets/js/angular/services/favoritesService.js"></script>

<!--Angular Controllers -->
<script src="assets/js/angular/controllers/indexController.js"></script>
<script src="assets/js/angular/controllers/userController.js"></script>
<script src="assets/js/angular/controllers/homeController.js"></script>
<script src="assets/js/angular/controllers/investmentsController.js"></script>
<script src="assets/js/angular/controllers/appraisalsController.js"></script>
<script src="assets/js/angular/controllers/newsController.js"></script>
<script src="assets/js/angular/controllers/propertiesController.js"></script>
<script src="assets/js/angular/controllers/propertySheetController.js"></script>
<script src="assets/js/angular/controllers/ventureSheetController.js"></script>
<script src="assets/js/angular/controllers/aboutController.js"></script>
<script src="assets/js/angular/controllers/workWithUsController.js"></script>

<!-- Angular Constants -->
<script src="assets/js/angular/constants/configConstants.js"></script>

<!-- Angular Directives -->
<script src="assets/js/angular/directives/checkLogin.js"></script>
<script src="assets/js/angular/directives/customDirectives.js"></script>

<!--RURAL-->
<!--Angular Services -->
<script src="assets/js/angular/services/rural/entitiesService.js"></script>
<script src="assets/js/angular/services/rural/dictionaryFactory.js"></script>
<script src="assets/js/angular/services/rural/defaultFactory.js"></script>
<script src="assets/js/angular/services/rural/searchApiService.js"></script>
<script src="assets/js/angular/services/rural/okeefeApiService.js"></script>
<script src="assets/js/angular/services/rural/userService.js"></script>
<script src="assets/js/angular/services/rural/favoritesService.js"></script>

<!--Angular Controllers -->
<script src="assets/js/angular/controllers/rural/homeController.js"></script>
<script src="assets/js/angular/controllers/rural/appraisalsController.js"></script>
<script src="assets/js/angular/controllers/rural/servicesController.js"></script>
<script src="assets/js/angular/controllers/rural/newsController.js"></script>
<script src="assets/js/angular/controllers/rural/propertiesController.js"></script>
<script src="assets/js/angular/controllers/rural/propertySheetController.js"></script>
<script src="assets/js/angular/controllers/rural/aboutController.js"></script>
<script src="assets/js/angular/controllers/rural/workWithUsController.js"></script>

</html>
