<div class="banner-qs">
    <div class="row">
        <img class="img-responsive" src="assets/img/banner-qs.png">
				<span class="caption">
					DISTINTAS ÁREAS, EL MISMO PROFESIONALISMO
				</span>
    </div>
</div>

<div id="servicios" class="bloque1">
    <div class="row">
        <div class="col-xs-3 bloque">
            <div class="ico center-block">
                <img class="img-responsive" src="assets/img/ase.svg">
            </div>
            <h4>ASESORAMIENTO</h4>
            <p>MARKETING INMOBILIARIO</p>
            <p>INVERSIONES INMOBILIARIAS</p>
            <p>Y AGROPECUARIAS</p>
        </div>
        <div class="col-xs-3 bloque">
            <div class="ico center-block">
                <img class="img-responsive" src="assets/img/adm.svg">
            </div>
            <h4>ADMINISTRACIÓN</h4>
            <p>COBRO DE ALQUILERES</p>
            <p>CONTROL DE GASTOS</p>
            <p>LIQUIDACIONES</p>
        </div>
        <div class="col-xs-3 bloque">
            <div class="ico center-block">
                <img class="img-responsive" src="assets/img/com.svg">
            </div>
            <h4>COMERCIALIZACIÓN</h4>
            <p>TASACIONES</p>
            <p>COMPRAS - VENTAS</p>
            <p>ALQUILERES</p>
        </div>
        <div class="col-xs-3 bloque">
            <div class="ico center-block">
                <img class="img-responsive" src="assets/img/cons.svg">
            </div>
            <h4>CONSULTORÍA</h4>
            <p>ESTRUCTURACIÓN DE INVERSIONES</p>
            <p>VIABILIDAD COMERCIAL</p>
            <p>DE PROYECTOS</p>
        </div>
    </div>
</div>

<div class="bloque2">
    <div class="row">
        <div class="col-xs-12">
            <h2>UN EQUIPO COMPROMETIDO CON VOS</h2>
        </div>
    </div>
    <div class="row">
        <div id="slider-equipo" class="carousel slide slider-equipo" data-ride="carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <!-- SLIDE -->
                <div class="item active">
                    <div class="col-xs-4 ficha">
                        <div class="img-equipo center-block">
                            <img class="img-responsive" src="assets/img/equipo1.png">
                        </div>
                        <div class="descripcion text-center">
                            <h4>EDUARDO O'KEEFE</h4>
                            <span class="cargo">GERENTE GENERAL</span>
                            <p class="d">Martillero y Corredor Público.
                                Administración y venta de campos y hacienda desde 1974.
                                Brooker y asesor en manejo de grandes
                                terrenos para emprendimientos.</p>
                        </div>
                        <p class="email"><strong>eduardo@okeefe.com.ar</strong></p>
                    </div>
                    <div class="col-xs-4 ficha mid">
                        <div class="img-equipo center-block">
                            <img class="img-responsive" src="assets/img/equipo2.png">
                        </div>
                        <div class="descripcion text-center">
                            <h4>CHARLIE O'KEEFE</h4>
                            <span class="cargo">DIRECTOR FINANCIERO</span>
                            <p class="d">Encargado de la División Comercial.
                                Martillero Público</p>
                        </div>
                        <p class="email"><strong>charlie@okeefe.com.ar</strong></p>
                    </div>
                    <div class="col-xs-4 ficha">
                        <div class="img-equipo center-block">
                            <img class="img-responsive" src="assets/img/equipo3.png">
                        </div>
                        <div class="descripcion text-center">
                            <h4>GEORGINA BADANO</h4>
                            <span class="cargo">TITULAR DEL ESTUDIO JURÍDICO Y NOTARIAL BADANO & CIA</span>
                            <p class="d">Abogada. Más de 35 años de trayectoria
                                en asuntos inmobiliarios, de familia,
                                sucesorios, civiles y desarrollos inmobi-
                                liarios. Especialista en Fideicomisos.</p>
                        </div>
                        <p class="email"><strong>georgina@okeefe.com.ar</strong></p>
                    </div>
                </div>
                <!-- SLIDE -->
                <div class="item">
                    <div class="col-xs-4 ficha">
                        <div class="img-equipo center-block">
                            <img class="img-responsive" src="assets/img/equipo1.png">
                        </div>
                        <div class="descripcion text-center">
                            <h4>EDUARDO O'KEEFE</h4>
                            <span class="cargo">GERENTE GENERAL</span>
                            <p class="d">Martillero y Corredor Público.
                                Administración y venta de campos y hacienda desde 1974.
                                Brooker y asesor en manejo de grandes
                                terrenos para emprendimientos.</p>
                        </div>
                        <p class="email"><strong>eduardo@okeefe.com.ar</strong></p>
                    </div>
                    <div class="col-xs-4 ficha mid">
                        <div class="img-equipo center-block">
                            <img class="img-responsive" src="assets/img/equipo2.png">
                        </div>
                        <div class="descripcion text-center">
                            <h4>CHARLIE O'KEEFE</h4>
                            <span class="cargo">DIRECTOR FINANCIERO</span>
                            <p class="d">Encargado de la División Comercial.
                                Martillero Público</p>
                        </div>
                        <p class="email"><strong>charlie@okeefe.com.ar</strong></p>
                    </div>
                    <div class="col-xs-4 ficha">
                        <div class="img-equipo center-block">
                            <img class="img-responsive" src="assets/img/equipo3.png">
                        </div>
                        <div class="descripcion text-center">
                            <h4>GEORGINA BADANO</h4>
                            <span class="cargo">TITULAR DEL ESTUDIO JURÍDICO Y NOTARIAL BADANO & CIA</span>
                            <p class="d">Abogada. Más de 35 años de trayectoria
                                en asuntos inmobiliarios, de familia,
                                sucesorios, civiles y desarrollos inmobi-
                                liarios. Especialista en Fideicomisos.</p>
                        </div>
                        <p class="email"><strong>georgina@okeefe.com.ar</strong></p>
                    </div>
                </div>
                <!-- SLIDE -->
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href=".slider-equipo" ng-non-bindable role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="right carousel-control" href=".slider-equipo" ng-non-bindable role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
            </a>
        </div>
    </div>
</div>

<div class="titulo-b3">
    <div class="row">
        <div class="col-xs-12">
            <h2>40 AÑOS DE ESFUERZO, VISIÓN Y DIVERSIDAD</h2>
        </div>
    </div>
</div>

<div class="bloque3" id="trayectoria">
    <div class="row">
        <div class="flex-images">
            <div class="item" data-w="533" data-h="349"><img src="assets/img/somos/somos1.png">
                <div class="detalle">
                    <p><strong>INVERSIÓN</strong></p>
                    <p><strong>CONSTANTE EN</strong></p>
                    <p><strong>TECNOLOGÍA</strong></p>
                </div>
            </div>
            <div class="item" data-w="533" data-h="349">
                <img src="assets/img/somos/somos2.png">
            </div>
            <div class="item" data-w="533" data-h="349"><img src="assets/img/somos/somos3.png">
                <div class="detalle">
                    <p><strong>ASESORES EN</strong></p>
                    <p><strong>INVERSIONES INMOBILIARIAS</strong></p>
                    <p><strong>ESPERÁNDOLOS</strong></p>
                </div>
            </div>
            <div class="item" data-w="533" data-h="349">
                <img src="assets/img/somos/somos4.png">
            </div>
            <div class="item" data-w="533" data-h="349"><img src="assets/img/somos/somos5.png">
                <div class="detalle">
                    <p><strong>SERVICIO PERSONALIZADO</strong></p>
                    <p><strong>Y ATENTO A SUS</strong></p>
                    <p><strong>NECESIDADES</strong></p>
                </div>
            </div>
            <div class="item" data-w="533" data-h="349"><img src="assets/img/somos/somos6.png">
                <div class="detalle">
                    <p><strong>MÁS DE 5.000</strong></p>
                    <p><strong>PROPIEDADES</strong></p>
                    <p><strong>A LA VENTA</strong></p>
                </div>
            </div>
            <div class="item" data-w="533" data-h="349"><img src="assets/img/somos/somos7.png">
                <div class="detalle">
                    <p><strong>MÁS DE 70.000</strong></p>
                    <p><strong>CONTACTOS EN NUESTRA</strong></p>
                    <p><strong>BASE DE DATOS</strong></p>
                </div>
            </div>
            <div class="item" data-w="533" data-h="349"><img src="assets/img/somos/somos8.png">
                <div class="detalle">
                    <p><strong>MÁS DE 1.500 CAMPOS</strong></p>
                    <p><strong>COMERCIALIZADOS</strong></p>
                </div>
            </div>
            <div class="item" data-w="533" data-h="349">
                <img src="assets/img/somos/somos9.png">
            </div>
        </div>
    </div>
</div>

<div class="texto-b3 text-justify">
    <p>
        Con una historia que, en sus inicios, poco tenía que ver con el concepto del Real Estate moderno, el camino profesional de Eduardo O'Keefe comienza en el año 1973 con la venta del primer campo. A partir de ese momento, el crecimiento de la inmobiliaria Rural se fue dando naturalmente y basado principalmente en el trabajo duro, muy duro.
    </p>
    <p>
        Con la división rural ya funcionando, en el año 1984, y con la participación de Charlie O'Keefe, la empresa comienza a incursionar en la venta de propiedades en la Ciudad de Quilmes, el propio partido donde aún vivimos. Con el tiempo, varios integrantes de la familia se fueron sumando al equipo O'Keefe para aportar diversidad de conocimientos y dinamismo a la empresa. Actualmente, Eduardo trabaja codo a codo con su hermano y sus hijos, pero él, como todo emprendedor de alma, sigue encabezando el equipo, timoneando todas las tormentas y definiendo el camino a seguir. "La gran diferencia es que comencé solo y hoy, además de familia, somos un equipo", dice Eduardo.
    </p>
    <p>
        Desde el inicio de las nuevas urbanizaciones como Barrios Cerrados, Clubes de Campo y Countries, O'Keefe acompañó comercialmente a varios emprendimientos, tales como, "Las Malvinas" en el Partido de Brandsen, "Village del Parque" en la zona de Hudson o el "New Field", encomendado en el año 1997 por el Colegio San Jorge.
    </p>
    <p>
        Gracias a su compromiso con el cliente y el profesionalismo de su gente, la Inmobiliaria O'Keefe ha incrementado su participación en este nuevo mercado y ha abierto su División de Emprendimientos y Obras. Esto le permitió comercializar con éxito numerosos proyectos de edificios y urbanizaciones tales como los Edificios "Klover" y el Barrio Cerrado "Las Golondrinas", solo por mencionar algunos
    </p>
</div>

<div class="bloque4">
    <div class="row">
        <div class="col-xs-12">
            <h2>NOS EXPANDIMOS PARA MEJORAR NUESTRA COBERTURA Y ACERCARNOS A NUESTROS CLIENTES Y AMIGOS. CONTACTE A SU SUCURSAL MÁS CERCANA</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 caja-mapa">
            <div class="mapa" id="mapa-quilmes"></div>
            <div class="texto-mapa">
                <h3>CASA CENTRAL QUILMES</h3>
                <p><i class="fa fa-phone"></i>4253 - 3961</p>
                <p><i class="fa fa-home"></i>Mitre 491 - Quilmes Centro</p>
            </div>
        </div>

        <div class="col-xs-4 caja-mapa">
            <div class="mapa" id="mapa-hudson"></div>
            <div class="texto-mapa">
                <h3>HUDSON</h3>
                <p><i class="fa fa-phone"></i>022 - 2945 - 5003</p>
                <p><i class="fa fa-home"></i>Au Buenos Aires - La Plata
                    Ramal Mar del Plata KM 34.5</p>
            </div>
        </div>

        <div class="col-xs-4 caja-mapa">
            <div class="mapa" id="mapa-golondrinas"></div>
            <div class="texto-mapa">
                <h3>LAS GOLONDRINAS</h3>
                <p><i class="fa fa-phone"></i>022 - 2945 - 5003</p>
                <p><i class="fa fa-home"></i>Au Buenos Aires - La Plata
                    Ramal Mar del Plata KM 34.5</p>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-xs-4 caja-mapa">
            <div class="mapa" id="mapa-nuevo"></div>
            <div class="texto-mapa">
                <h3>NUEVO QUILMES</h3>
                <p><i class="fa fa-phone"></i>4253 - 3961</p>
                <p><i class="fa fa-home"></i>Mitre 491 - Quilmes Centro</p>
            </div>
        </div>

        <div class="col-xs-4 caja-mapa">
            <div class="mapa text-center" id="mapa-xx">
                <h3>PROXIMAMENTE</h3>
            </div>
            <div class="texto-mapa">
                <h3>CAPITAL FEDERAL</h3>
                <p><i class="fa fa-phone"></i>------</p>
                <p><i class="fa fa-home"></i>------</p>
            </div>
        </div>
    </div>
</div>