<div class="slider row">
    <div id="slider-principal" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#slider-principal" data-slide-to="0" class="active"></li>
            <li data-target="#slider-principal" data-slide-to="1"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="assets/img/slide.png" alt="">
                <div class="carousel-caption">
                    <h2>CONJUNTO PARQUE BERNAL ÚLTIMA TORRE! PRE VENTA EN OBRA A PRECIO DE POZO</h2>
                    <span class="txt-caption">Luminosas unidades de 2 a 5 ambientes. Amenities en el edificio y en todo el Conjunto. Seguridad 24 hs.</span>
                    <a href="" class="btn btn-gris btn-lg" role="button">VER MAS</a>
                </div>
            </div>
            <div class="item">
                <img src="assets/img/slide.png" alt="">
                <div class="carousel-caption">
                    <h2>CONJUNTO PARQUE BERNAL ÚLTIMA TORRE! PRE VENTA EN OBRA A PRECIO DE POZO</h2>
                    <span class="txt-caption">Luminosas unidades de 2 a 5 ambientes. Amenities en el edificio y en todo el Conjunto. Seguridad 24 hs.</span>
                    <a href="" class="btn btn-gris btn-lg" role="button">VER MAS</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row bloque1">
    <div class="col-xs-4">
        <div class="col-xs-8 pull-right b1-imagen">
            <img class="img-responsive" src="assets/img/trebol.png">
        </div>
    </div>
    <div class="col-xs-8 texto">
        <span class="titulo-home"> <h2>MAS DE 40 AÑOS DE ESFUERZO, VISIÓN Y DIVERSIDAD EN LA INDUSTRIA INMOBILIARIA ARGENTINA</h2> </span>
        <div>
            <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquam pharetra placerat. Curabitur et ex eget neque ultrices aliquet at sed risus. Sed congue dictum urna, nec eleifend lacus. Maecenas non nisi sagittis, viverra felis non, vulputate ex. Etiam lobortis, mi nec lobortis sollicitudin, metus metus aliquam elit, sagittis semper lacus nibh vitae nulla</P>
        </div>

    </div>
</div>
<div class="row bloque2">
    <div class="bloque-img bi1">
        <a class="btn btn-verde difuminado" href="#/tasaciones">POR QUÉ VENDER CON NOSOTROS</a>
    </div>
    <div class="bloque-img bi2">
        <a class="btn btn-naranja difuminado" href="#/quienes-somos#trayectoria">QUIÉNES SOMOS </a>
    </div>
    <div class="bloque-img bi3">
        <a class="btn btn-naranja difuminado" href="#/quienes-somos#servicios">NUESTROS SERVICIOS</a>
    </div>
    <div class="bloque-img bi4">
        <a class="btn btn-verde difuminado" href="#/empleo">FORMÁ PARTE DE NUESTRO EQUIPO</a>
    </div>
</div>