<div class="sub-menu">
    <div class="container-fluid">
        <div class="row">
            <div class="menu text-center pull-left">
                <div class="item i1">
                    <a class="filtrar-rev">Revista</a>
                </div>
                <div class="item i2">
                    <a class="filtrar-pren">Prensa</a>
                </div>
                <div class="item i3">
                    <a class="filtrar-dicc">Diccionario</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row fichas">
    <div class="ficha revista">
        <img class="img-responsive" src="assets/img/revista-c.jpg">
            <span class="txt">
                <p>Revista O'keefe 2016</p>
                <small>Sebastian Stupenengo</small>
            </span>
    </div>
    <div class="ficha revista">
        <img class="img-responsive" src="assets/img/revista-c.jpg">
            <span class="txt">
                <p>Revista O'keefe 2016</p>
                <small>Sebastian Stupenengo</small>
            </span>
    </div>
    <div class="ficha revista">
        <img class="img-responsive" src="assets/img/revista-c.jpg">
            <span class="txt">
                <p>Revista O'keefe 2016</p>
                <small>Sebastian Stupenengo</small>
            </span>
    </div>
    <div class="ficha revista">
        <img class="img-responsive" src="assets/img/revista.jpg">
            <span class="txt">
                <p>Revista O'keefe 2016</p>
                <small>Sebastian Stupenengo</small>
            </span>
    </div>
    <div class="ficha prensa">
        <img class="img-responsive" src="assets/img/revista-c.jpg">
            <span class="txt">
                <p>Revista O'keefe 2016</p>
                <small>Sebastian Stupenengo</small>
            </span>
    </div>
    <div class="ficha revista">
        <img class="img-responsive" src="assets/img/revista.jpg">
            <span class="txt">
                <p>Revista O'keefe 2016</p>
                <small>Sebastian Stupenengo</small>
            </span>
    </div>
    <div class="ficha publicidad">
        <img class="img-responsive" src="assets/img/ad.jpg">
    </div>
    <div class="ficha diccionario">
        <img class="img-responsive" src="assets/img/revista-c.jpg">
            <span class="txt">
                <p>Revista O'keefe 2016</p>
                <small>Sebastian Stupenengo</small>
            </span>
    </div>
    <div class="ficha diccionario">
        <img class="img-responsive" src="assets/img/revista-l.jpg">
            <span class="txt">
                <p>Revista O'keefe 2016</p>
                <small>Sebastian Stupenengo</small>
            </span>
    </div>
    <div class="ficha prensa">
        <img class="img-responsive" src="assets/img/revista-c.jpg">
            <span class="txt">
                <p>Revista O'keefe 2016</p>
                <small>Sebastian Stupenengo</small>
            </span>
    </div>
    <div class="ficha revista">
        <img class="img-responsive" src="assets/img/revista.jpg">
            <span class="txt">
                <p>Revista O'keefe 2016</p>
                <small>Sebastian Stupenengo</small>
            </span>
    </div>
    <div class="ficha diccionario">
        <img class="img-responsive" src="assets/img/revista-l.jpg">
            <span class="txt">
                <p>Revista O'keefe 2016</p>
                <small>Sebastian Stupenengo</small>
            </span>
    </div>
    <div class="ficha prensa">
        <img class="img-responsive" src="assets/img/revista-c.jpg">
            <span class="txt">
                <p>Revista O'keefe 2016</p>
                <small>Sebastian Stupenengo</small>
            </span>
    </div>
    <div class="ficha revista">
        <img class="img-responsive" src="assets/img/revista.jpg">
            <span class="txt">
                <p>Revista O'keefe 2016</p>
                <small>Sebastian Stupenengo</small>
            </span>
    </div>
</div>