<div class="sub-header">
    <div class="row">
        <div class="col-lg-9">
            <a>Okeefe</a> <span class='ariadna'> > <a>Compra</a></span> <span class='ariadna'> > <a>Residencial</a></span>
        </div>
        <div class="boton-fav" ng-if="isLogged">
            <a href="" class="btn btn-gris-claro btn-block" ng-click="editFav()" >
						<span class="fa-stack">
						  <i class="fa fa-circle fa-stack-2x"></i>
						  <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
						</span>
                Ver favoritos
                <span class="contador">5</span>
            </a>
        </div>
    </div>
</div>

<div class="opciones">
    <div class="row">
        <div class="col-lg-3 col-md-12">
            <span class="subt">FILTRÁ TU BÚSQUEDA</span>
        </div>
        <div class="col-lg-6 col-md-12">
            <span class="subt">MAS DE 0000 PROPIEDADES ENCONTRADAS</span>
        </div>
        <div class="col-lg-3 col-md-12 controles-list padding-left-0">
            <div class="col-lg-7 col-md-12 padding-0">
                <label class="flecha-select">
                    <select name="" class="form-control input-sm custom">
                        <option>menor precio</option>
                    </select>
                </label>
            </div>
            <div class="col-lg-5 col-md-12 padding-0">
                <button type="button" ng-click="changeView('map');refreshMap();" class="btn btn-default btn-gris btn-op btn-sm pull-right button-margin" ng-class="{'btn-op-selected': view == 'map'}"><i class="fa fa-map-marker"></i></button>
                <button type="button" ng-click="changeView('list')" class="btn btn-default btn-gris btn-op btn-sm pull-right button-margin" ng-class="{'btn-op-selected': view == 'list'}"><i class="fa fa-bars"></i></button>
                <button type="button" ng-click="changeView('grid')" class="btn btn-default btn-gris btn-op btn-sm pull-right button-margin" ng-class="{'btn-op-selected': view == 'grid'}"><i class="fa fa-th"></i></button>
            </div>
        </div>
    </div>
</div>

<div class="busqueda">
    <div class="row">
        <div class="col-lg-3 filtros">
            <!--separador-->
            <div class="filtro escogido">
                <a class="btn-block">
                    Compra
                    <i class="fa fa-close pull-right"></i>
                </a>
            </div>
            <!--separador-->
            <div class="filtro escogido">
                <a class="btn-block">
                    Residencial
                    <i class="fa fa-close pull-right"></i>
                </a>
            </div>
            <!--separador-->
            <div class="filtro escogido">
                <a class="btn-block">
                    Quilmes
                    <i class="fa fa-close pull-right"></i>
                </a>
            </div>
            <!--separador-->
            <div class="filtro">
                <a class="btn-block" data-toggle="collapse" data-target="#filtro-ubicacion" aria-expanded="false" aria-controls="filtro-ubicacion">
                    <i class="fa fa-chevron-right"></i>
                    Ubicación
                </a>
                <div class="collapse valores filtro-ubicacion" id="filtro-ubicacion">
                    <span> <a><span class="nombre">Quilmes</span> <span class="cantidad">(000)</span></a></span>
                    <span> <a><span class="nombre">Bernal</span> <span class="cantidad">(000)</span></a></span>
                    <span> <a><span class="nombre">Nuevo Quilmes</span> <span class="cantidad">(000)</span></a></span>
                    <span> <a><span class="nombre">Don Bosco</span> <span class="cantidad">(000)</span></a></span>
                </div>
            </div>
            <!--separador-->
            <div class="filtro">
                <a class="btn-block" data-toggle="collapse" data-target="#filtro-tipo" aria-expanded="false" aria-controls="filtro-tipo">
                    <i class="fa fa-chevron-right"></i>
                    Tipo de Inmueble
                </a>
                <div class="collapse valores filtro-tipo" id="filtro-tipo">
                    <span> <a><span class="nombre">Departamento</span> <span class="cantidad">(000)</span></a></span>
                    <span> <a><span class="nombre">PH</span> <span class="cantidad">(000)</span></a></span>
                    <span> <a><span class="nombre">Departamento en country</span> <span class="cantidad">(000)</span></a></span>
                </div>
            </div>
            <!--separador-->
            <div class="filtro">
                <a class="btn-block" data-toggle="collapse" data-target="#filtro-zona" aria-expanded="false" aria-controls="filtro-zona">
                    <i class="fa fa-chevron-right"></i>
                    Zona
                </a>
                <div class="collapse valores filtro-zona" id="filtro-zona">
                    <span> <a><span class="nombre">Quilmes</span> <span class="cantidad">(000)</span></a></span>
                    <span> <a><span class="nombre">Bernal</span> <span class="cantidad">(000)</span></a></span>
                    <span> <a><span class="nombre">Nuevo Quilmes</span> <span class="cantidad">(000)</span></a></span>
                    <span> <a><span class="nombre">Don Bosco</span> <span class="cantidad">(000)</span></a></span>
                </div>
            </div>
            <!--separador-->
            <div class="filtro">
                <a class="btn-block" data-toggle="collapse" data-target="#filtro-precio" aria-expanded="true" aria-controls="filtro-precio">
                    <i class="fa fa-chevron-right"></i>
                    Precio
                </a>
                <div class="collapse in valores filtro-precio" id="filtro-precio">
                    <form class="form-horizontal form-precio">
                        <div class="form-group">
                            <div class="col-lg-12 text-center">
                                <input type="radio" id="pesos" name="moneda" value="pesos" checked="checked"><label for="pesos" class="btn btn-default col-lg-5 col-lg-offset-1">Pesos</label><input type="radio" id="dolares" name="moneda" value="dolares"><label for="dolares" class="btn btn-default col-lg-5">Dólares</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="desde" class="col-lg-4 control-label">Desde</label>
                            <div class="col-lg-7">
                                <input type="number" class="form-control" id="desde" placeholder="Min.">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="hasta" class="col-lg-4 control-label">Hasta</label>
                            <div class="col-lg-7">
                                <input type="number" class="form-control" id="hasta" placeholder="Max.">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-7 col-lg-offset-4">
                                <button class="btn btn-block btn-naranja" type="submit">APLICAR</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <!--separador-->
            <div class="filtro">
                <a class="btn-block" data-toggle="collapse" data-target="#filtro-ambientes" aria-expanded="false" aria-controls="filtro-ambientes">
                    <i class="fa fa-chevron-right"></i>
                    Ambientes
                </a>
                <div class="collapse valores filtro-ambientes" id="filtro-ambientes">
                    <span> <a><span class="nombre">Quilmes</span> <span class="cantidad">(000)</span></a></span>
                    <span> <a><span class="nombre">Bernal</span> <span class="cantidad">(000)</span></a></span>
                    <span> <a><span class="nombre">Nuevo Quilmes</span> <span class="cantidad">(000)</span></a></span>
                    <span> <a><span class="nombre">Don Bosco</span> <span class="cantidad">(000)</span></a></span>
                </div>
            </div>
            <!--separador-->
            <div class="filtro">
                <a class="btn-block" data-toggle="collapse" data-target="#filtro-cocheras" aria-expanded="false" aria-controls="filtro-cocheras">
                    <i class="fa fa-chevron-right"></i>
                    Cocheras
                </a>
                <div class="collapse valores filtro-cocheras" id="filtro-cocheras">
                    <span> <a><span class="nombre">Departamento</span> <span class="cantidad">(000)</span></a></span>
                    <span> <a><span class="nombre">PH</span> <span class="cantidad">(000)</span></a></span>
                    <span> <a><span class="nombre">Departamento en country</span> <span class="cantidad">(000)</span></a></span>
                </div>
            </div>
            <!--separador-->
            <div class="filtro">
                <a class="btn-block" data-toggle="collapse" data-target="#filtro-baños" aria-expanded="false" aria-controls="filtro-baños">
                    <i class="fa fa-chevron-right"></i>
                    Baños
                </a>
                <div class="collapse valores filtro-baños" id="filtro-baños">
                    <span> <a><span class="nombre">Quilmes</span> <span class="cantidad">(000)</span></a></span>
                    <span> <a><span class="nombre">Bernal</span> <span class="cantidad">(000)</span></a></span>
                    <span> <a><span class="nombre">Nuevo Quilmes</span> <span class="cantidad">(000)</span></a></span>
                    <span> <a><span class="nombre">Don Bosco</span> <span class="cantidad">(000)</span></a></span>
                </div>
            </div>
            <!--separador-->
            <div class="filtro">
                <a class="btn-block" data-toggle="collapse" data-target="#filtro-metros" aria-expanded="false" aria-controls="filtro-metros">
                    <i class="fa fa-chevron-right"></i>
                    Metros totales
                </a>
                <div class="collapse valores filtro-metros" id="filtro-metros">
                    <span> <a><span class="nombre">Departamento</span> <span class="cantidad">(000)</span></a></span>
                    <span> <a><span class="nombre">PH</span> <span class="cantidad">(000)</span></a></span>
                    <span> <a><span class="nombre">Departamento en country</span> <span class="cantidad">(000)</span></a></span>
                </div>
            </div>
            <!--separador-->
            <div class="filtro">
                <a class="btn-block" data-toggle="collapse" data-target="#filtro-antiguedad" aria-expanded="false" aria-controls="filtro-antiguedad">
                    <i class="fa fa-chevron-right"></i>
                    Antigüedad
                </a>
                <div class="collapse valores filtro-antiguedad" id="filtro-antiguedad">
                    <span> <a><span class="nombre">Quilmes</span> <span class="cantidad">(000)</span></a></span>
                    <span> <a><span class="nombre">Bernal</span> <span class="cantidad">(000)</span></a></span>
                    <span> <a><span class="nombre">Nuevo Quilmes</span> <span class="cantidad">(000)</span></a></span>
                    <span> <a><span class="nombre">Don Bosco</span> <span class="cantidad">(000)</span></a></span>
                </div>
            </div>
            <!--separador-->
            <div class="filtro">
                <a class="btn-block" data-toggle="collapse" data-target="#filtro-servicios" aria-expanded="false" aria-controls="filtro-servicios">
                    <i class="fa fa-chevron-right"></i>
                    Servicios
                </a>
                <div class="collapse valores filtro-servicios" id="filtro-servicios">
                    <span> <a><span class="nombre">Departamento</span> <span class="cantidad">(000)</span></a></span>
                    <span> <a><span class="nombre">PH</span> <span class="cantidad">(000)</span></a></span>
                    <span> <a><span class="nombre">Departamento en country</span> <span class="cantidad">(000)</span></a></span>
                </div>
            </div>
            <!--separador-->
        </div>
        <div ng-show="view == 'grid' || view == 'list'" class="banner col-lg-9 resultados">
            <a class="btn-banner" data-toggle="collapse" href=".premium" aria-expanded="false" aria-controls="premium"><img class="img-responsive" src="assets/img/banner-premium.png"></a>
            <div class="collapse premium" id="premium">
               <span class="close" style='position: absolute; right: 0;' data-toggle="collapse" href=".premium" aria-controls="premium"><i class="fa fa-close"></i></span>
                <img class="img-responsive" src="assets/img/modal-premium.png">
            </div>
        </div>
        <div ng-show="view == 'grid'" class="col-lg-9 resultados">
            <!--ficha resultados-->
            <div class="row">
                <div class="col-lg-4 col-md-6 ficha ficha-grid">
                    <div class="col-lg-12 content">
                        <img class="img-responsive" src="assets/img/prop1.png">
                        <div class="descripcion">
                            <p class="titulo">2 ambientes con extraordinarias vistas y luminosidad</p>
                            <div class="col-lg-12 padding-0 caracteristicas">
                                <div class="col-lg-12 padding-0">
                                    <img src="assets/img/ubicacion.svg">Zona 1245, Berazategui, GBA Zona Sur
                                </div>
                                <div class="col-lg-6 col-md-12 padding-0">
                                    <img src="assets/img/valor_propiedad.svg">254.000 USD
                                </div>
                                <div class="col-lg-6 col-md-12 padding-0">
                                    <img src="assets/img/tipo_propiedad.svg">Departamento
                                </div>
                                <div class="col-lg-6 col-md-12 padding-0">
                                    <img src="assets/img/ambientes.svg">2 ambientes
                                </div>
                                <div class="col-lg-6 col-md-12 padding-0">
                                    <img src="assets/img/m2.svg">72 M2
                                </div>
                            </div>
                            <div class="property-buttons">
                                <div class="col-lg-12 padding-0">
                                    <p class="muestra">Lorem Ipsum is simply dummy text of the...</p>
                                    <div class="boton-fav">
                                        <a class="btn btn-xs btn-gris-claro-2" ng-click="doFav()">
                                                <span class="fa-stack">
                                                  <i class="fa fa-circle fa-stack-2x"></i>
                                                  <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                                                </span>
                                            Favorito
                                        </a>
                                    </div>
                                    <div class="boton-fav compartir pull-right">
                                        <a class="btn btn-xs btn-gris-claro-2" type="submit">
                                                <span class="fa-stack">
                                                  <i class="fa fa-circle fa-stack-2x"></i>
                                                  <i class="fa fa-share-alt fa-stack-1x fa-inverse"></i>
                                                </span>
                                            Compartir
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-12 padding-0 margin-top-10">
                                    <a href="#/ficha-emprendimiento" class="col-lg-12 btn btn-sm btn-gris pull-right">VER MÁS</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 ficha ficha-grid">
                    <div class="col-lg-12 content">
                        <img class="img-responsive" src="assets/img/prop1.png">
                        <div class="descripcion">
                            <p class="titulo">2 ambientes con extraordinarias vistas y luminosidad</p>
                            <div class="col-lg-12 padding-0 caracteristicas">
                                <div class="col-lg-12 padding-0">
                                    <img src="assets/img/ubicacion.svg">Zona 1245, Berazategui, GBA Zona Sur
                                </div>
                                <div class="col-lg-6 col-md-12 padding-0">
                                    <img src="assets/img/valor_propiedad.svg">254.000 USD
                                </div>
                                <div class="col-lg-6 col-md-12 padding-0">
                                    <img src="assets/img/tipo_propiedad.svg">Departamento
                                </div>
                                <div class="col-lg-6 col-md-12 padding-0">
                                    <img src="assets/img/ambientes.svg">2 ambientes
                                </div>
                                <div class="col-lg-6 col-md-12 padding-0">
                                    <img src="assets/img/m2.svg">72 M2
                                </div>
                            </div>
                            <div class="property-buttons">
                                <div class="col-lg-12 padding-0">
                                    <p class="muestra">Lorem Ipsum is simply dummy text of the...</p>
                                    <div class="boton-fav">
                                        <a class="btn btn-xs btn-gris-claro-2" ng-click="doFav()">
                                                <span class="fa-stack">
                                                  <i class="fa fa-circle fa-stack-2x"></i>
                                                  <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                                                </span>
                                            Favorito
                                        </a>
                                    </div>
                                    <div class="boton-fav compartir pull-right">
                                        <a class="btn btn-xs btn-gris-claro-2" type="submit">
                                                <span class="fa-stack">
                                                  <i class="fa fa-circle fa-stack-2x"></i>
                                                  <i class="fa fa-share-alt fa-stack-1x fa-inverse"></i>
                                                </span>
                                            Compartir
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-12 padding-0 margin-top-10">
                                    <a href="#/ficha-propiedad" class="col-lg-12 btn btn-sm btn-gris pull-right">VER MÁS</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 ficha ficha-grid">
                    <div class="col-lg-12 content">
                        <img class="img-responsive" src="assets/img/prop1.png">
                        <div class="descripcion">
                            <p class="titulo">2 ambientes con extraordinarias vistas y luminosidad</p>
                            <div class="col-lg-12 padding-0 caracteristicas">
                                <div class="col-lg-12 padding-0">
                                    <img src="assets/img/ubicacion.svg">Zona 1245, Berazategui, GBA Zona Sur
                                </div>
                                <div class="col-lg-6 col-md-12 padding-0">
                                    <img src="assets/img/valor_propiedad.svg">254.000 USD
                                </div>
                                <div class="col-lg-6 col-md-12 padding-0">
                                    <img src="assets/img/tipo_propiedad.svg">Departamento
                                </div>
                                <div class="col-lg-6 col-md-12 padding-0">
                                    <img src="assets/img/ambientes.svg">2 ambientes
                                </div>
                                <div class="col-lg-6 col-md-12 padding-0">
                                    <img src="assets/img/m2.svg">72 M2
                                </div>
                            </div>
                            <div class="property-buttons">
                                <div class="col-lg-12 padding-0">
                                    <p class="muestra">Lorem Ipsum is simply dummy text of the...</p>
                                    <div class="boton-fav">
                                        <a class="btn btn-xs btn-gris-claro-2" ng-click="doFav()">
                                                <span class="fa-stack">
                                                  <i class="fa fa-circle fa-stack-2x"></i>
                                                  <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                                                </span>
                                            Favorito
                                        </a>
                                    </div>
                                    <div class="boton-fav compartir pull-right">
                                        <a class="btn btn-xs btn-gris-claro-2" type="submit">
                                                <span class="fa-stack">
                                                  <i class="fa fa-circle fa-stack-2x"></i>
                                                  <i class="fa fa-share-alt fa-stack-1x fa-inverse"></i>
                                                </span>
                                            Compartir
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-12 padding-0 margin-top-10">
                                    <a href="#/ficha-emprendimiento" class="col-lg-12 btn btn-sm btn-gris pull-right">VER MÁS</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--fin fila-->
            <!--ficha resultados-->
            <div class="row"><!--inicio fila-->
                <div class="col-lg-4 col-md-6 ficha ficha-grid">
                    <div class="col-lg-12 content">
                        <img class="img-responsive" src="assets/img/prop1.png">
                        <div class="descripcion">
                            <p class="titulo">2 ambientes con extraordinarias vistas y luminosidad</p>
                            <div class="col-lg-12 padding-0 caracteristicas">
                                <div class="col-lg-12 padding-0">
                                    <img src="assets/img/ubicacion.svg">Zona 1245, Berazategui, GBA Zona Sur
                                </div>
                                <div class="col-lg-6 col-md-12 padding-0">
                                    <img src="assets/img/valor_propiedad.svg">254.000 USD
                                </div>
                                <div class="col-lg-6 col-md-12 padding-0">
                                    <img src="assets/img/tipo_propiedad.svg">Departamento
                                </div>
                                <div class="col-lg-6 col-md-12 padding-0">
                                    <img src="assets/img/ambientes.svg">2 ambientes
                                </div>
                                <div class="col-lg-6 col-md-12 padding-0">
                                    <img src="assets/img/m2.svg">72 M2
                                </div>
                            </div>
                            <div class="property-buttons">
                                <div class="col-lg-12 padding-0">
                                    <p class="muestra">Lorem Ipsum is simply dummy text of the...</p>
                                    <div class="boton-fav">
                                        <a class="btn btn-xs btn-gris-claro-2" ng-click="doFav()">
                                                <span class="fa-stack">
                                                  <i class="fa fa-circle fa-stack-2x"></i>
                                                  <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                                                </span>
                                            Favorito
                                        </a>
                                    </div>
                                    <div class="boton-fav compartir pull-right">
                                        <a class="btn btn-xs btn-gris-claro-2" type="submit">
                                                <span class="fa-stack">
                                                  <i class="fa fa-circle fa-stack-2x"></i>
                                                  <i class="fa fa-share-alt fa-stack-1x fa-inverse"></i>
                                                </span>
                                            Compartir
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-12 padding-0 margin-top-10">
                                    <a href="#/ficha-emprendimiento" class="col-lg-12 btn btn-sm btn-gris pull-right">VER MÁS</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 ficha ficha-grid">
                    <div class="col-lg-12 content">
                        <img class="img-responsive" src="assets/img/prop1.png">
                        <div class="descripcion">
                            <p class="titulo">2 ambientes con extraordinarias vistas y luminosidad</p>
                            <div class="col-lg-12 padding-0 caracteristicas">
                                <div class="col-lg-12 padding-0">
                                    <img src="assets/img/ubicacion.svg">Zona 1245, Berazategui, GBA Zona Sur
                                </div>
                                <div class="col-lg-6 col-md-12 padding-0">
                                    <img src="assets/img/valor_propiedad.svg">254.000 USD
                                </div>
                                <div class="col-lg-6 col-md-12 padding-0">
                                    <img src="assets/img/tipo_propiedad.svg">Departamento
                                </div>
                                <div class="col-lg-6 col-md-12 padding-0">
                                    <img src="assets/img/ambientes.svg">2 ambientes
                                </div>
                                <div class="col-lg-6 col-md-12 padding-0">
                                    <img src="assets/img/m2.svg">72 M2
                                </div>
                            </div>
                            <div class="property-buttons">
                                <div class="col-lg-12 padding-0">
                                    <p class="muestra">Lorem Ipsum is simply dummy text of the...</p>
                                    <div class="boton-fav">
                                        <a class="btn btn-xs btn-gris-claro-2" ng-click="doFav()">
                                                <span class="fa-stack">
                                                  <i class="fa fa-circle fa-stack-2x"></i>
                                                  <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                                                </span>
                                            Favorito
                                        </a>
                                    </div>
                                    <div class="boton-fav compartir pull-right">
                                        <a class="btn btn-xs btn-gris-claro-2" type="submit">
                                                <span class="fa-stack">
                                                  <i class="fa fa-circle fa-stack-2x"></i>
                                                  <i class="fa fa-share-alt fa-stack-1x fa-inverse"></i>
                                                </span>
                                            Compartir
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-12 padding-0 margin-top-10">
                                    <a href="#/ficha-emprendimiento" class="col-lg-12 btn btn-sm btn-gris pull-right">VER MÁS</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 ficha ficha-grid">
                    <div class="col-lg-12 content">
                        <img class="img-responsive" src="assets/img/prop1.png">
                        <div class="descripcion">
                            <p class="titulo">2 ambientes con extraordinarias vistas y luminosidad</p>
                            <div class="col-lg-12 padding-0 caracteristicas">
                                <div class="col-lg-12 padding-0">
                                    <img src="assets/img/ubicacion.svg">Zona 1245, Berazategui, GBA Zona Sur
                                </div>
                                <div class="col-lg-6 col-md-12 padding-0">
                                    <img src="assets/img/valor_propiedad.svg">254.000 USD
                                </div>
                                <div class="col-lg-6 col-md-12 padding-0">
                                    <img src="assets/img/tipo_propiedad.svg">Departamento
                                </div>
                                <div class="col-lg-6 col-md-12 padding-0">
                                    <img src="assets/img/ambientes.svg">2 ambientes
                                </div>
                                <div class="col-lg-6 col-md-12 padding-0">
                                    <img src="assets/img/m2.svg">72 M2
                                </div>
                            </div>
                            <div class="property-buttons">
                                <div class="col-lg-12 padding-0">
                                    <p class="muestra">Lorem Ipsum is simply dummy text of the...</p>
                                    <div class="boton-fav">
                                        <a class="btn btn-xs btn-gris-claro-2" ng-click="doFav()">
                                                <span class="fa-stack">
                                                  <i class="fa fa-circle fa-stack-2x"></i>
                                                  <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                                                </span>
                                            Favorito
                                        </a>
                                    </div>
                                    <div class="boton-fav compartir pull-right">
                                        <a class="btn btn-xs btn-gris-claro-2" ng-click="doFav()">
                                                <span class="fa-stack">
                                                  <i class="fa fa-circle fa-stack-2x"></i>
                                                  <i class="fa fa-share-alt fa-stack-1x fa-inverse"></i>
                                                </span>
                                            Compartir
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-12 padding-0 margin-top-10">
                                    <a href="#/ficha-emprendimiento" class="col-lg-12 btn btn-sm btn-gris pull-right">VER MÁS</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--fin fila-->
        </div>
        <div ng-show="view == 'list'" class="col-lg-9 resultados">
            <!--ficha resultados-->
                <div class="col-lg-12 ficha padding-0">
                    <div class="col-lg-4 padding-0">
                        <img class="img-responsive" src="assets/img/prop1.png">
                    </div>
                    <div class="col-lg-4">
                        <div class="descripcion">
                            <p class="titulo">2 ambientes con extraordinarias vistas y luminosidad</p>
                            <p class="muestra text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ullamcorper, lorem volutpat finibus aliquet, sem erat aliquet augue, sit amet commodo tellus metus in nisi. </p>
                        </div>
                    </div>
                    <div class="col-lg-4 padding-0">
                        <div class="descripcion padding-0">
                            <div class="col-lg-12 padding-0 caracteristicas">
                                <div class="col-lg-12 padding-0">
                                    <img src="assets/img/ubicacion.svg">Zona 1245, Berazategui, GBA Zona Sur
                                </div>
                                <div class="col-lg-6 col-md-12 padding-0">
                                    <img src="assets/img/valor_propiedad.svg">254.000 USD
                                </div>
                                <div class="col-lg-6 col-md-12 padding-0">
                                    <img src="assets/img/tipo_propiedad.svg">Departamento
                                </div>
                                <div class="col-lg-6 col-md-12 padding-0">
                                    <img src="assets/img/ambientes.svg">2 ambientes
                                </div>
                                <div class="col-lg-6 col-md-12 padding-0">
                                    <img src="assets/img/m2.svg">72 M2
                                </div>
                            </div>
                            <div class="property-buttons">
                                <div class="col-lg-12 padding-0">
                                    <div class="boton-fav">
                                        <a class="btn btn-xs btn-gris-claro-2" type="submit">
                                                    <span class="fa-stack">
                                                      <i class="fa fa-circle fa-stack-2x"></i>
                                                      <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                                                    </span>
                                            Favorito
                                        </a>
                                    </div>
                                    <div class="boton-fav compartir pull-right">
                                        <a class="btn btn-xs btn-gris-claro-2" type="submit">
                                                    <span class="fa-stack">
                                                      <i class="fa fa-circle fa-stack-2x"></i>
                                                      <i class="fa fa-share-alt fa-stack-1x fa-inverse"></i>
                                                    </span>
                                            Compartir
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-12 padding-0 margin-top-2">
                                    <a href="#/ficha-emprendimiento" class="col-lg-12 btn btn-sm btn-gris pull-right">VER MÁS</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!--ficha resultados-->
            <div class="col-lg-12 ficha padding-0">
                <div class="col-lg-4 padding-0">
                    <img class="img-responsive" src="assets/img/prop1.png">
                </div>
                <div class="col-lg-4">
                    <div class="descripcion">
                        <p class="titulo">2 ambientes con extraordinarias vistas y luminosidad</p>
                        <p class="muestra text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ullamcorper, lorem volutpat finibus aliquet, sem erat aliquet augue, sit amet commodo tellus metus in nisi. </p>
                    </div>
                </div>
                <div class="col-lg-4 padding-0">
                    <div class="descripcion padding-0">
                        <div class="col-lg-12 padding-0 caracteristicas">
                            <div class="col-lg-12 padding-0">
                                <img src="assets/img/ubicacion.svg">Zona 1245, Berazategui, GBA Zona Sur
                            </div>
                            <div class="col-lg-6 col-md-12 padding-0">
                                <img src="assets/img/valor_propiedad.svg">254.000 USD
                            </div>
                            <div class="col-lg-6 col-md-12 padding-0">
                                <img src="assets/img/tipo_propiedad.svg">Departamento
                            </div>
                            <div class="col-lg-6 col-md-12 padding-0">
                                <img src="assets/img/ambientes.svg">2 ambientes
                            </div>
                            <div class="col-lg-6 col-md-12 padding-0">
                                <img src="assets/img/m2.svg">72 M2
                            </div>
                        </div>
                        <div class="property-buttons">
                            <div class="col-lg-12 padding-0">
                                <div class="boton-fav">
                                    <a class="btn btn-xs btn-gris-claro-2" type="submit">
                                                <span class="fa-stack">
                                                  <i class="fa fa-circle fa-stack-2x"></i>
                                                  <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                                                </span>
                                        Favorito
                                    </a>
                                </div>
                                <div class="boton-fav compartir pull-right">
                                    <a class="btn btn-xs btn-gris-claro-2" type="submit">
                                                <span class="fa-stack">
                                                  <i class="fa fa-circle fa-stack-2x"></i>
                                                  <i class="fa fa-share-alt fa-stack-1x fa-inverse"></i>
                                                </span>
                                        Compartir
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-12 padding-0 margin-top-2">
                                <a href="#/ficha-emprendimiento" class="col-lg-12 btn btn-sm btn-gris pull-right">VER MÁS</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--ficha resultados-->
            <div class="col-lg-12 ficha padding-0">
                <div class="col-lg-4 padding-0">
                    <img class="img-responsive" src="assets/img/prop1.png">
                </div>
                <div class="col-lg-4">
                    <div class="descripcion">
                        <p class="titulo">2 ambientes con extraordinarias vistas y luminosidad</p>
                        <p class="muestra text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ullamcorper, lorem volutpat finibus aliquet, sem erat aliquet augue, sit amet commodo tellus metus in nisi. </p>
                    </div>
                </div>
                <div class="col-lg-4 padding-0">
                    <div class="descripcion padding-0">
                        <div class="col-lg-12 padding-0 caracteristicas">
                            <div class="col-lg-12 padding-0">
                                <img src="assets/img/ubicacion.svg">Zona 1245, Berazategui, GBA Zona Sur
                            </div>
                            <div class="col-lg-6 col-md-12 padding-0">
                                <img src="assets/img/valor_propiedad.svg">254.000 USD
                            </div>
                            <div class="col-lg-6 col-md-12 padding-0">
                                <img src="assets/img/tipo_propiedad.svg">Departamento
                            </div>
                            <div class="col-lg-6 col-md-12 padding-0">
                                <img src="assets/img/ambientes.svg">2 ambientes
                            </div>
                            <div class="col-lg-6 col-md-12 padding-0">
                                <img src="assets/img/m2.svg">72 M2
                            </div>
                        </div>
                        <div class="property-buttons">
                            <div class="col-lg-12 padding-0">
                                <div class="boton-fav">
                                    <a class="btn btn-xs btn-gris-claro-2" type="submit">
                                                <span class="fa-stack">
                                                  <i class="fa fa-circle fa-stack-2x"></i>
                                                  <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                                                </span>
                                        Favorito
                                    </a>
                                </div>
                                <div class="boton-fav compartir pull-right">
                                    <a class="btn btn-xs btn-gris-claro-2" type="submit">
                                                <span class="fa-stack">
                                                  <i class="fa fa-circle fa-stack-2x"></i>
                                                  <i class="fa fa-share-alt fa-stack-1x fa-inverse"></i>
                                                </span>
                                        Compartir
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-12 padding-0 margin-top-2">
                                <a href="#/ficha-emprendimiento" class="col-lg-12 btn btn-sm btn-gris pull-right">VER MÁS</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--ficha resultados-->
        </div>
        <div ng-show="view == 'map'" class="col-lg-9 resultados">
            <div class="row">
                <div class="col-lg-12">
                    <div id="mapa-busqueda">
                        <ui-gmap-google-map ng-cloak control="control" center="map.center" zoom="map.zoom" options="options">
                            <ui-gmap-marker ng-repeat="marker in map.markers"
                                            idkey="marker.id"
                                            coords="marker.coords">
                            </ui-gmap-marker>
                        </ui-gmap-google-map>
                    </div>
                </div>
            </div>
            <div class="nota-mapa">
                <div class="col-lg-2">
                    <img class="img-responsive" src="assets/img/fav_circ.svg">
                </div>
                <div class="col-lg-10">
                    <h2>¡GUARDANDO TUS BÚSQUEDAS EN FAVORITOS PODRÁS ACCEDER EN CUALQUIER MOMENTO!</h2>
                </div>
            </div>
        </div>
    </div>
</div>