<div class="sub-header">
    <div class="row">
        <div class="col-xs-9">
            <a href="">Okeefe</a> <span class='ariadna'> > <a href="">Compra</a></span> <span class='ariadna'> > <a href="">Residencial</a></span>
        </div>
        <div class="boton-fav">
            <a href="javascript:;" class="btn btn-gris-claro btn-block" data-toggle="modal" data-target="#modal-fav" >
						<span class="fa-stack">
						  <i class="fa fa-circle fa-stack-2x"></i>
						  <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
						</span>
                Ver favoritos
                <span class="contador">5</span>
            </a>
        </div>
    </div>
</div>

<div class="galeria-propiedades">
    <div class="row">
        <div class="col-xs-9">
            <h2>TÍTULO DE PROPIEDAD CON CARACTERES LIMITADOS</h2>
        </div>
        <div class="col-xs-3 text-right"><h2>$850.000 | ID 68788</h2></div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            ---------------------
        </div>
    </div>

</div>

<div class="informacion-propiedad">
    <div class="row">
        <div class="col-xs-9">
            <div class="row">
                <div class="col-xs-12">
                    --------------
                </div>
            </div>

            <div class="row">
                <div class="col-xs-1">
                    <div class="boton-fav compartir">
                        <a href="javascript:;" class="btn btn-gris-claro">
									<span class="fa-stack">
									  <i class="fa fa-circle fa-stack-2x"></i>
									  <i class="fa fa-share-alt fa-stack-1x fa-inverse"></i>
									</span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-1">
                    <div class="boton-fav compartir">
                        <a href="javascript:;" class="btn btn-gris-claro">
									<span class="fa-stack">
									  <i class="fa fa-circle fa-stack-2x"></i>
									  <i class="glyphicon glyphicon-print fa-stack-1x fa-inverse"></i>
									</span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-1">
                    <div class="boton-fav compartir">
                        <a href="javascript:;" class="btn btn-gris-claro">
									<span class="fa-stack">
									  <i class="fa fa-circle fa-stack-2x"></i>
									  <i class="glyphicon glyphicon-download-alt fa-stack-1x fa-inverse"></i>
									</span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-9">
                    <div class="boton-fav">
                        <a href="javascript:;" class="btn btn-verde btn-block">
                            HACÉ CLICK ACÁ Y GUARDÁ TU BÚSQUEDA EN FAVORITOS
									<span class="fa-stack fix">
									  <i class="fa fa-circle fa-stack-2x"></i>
									  <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
									</span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-xs-3">
            <form class="f_consulta-prop">
                <h3>¿QUERÉS SABER MAS?</h3>
                <input class="form-control custom" type="text" name="nombre" placeholder="Nombre">
                <input class="form-control custom" type="text" name="apellido" placeholder="Apellido">
                <input class="form-control custom" type="text" name="telefono" placeholder="Telefono">
                <input class="form-control custom" type="text" name="celular" placeholder="Celular">
                <input class="form-control custom" type="text" name="email" placeholder="Correo">
                <textarea class="form-control custom" name="mensaje" placeholder="Mensaje"></textarea>
                <div class="row">
                    <div class="col-xs-6 pull-right">
                        <button class="btn btn-naranja btn-block" type="submit">CONSULTAR</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="tabla-info-prop">
    <div class="row">
        <div class="col-xs-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Ambientes</th>
                    <th>Características</th>
                    <th>Servicios</th>
                    <th>Amenities</th>
                    <th>El edificio</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Superficie <span>60 M2</span> </td>
                    <td>Estado general <span>Muy bueno</span></td>
                    <td>Agua corriente <span><i class="fa fa-check"></i></span></td>
                    <td>SUM <span><i class="fa fa-check"></i></span></td>
                    <td>xxxxx <span><i class="fa fa-check"></i></span></td>
                </tr>
                <tr>
                    <td>Superficie cubierta<span>40 M2</span> </td>
                    <td>Orientación <span>Norte</span></td>
                    <td>Gas natural <span><i class="fa fa-check"></i></span></td>
                    <td>Pileta <span><i class="fa fa-check"></i></span></td>
                    <td>xxxxx <span><i class="fa fa-check"></i></span></td>
                </tr>
                <tr>
                    <td>Ambientes <span>5</span> </td>
                    <td>Disposición <span>CF</span></td>
                    <td>xxxxx<span><i class="fa fa-check"></i></span></td>
                    <td>Gimnasio <span><i class="fa fa-check"></i></span></td>
                    <td>xxxxx <span><i class="fa fa-check"></i></span></td>
                </tr>
                <tr>
                    <td>Living <span>SI</span> </td>
                    <td>Vista<span>Ciudad</span></td>
                    <td>xxxxx<span><i class="fa fa-check"></i></span></td>
                    <td>Laundry <span><i class="fa fa-check"></i></span></td>
                    <td>xxxxx <span><i class="fa fa-check"></i></span></td>
                </tr>
                <tr>
                    <td>Comedor <span>SI</span> </td>
                    <td>Luminosidad<span>Muy luminoso</span></td>
                    <td>xxxxx<span><i class="fa fa-check"></i></span></td>
                    <td>xxxxx <span><i class="fa fa-check"></i></span></td>
                    <td>xxxxx <span><i class="fa fa-check"></i></span></td>
                </tr>
                <tr>
                    <td>Dormitorios <span>2</span> </td>
                    <td>Antiguedad<span>2 años</span></td>
                    <td>xxxxx <span><i class="fa fa-check"></i></span></td>
                    <td>xxxxx <span><i class="fa fa-check"></i></span></td>
                    <td>xxxxx <span><i class="fa fa-check"></i></span></td>
                </tr>
                <tr>
                    <td>Cocina <span>SI</span> </td>
                    <td> <span>SI</span></td>
                    <td>xxxxx <span><i class="fa fa-check"></i></span></td>
                    <td>xxxxx <span><i class="fa fa-check"></i></span></td>
                    <td>xxxxx <span><i class="fa fa-check"></i></span></td>
                </tr>
                <tr>
                    <td>Lavadero <span>SI</span> </td>
                    <td> <span>SI</span></td>
                    <td>xxxxx <span><i class="fa fa-check"></i></span></td>
                    <td>xxxxx <span><i class="fa fa-check"></i></span></td>
                    <td>xxxxx <span><i class="fa fa-check"></i></span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="slider-propiedades">
    <div class="row">
        <div class="col-xs-12">
            <span class="titulo-slider-prop text-center"> ENCONTRÁ MÁS PROPIEDADES RELACIONADAS A TU BÚSQUEDA </span>
        </div>
    </div>
    <div class="row">
        <div id="slider-mod" class="carousel slide slider-mod" data-ride="carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <!-- SLIDE -->
                <div class="item active">
                    <div class="col-xs-4 ficha-busqueda">
                        <img class="img-responsive" src="assets/img/prop1.png">
                        <div class="descripcion">
                            <p class="titulo">2 ambientes con extraordinarias vistas y luminosidad</p>
                            <table class="caracteristicas">
                                <tr>
                                    <td colspan="2">
                                        <img src="assets/img/ubicacion.svg">Zona 1245, Berazategui, GBA Zona Sur
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="assets/img/valor_propiedad.svg">254.000 USD</td>
                                    <td><img src="assets/img/ambientes.svg">2 ambientes</td>
                                </tr>
                                <tr>
                                    <td><img src="assets/img/tipo_propiedad.svg">Departamento</td>
                                    <td><img src="assets/img/m2.svg">72 M2</td>
                                </tr>
                            </table>

                            <p class="muestra">Lorem Ipsum is simply dummy text of the...</p>

                            <div class="boton-fav">
                                <a href="" class="btn btn-xs btn-gris-claro" type="submit">
										<span class="fa-stack">
										  <i class="fa fa-circle fa-stack-2x"></i>
										  <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
										</span>
                                    Favorito
                                </a>
                            </div>
                            <div class="boton-fav compartir">
                                <a href="" class="btn btn-xs btn-gris-claro" type="submit">
										<span class="fa-stack">
										  <i class="fa fa-circle fa-stack-2x"></i>
										  <i class="fa fa-share-alt fa-stack-1x fa-inverse"></i>
										</span>
                                    Compartir
                                </a>
                            </div>
                            <a href="" class="btn btn-sm btn-gris pull-right" type="submit">VER MÁS</a>
                        </div>
                    </div>
                    <div class="col-xs-4 ficha-busqueda">
                        <img class="img-responsive" src="assets/img/prop1.png">
                        <div class="descripcion">
                            <p class="titulo">2 ambientes con extraordinarias vistas y luminosidad</p>
                            <table class="caracteristicas">
                                <tr>
                                    <td colspan="2">
                                        <img src="assets/img/ubicacion.svg">Zona 1245, Berazategui, GBA Zona Sur
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="assets/img/valor_propiedad.svg">254.000 USD</td>
                                    <td><img src="assets/img/ambientes.svg">2 ambientes</td>
                                </tr>
                                <tr>
                                    <td><img src="assets/img/tipo_propiedad.svg">Departamento</td>
                                    <td><img src="assets/img/m2.svg">72 M2</td>
                                </tr>
                            </table>

                            <p class="muestra">Lorem Ipsum is simply dummy text of the...</p>

                            <div class="boton-fav">
                                <a href="" class="btn btn-xs btn-gris-claro" type="submit">
										<span class="fa-stack">
										  <i class="fa fa-circle fa-stack-2x"></i>
										  <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
										</span>
                                    Favorito
                                </a>
                            </div>
                            <div class="boton-fav compartir">
                                <a href="" class="btn btn-xs btn-gris-claro" type="submit">
										<span class="fa-stack">
										  <i class="fa fa-circle fa-stack-2x"></i>
										  <i class="fa fa-share-alt fa-stack-1x fa-inverse"></i>
										</span>
                                    Compartir
                                </a>
                            </div>
                            <a href="" class="btn btn-sm btn-gris pull-right" type="submit">VER MÁS</a>
                        </div>
                    </div>
                    <div class="col-xs-4 ficha-busqueda">
                        <img class="img-responsive" src="assets/img/prop1.png">
                        <div class="descripcion">
                            <p class="titulo">2 ambientes con extraordinarias vistas y luminosidad</p>
                            <table class="caracteristicas">
                                <tr>
                                    <td colspan="2">
                                        <img src="assets/img/ubicacion.svg">Zona 1245, Berazategui, GBA Zona Sur
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="assets/img/valor_propiedad.svg">254.000 USD</td>
                                    <td><img src="assets/img/ambientes.svg">2 ambientes</td>
                                </tr>
                                <tr>
                                    <td><img src="assets/img/tipo_propiedad.svg">Departamento</td>
                                    <td><img src="assets/img/m2.svg">72 M2</td>
                                </tr>
                            </table>

                            <p class="muestra">Lorem Ipsum is simply dummy text of the...</p>

                            <div class="boton-fav">
                                <a href="" class="btn btn-xs btn-gris-claro" type="submit">
										<span class="fa-stack">
										  <i class="fa fa-circle fa-stack-2x"></i>
										  <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
										</span>
                                    Favorito
                                </a>
                            </div>
                            <div class="boton-fav compartir">
                                <a href="" class="btn btn-xs btn-gris-claro" type="submit">
										<span class="fa-stack">
										  <i class="fa fa-circle fa-stack-2x"></i>
										  <i class="fa fa-share-alt fa-stack-1x fa-inverse"></i>
										</span>
                                    Compartir
                                </a>
                            </div>
                            <a href="" class="btn btn-sm btn-gris pull-right" type="submit">VER MÁS</a>
                        </div>
                    </div>
                </div>
                <!-- SLIDE -->
                <div class="item">
                    <div class="col-xs-4 ficha-busqueda">
                        <img class="img-responsive" src="assets/img/prop1.png">
                        <div class="descripcion">
                            <p class="titulo">2 ambientes con extraordinarias vistas y luminosidad</p>
                            <table class="caracteristicas">
                                <tr>
                                    <td colspan="2">
                                        <img src="assets/img/ubicacion.svg">Zona 1245, Berazategui, GBA Zona Sur
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="assets/img/valor_propiedad.svg">254.000 USD</td>
                                    <td><img src="assets/img/ambientes.svg">2 ambientes</td>
                                </tr>
                                <tr>
                                    <td><img src="assets/img/tipo_propiedad.svg">Departamento</td>
                                    <td><img src="assets/img/m2.svg">72 M2</td>
                                </tr>
                            </table>

                            <p class="muestra">Lorem Ipsum is simply dummy text of the...</p>

                            <div class="boton-fav">
                                <a href="" class="btn btn-xs btn-gris-claro" type="submit">
										<span class="fa-stack">
										  <i class="fa fa-circle fa-stack-2x"></i>
										  <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
										</span>
                                    Favorito
                                </a>
                            </div>
                            <div class="boton-fav compartir">
                                <a href="" class="btn btn-xs btn-gris-claro" type="submit">
										<span class="fa-stack">
										  <i class="fa fa-circle fa-stack-2x"></i>
										  <i class="fa fa-share-alt fa-stack-1x fa-inverse"></i>
										</span>
                                    Compartir
                                </a>
                            </div>
                            <a href="" class="btn btn-sm btn-gris pull-right" type="submit">VER MÁS</a>
                        </div>
                    </div>
                    <div class="col-xs-4 ficha-busqueda">
                        <img class="img-responsive" src="assets/img/prop1.png">
                        <div class="descripcion">
                            <p class="titulo">2 ambientes con extraordinarias vistas y luminosidad</p>
                            <table class="caracteristicas">
                                <tr>
                                    <td colspan="2">
                                        <img src="assets/img/ubicacion.svg">Zona 1245, Berazategui, GBA Zona Sur
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="assets/img/valor_propiedad.svg">254.000 USD</td>
                                    <td><img src="assets/img/ambientes.svg">2 ambientes</td>
                                </tr>
                                <tr>
                                    <td><img src="assets/img/tipo_propiedad.svg">Departamento</td>
                                    <td><img src="assets/img/m2.svg">72 M2</td>
                                </tr>
                            </table>

                            <p class="muestra">Lorem Ipsum is simply dummy text of the...</p>

                            <div class="boton-fav">
                                <a href="" class="btn btn-xs btn-gris-claro" type="submit">
										<span class="fa-stack">
										  <i class="fa fa-circle fa-stack-2x"></i>
										  <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
										</span>
                                    Favorito
                                </a>
                            </div>
                            <div class="boton-fav compartir">
                                <a href="" class="btn btn-xs btn-gris-claro" type="submit">
										<span class="fa-stack">
										  <i class="fa fa-circle fa-stack-2x"></i>
										  <i class="fa fa-share-alt fa-stack-1x fa-inverse"></i>
										</span>
                                    Compartir
                                </a>
                            </div>
                            <a href="" class="btn btn-sm btn-gris pull-right" type="submit">VER MÁS</a>
                        </div>
                    </div>
                    <div class="col-xs-4 ficha-busqueda">
                        <img class="img-responsive" src="assets/img/prop1.png">
                        <div class="descripcion">
                            <p class="titulo">2 ambientes con extraordinarias vistas y luminosidad</p>
                            <table class="caracteristicas">
                                <tr>
                                    <td colspan="2">
                                        <img src="assets/img/ubicacion.svg">Zona 1245, Berazategui, GBA Zona Sur
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="assets/img/valor_propiedad.svg">254.000 USD</td>
                                    <td><img src="assets/img/ambientes.svg">2 ambientes</td>
                                </tr>
                                <tr>
                                    <td><img src="assets/img/tipo_propiedad.svg">Departamento</td>
                                    <td><img src="assets/img/m2.svg">72 M2</td>
                                </tr>
                            </table>

                            <p class="muestra">Lorem Ipsum is simply dummy text of the...</p>

                            <div class="boton-fav">
                                <a href="" class="btn btn-xs btn-gris-claro" type="submit">
										<span class="fa-stack">
										  <i class="fa fa-circle fa-stack-2x"></i>
										  <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
										</span>
                                    Favorito
                                </a>
                            </div>
                            <div class="boton-fav compartir">
                                <a href="" class="btn btn-xs btn-gris-claro" type="submit">
										<span class="fa-stack">
										  <i class="fa fa-circle fa-stack-2x"></i>
										  <i class="fa fa-share-alt fa-stack-1x fa-inverse"></i>
										</span>
                                    Compartir
                                </a>
                            </div>
                            <a href="" class="btn btn-sm btn-gris pull-right" type="submit">VER MÁS</a>
                        </div>
                    </div>
                </div>
                <!-- SLIDE -->
            </div>

            <!-- Controls -->
            <a class="left carousel-control" ng-non-bindable href=".slider-mod" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="right carousel-control" ng-non-bindable href=".slider-mod" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
            </a>
        </div>
    </div>
</div>

<div class="texto-final-prop">
    <div class="row">
        <div class="col-xs-12 text-center">
            <p class="small">TODA LA INFORMACIÓN COMERCIAL, DESCRIPCIÓN, PRECIOS, PLANOS, IMÁGENES, MEDIDAS Y SUPERFICIES QUE SE PROPORCIONAN EN ESTA WEB SE BASA EN INFORMACIÓN QUE CONSIDERAMOS FIABLE. NO PODEMOS ASEGURAR QUE SEA EXACTA, NI COMPLETA, REPRESENTA MATERIAL PRELIMINAR AL SOLO EFECTO INFORMATIVO E ILUSTRATIVO DE LAS CARACTERÍSTICAS DEL INMUEBLE, PUDIENDO ESTAR SUJETA A ERRORES, OMISIONES Y CAMBIOS, INCLUYENDO EL PRECIO O LA RETIRADA DE OFERTA SIN PREVIO AVISO</p>
        </div>
    </div>
</div>