<h1 class="text-center">Por favor ingrese su correo para recuperar su contraseña</h1>
<div class="row form_login">
    <div class="col-md-4 col-md-offset-4">
        <form class="f_login">
            <input class="form-control input-lg custom-mod" type="text" name="nombre" placeholder="Email*">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <button class="btn btn-verde btn-block" type="submit">Recuperar Contraseña</button>
                </div>
            </div>
        </form>
    </div>

</div>