<div class="banner-emp">
    <div class="row">
        <img class="img-responsive" src="assets/img/banner-emp.png">
				<span class="caption">
					EXCELENCIA, PROFESIONALISMO Y CALIDAD HUMANA
				</span>
    </div>
</div>

<div class="bloque-form">
    <div class="row">
        <p>Somos una empresa en continuo crecimiento y en la búsqueda de la excelencia y el profesionalismo al momento de brindar soluciones y servicios inmobiliarios. Valoramos mucho la calidad humana y la vocación de servicio al momento de seleccionar a los integrantes de nuestros equipos y priorizamos el compromiso hacia la formación constante y la superación de objetivos</p>
    </div>
    <div class="row">
        <span class="subt">FORMÁ PARTE DE NUESTRO EQUIPO. DEJANOS TU CV</span>
    </div>
    <div class="row">
        <div class="form-contact">
            <form class="f_contacto">
                <div class="col-xs-4">
                    <input class="form-control custom" type="text" name="nombre" placeholder="Nombre">
                    <input class="form-control custom" type="text" name="telefono" placeholder="Telefono">

                </div>
                <div class="col-xs-4">
                    <input class="form-control custom" type="text" name="apellido" placeholder="Apellido">
                    <input class="form-control custom" type="date" name="nacimiento" placeholder="Fecha de Nacimiento">
                </div>
                <div class="col-xs-4">
                    <input class="form-control custom" type="text" name="email" placeholder="E-mail">
                </div>
                <div class="col-xs-12">
                    <textarea class="form-control custom" name="mensaje" placeholder="¿En qué posición diaria de la empresa te gustaría trabajar?"></textarea>
                </div>
                <div class="col-xs-4">
                    <button class="btn btn-verde" type="submit">ADJUNTAR CV</button> <span>PDF / DOC / DOCX</span>
                </div>
                <div class="col-xs-4">
                    <div class="col-xs-6"></div>
                    <div class="col-xs-6">
                        <input class="form-control custom" type="text" name="captcha" placeholder="Ingrese código">
                    </div>

                </div>
                <div class="col-xs-4">
                    <button class="btn btn-naranja pull-right" type="submit">ENVIAR</button>
                </div>
            </form>
        </div>
    </div>
</div>
