<ion-view hide-nav-bar="true">
    <ion-content class="ok-user-register">
        <div class="list list-inset ok-margin-top-2">
            <label class="item item-input ok-form-input">
                <input type="text" placeholder="Nombre *">
            </label>
            <label class="item item-input ok-form-input">
                <input type="text" placeholder="Apellido *">
            </label>
            <label class="item item-input ok-form-input">
                <input type="text" placeholder="Email *">
            </label>
            <label class="item item-input ok-form-input">
                <input type="text" placeholder="Teléfono *">
            </label>
            <label class="item item-input ok-form-input">
                <input type="password" placeholder="Contraseña *">
            </label>
            <label class="item item-input ok-form-input">
                <input type="password" placeholder="Confirmar contraseña *">
            </label>
            <label class="item item-input ok-form-input">
                <input type="text" placeholder="Elegir pregunta secreta">
            </label>
            <label class="item item-input ok-form-input">
                <input type="text" placeholder="Respuesta secreta *">
            </label>
            <p class="ok-color-orange ok-margin-top-10">* campos obligatorios</p>
            <ion-toggle toggle-class="toggle-balanced">Acepto los términos y condiciones</ion-toggle>
            <button class="button button-block button-positive ok-form-button">
                CREAR CUENTA
            </button>
        </div>
    </ion-content>
</ion-view>