<div class="row bloque1">
    <div class="col-xs-4">
        <div class="col-xs-8 pull-right b1-imagen">
            <img class="img-responsive" src="assets/img/tractor.png">
        </div>
    </div>
    <div class="col-xs-8 texto">
        <span class="titulo-tasa"> <h2>MÁS DE 5.000 CAMPOS TASADOS</h2> </span>

        <P>Texto rural Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</P>
    </div>
</div>

<div class="valor">
    <div class="row">
        <span class="subt-rural">CONOZCA EL VALOR DE SU INMUEBLE</span>
    </div>
    <div class="row">
        <div class="form-contact">
            <form class="f_contacto">
                <div class="col-xs-4 padding-left-0">
                    <label class="flecha-select">
                        <select name="" class="form-control custom">
                            <option>Vender</option>
                        </select>
                    </label>
                    <label class="flecha-select">
                        <select name="" class="form-control custom">
                            <option>Tipo de Inmueble</option>
                        </select>
                    </label>
                    <label class="flecha-select">
                        <select name="" class="form-control custom">
                            <option>Zona</option>
                        </select>
                    </label>
                </div>
                <div class="col-xs-4">
                    <input class="form-control custom" type="text" name="nombre" placeholder="Nombre">
                    <input class="form-control custom" type="text" name="apellido" placeholder="Apellido">
                    <input class="form-control custom" type="text" name="email" placeholder="E-mail">
                </div>
                <div class="col-xs-4 padding-right-0">
                    <input class="form-control custom" type="text" name="telefono" placeholder="Telefono">
                    <input class="form-control custom" type="text" name="celular" placeholder="Celular">
                    <div class="col-xs-4 pull-right padding-right-0">
                        <button class="btn btn-naranja btn-block" type="submit">ENVIAR</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="bloque-video">
    <div class="row">
        <div class="video col-lg-12">
            <div class="reproducir">
                <img src="assets/img/play.png">
            </div>
            <a href="" class="btn btn-gris btn-lg" role="button">REPRODUCIR VIDEO</a>
        </div>
    </div>
</div>

<div class="caracteristicas">
    <div class="row">
        <h2>POR QUÉ VENDER CON NOSOTROS</h2>
    </div>
    <div class="row">
        <div class="col-xs-6 padding-left-0">
            <div class="carac">
                <div class="titulo">
                    <span class="col-xs-2"> <img class="img-responsive" src="assets/img/cp.svg"> </span>
                    <span class="col-xs-10"> <h4>CONTACTOS PERSONALES</h4> </span>
                </div>
                <div class="col-xs-12 texto">
                    <p>
                        Lorem Ipsum is simply dummy text of the printng and typesetng industry. Lorem Ipsum has been the industry's standard dummy text
                        ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-6 padding-right-0">
            <div class="carac">
                <div class="titulo">
                    <span class="col-xs-2"> <img class="img-responsive" src="assets/img/op.svg"> </span>
                    <span class="col-xs-10"> <h4>OFICINAS AL PÚBLICO</h4> </span>
                </div>
                <div class="col-xs-12  texto">
                    <p>
                        Lorem Ipsum is simply dummy text of the printng and typesetng industry. Lorem Ipsum has been the industry's standard dummy text
                        ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 padding-left-0">
            <div class="carac">
                <div class="titulo">
                    <span class="col-xs-2"> <img class="img-responsive" src="assets/img/ip.svg"> </span>
                    <span class="col-xs-10"> <h4>INFORMES DE PRESENTACIÓN</h4> </span>
                </div>
                <div class="col-xs-12  texto">
                    <p>
                        Lorem Ipsum is simply dummy text of the printng and typesetng industry. Lorem Ipsum has been the industry's standard dummy text
                        ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-6 padding-right-0">
            <div class="carac">
                <div class="titulo">
                    <span class="col-xs-2"> <img class="img-responsive" src="assets/img/vp.svg"> </span>
                    <span class="col-xs-10"> <h4>VÍA PÚBLICA Y CARTELERÍA</h4> </span>
                </div>
                <div class="col-xs-12  texto">
                    <p>
                        Lorem Ipsum is simply dummy text of the printng and typesetng industry. Lorem Ipsum has been the industry's standard dummy text
                        ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 padding-left-0">
            <div class="carac">
                <div class="titulo">
                    <span class="col-xs-2"> <img class="img-responsive" src="assets/img/pg.svg"> </span>
                    <span class="col-xs-10"> <h4>PUBLICIDAD GRÁFICA</h4> </span>
                </div>
                <div class="col-xs-12  texto">
                    <p>
                        Lorem Ipsum is simply dummy text of the printng and typesetng industry. Lorem Ipsum has been the industry's standard dummy text
                        ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-6 padding-right-0">
            <div class="carac">
                <div class="titulo">
                    <span class="col-xs-2"> <img class="img-responsive" src="assets/img/rp.svg"> </span>
                    <span class="col-xs-10"> <h4>REVISTAS PROPIAS</h4> </span>
                </div>
                <div class="col-xs-12  texto">
                    <p>
                        Lorem Ipsum is simply dummy text of the printng and typesetng industry. Lorem Ipsum has been the industry's standard dummy text
                        ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 padding-left-0">
            <div class="carac">
                <div class="titulo">
                    <span class="col-xs-2"> <img class="img-responsive" src="assets/img/p.svg"> </span>
                    <span class="col-xs-10"> <h4>PRENSA</h4> </span>
                </div>
                <div class="col-xs-12  texto">
                    <p>
                        Lorem Ipsum is simply dummy text of the printng and typesetng industry. Lorem Ipsum has been the industry's standard dummy text
                        ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-6 padding-right-0">
            <div class="carac">
                <div class="titulo">
                    <span class="col-xs-2"> <img class="img-responsive" src="assets/img/m.svg"> </span>
                    <span class="col-xs-10"> <h4>INTERNET MAILING</h4> </span>
                </div>
                <div class="col-xs-12  texto">
                    <p>
                        Lorem Ipsum is simply dummy text of the printng and typesetng industry. Lorem Ipsum has been the industry's standard dummy text
                        ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
