<div class="slider row slider-rural">
    <div id="slider-principal" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#slider-principal" data-slide-to="0" class="active"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="assets/img/slide_rural.png" alt="">
                <!--<div class="carousel-caption">
                    <h2>Desde 1974 junto al hombre de campo</h2>
                    <span class="txt-caption">O´Keefe cuenta con una amplia trayectoria en la compra venta de campos y un equipo de asesores comerciales especialmente capacitados en el rubro para así asesorarlo de manera personalizada y profesional.</span>
                    <a href="#/rural/tasaciones" class="btn btn-negro btn-lg" role="button">VER MAS</a>
                </div>-->
            </div>
        </div>
    </div>
</div>
<div class="row home-block">
    <div class="col-md-3">
        <div class="col-md-8 pull-right b1-imagen">
            <img class="img-responsive" src="assets/img/molino.png">
        </div>
    </div>
    <div class="col-md-8 col-xs-offset-1 texto">
        <span class="titulo-home"> <h2>DESDE 1974 JUNTO AL HOMBRE DE CAMPO</h2> </span>
        <div>
            <p><strong>O´Keefe</strong> cuenta con una amplia trayectoria en la compra venta de campos y un equipo de
                asesores comerciales especialmente capacitados en el rubro para así asesorarlo de manera personalizada y
                profesional.</p>
        </div>
        <div class="row">
            <div class="col-md-4"><img class="img-responsive" src="assets/img/cair.png"></div>
            <div class="col-md-4"><img class="img-responsive" src="assets/img/cucicba.png"></div>
            <div class="col-md-4"><img class="img-responsive" src="assets/img/cair.png"></div>
        </div>
    </div>
</div>
<div class="row bloque2 margin-bottom-0">
    <div class="col-lg-4 col-md-12 bloque-img-r bi1">
        <a class="btn btn-naranja difuminado" href="#/tasaciones">POR QUÉ VENDER CON NOSOTROS</a>
    </div>
    <div class="col-lg-4 col-md-12 bloque-img-r bi2">
        <a class="btn btn-verde difuminado" href="#/quienes-somos#trayectoria">NUESTROS SERVICIOS</a>
    </div>
    <div class="col-lg-4 col-md-12 bloque-img-r bi3">
        <a class="btn btn-naranja difuminado" href="#/quienes-somos">QUIÉNES SOMOS</a>
    </div>
</div>
