<div class="slider row">
    <div id="slider-principal-rural" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#slider-principal-rural" data-slide-to="0" class="active"></li>
            <li data-target="#slider-principal-rural" data-slide-to="1"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <a class="btn btn-naranja btn-lg difuminado" href="">ADMINISTRACIÓN DE CAMPOS Y VENTA DE HACIENDA</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <a class="btn btn-naranja btn-lg difuminado" href="">ADMINISTRACIÓN DE CAMPOS Y VENTA DE HACIENDA</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row home-block">
    <div class="col-md-3">
        <div class="col-md-8 pull-right b1-imagen">
            <img class="img-responsive" src="../assets/img/molino.png">
        </div>
    </div>
    <div class="col-md-8 col-xs-offset-1 texto">
        <span class="titulo-home"> <h2>MAS DE 40 AÑOS DE ESFUERZO, VISIÓN Y DIVERSIDAD EN LA INDUSTRIA INMOBILIARIA ARGENTINA</h2> </span>
        <div>
            <P><strong>O´Keefe</strong> se inicia con la sección rural en el año 1974. Desde entonces, y a través de la experiencia y capacitación, nos hemos perfeccionado en la compraventa de campos, chacras, quintas, hacienda y asesoramiento, tanto agropecuario como jurídico y legal.</P>
        </div>
        <div class="row">
            <div class="col-md-4"><img class="img-responsive" src="../assets/img/cair.png"></div>
            <div class="col-md-4"><img class="img-responsive" src="../assets/img/cucicba.png"></div>
            <div class="col-md-4"><img class="img-responsive" src="../assets/img/cair.png"></div>
        </div>
    </div>
</div>
<div class="row bloque2 margin-bottom-0">
    <div class="bloque-img-r bi1">
        <a class="btn btn-naranja difuminado" href="#/tasaciones">POR QUÉ VENDER CON NOSOTROS</a>
    </div>
    <div class="bloque-img-r bi2">
        <a class="btn btn-verde difuminado" href="#/quienes-somos#trayectoria">NUESTROS SERVICIOS</a>
    </div>
    <div class="bloque-img-r bi3">
        <a class="btn btn-verde difuminado" href="#/quienes-somos">QUIÉNES SOMOS</a>
    </div>
    <div class="bloque-img-r bi4">
        <a class="btn btn-naranja difuminado" href="#/empleo">FORMÁ PARTE DE NUESTRO EQUIPO</a>
    </div>
</div>
