<div class="banner-emp">
    <div class="row">
        <img class="img-responsive" src="../assets/img/banner-rural-empleo.png">
        <span class="caption">
            EXCELENCIA, PROFESIONALISMO Y CALIDAD HUMANA
        </span>
    </div>
</div>
<div class="row bloque-form">
    <div class="col-lg-12">
        <p>Somos una empresa en continuo crecimiento y en la búsqueda de la excelencia y el profesionalismo al momento
            de brindar soluciones y servicios inmobiliarios. Valoramos mucho la calidad humana y la vocación de servicio
            al momento de seleccionar a los integrantes de nuestros equipos y priorizamos el compromiso hacia la
            formación constante y la superación de objetivos</p>
    </div>
    <div class="col-lg-12">
        <span class="subt-rural">FORMÁ PARTE DE NUESTRO EQUIPO. DEJANOS TU CV</span>
    </div>
    <div class="col-lg-12" ng-show="alert != null">
        <div uib-alert ng-class="'alert-' + (alert.type || 'warning')" close="alert = null">{{alert.msg}}</div>
    </div>
    <div class="col-lg-12 padding-0 form-work">
        <div class="form-contact">
            <form novalidate ng-submit="submitWorkForm($event)" name="work_Form" class="f_contacto">
                <div class="col-lg-12 padding-0">
                    <div class="col-lg-4 col-md-12">
                        <input id="nombre" class="form-control custom" type="text" ng-model="workForm.nombre"
                               name="nombre" placeholder="Nombre*"
                               uib-tooltip="Debe ingresar su nombre"
                               tooltip-placement="top"
                               tooltip-is-open="!workForm.nombre && workForm.error"
                               tooltip-trigger="'none'">
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <input id="apellido" class="form-control custom" type="text" ng-model="workForm.apellido"
                               name="apellido" placeholder="Apellido*"
                               uib-tooltip="Debe ingresar su apellido"
                               tooltip-placement="top"
                               tooltip-is-open="!workForm.apellido && workForm.error"
                               tooltip-trigger="'none'">
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <input id="email" class="form-control custom" type="email" ng-model="workForm.email"
                               name="email" placeholder="Email*"
                               uib-tooltip="Debe ingresar un email válido"
                               tooltip-placement="top"
                               tooltip-is-open="(!workForm.email && workForm.error) || !work_Form.email.$valid"
                               tooltip-trigger="'none'">
                    </div>
                </div>
                <div class="col-lg-12 padding-0">
                    <div class="col-lg-4 col-md-12">
                        <input ng-model="workForm.telefono" class="form-control custom" type="text" name="telefono"
                               placeholder="Telefono">
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <input ng-model="workForm.fecha_nacimiento" class="form-control custom" type="date"
                               name="nacimiento"
                               placeholder="Fecha de Nacimiento">
                    </div>
                </div>
                <div class="col-lg-12">
                    <textarea ng-model="workForm.comentarios" class="form-control custom" name="comentarios"
                              placeholder="¿En qué posición diaria de la empresa te gustaría trabajar?"></textarea>
                </div>
                <div class="col-lg-5">
                    <file-field ng-model="workForm.file" accept=".pdf,.doc,.docx" class="btn btn-verde">ADJUNTAR CV
                    </file-field>
                    <span ng-if="!workForm.file.name">PDF / DOC / DOCX</span>
                    <span ng-if="workForm.file.name">{{workForm.file.name}}</span>
                </div>
                <div class="col-lg-4 col-lg-offset-1"
                     uib-tooltip="Debe resolver el Captcha"
                     tooltip-placement="top"
                     tooltip-is-open="!workForm.captcha && workForm.error"
                     tooltip-trigger="'none'">
                    <div class="col-lg-12">
                        <div ng-model="workForm.captcha" vc-recaptcha key="CAPTCHA"></div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <button class="btn btn-naranja pull-right" type="submit" ng-disabled="work_Form.$error.email">
                        ENVIAR
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
