<div id="modal-cuenta">
    <div class="modal-body">
        <div class="container-fluid">
            <div class="menu text-center pestanas-cuenta">
                <div class="item i1" ng-class="{'active' : activeTab == 'data'}">
                    <a href="" ng-click="activeTab = 'data'" data-toggle="tab">Mis Datos</a>
                </div>
                <div class="item i2" ng-class="{'active' : activeTab == 'fav'}">
                    <a href="" ng-click="activeTab = 'fav'" data-toggle="tab">Mis Favoritos</a>
                </div>
                <div class="item i3" ng-class="{'active' : activeTab == 'appr'}">
                    <a href="" ng-click="activeTab = 'appr'" data-toggle="tab">Mis Tasaciones</a>
                </div>
            </div>
            <a class="close" ng-click="cancel()"><span aria-hidden="true"><img src="assets/img/cerrar.png"></span></a>
            <div class="row contenido">
                <div class="tab-content col-lg-12 padding-0">
                    <div ng-show="activeTab == 'data'" class="account-data padding-0 col-lg-12" id="datos">
                        <div class="col-lg-12 info">
                            <div class="col-lg-4 user-img">
                                <img class="img-responsive center-block img-circle" gravatar-size="144"
                                     gravatar-src="user.email">
                            </div>
                            <form name="profileForm" ng-submit="updateUser()" class="clearfix">
                                <div class="col-lg-8">
                                    <h3 class="titulo">DATOS PERSONALES</h3>
                                    <div class="row" ng-show="alert != null">
                                        <div uib-alert ng-class="'alert-' + (alert.type || 'warning')"
                                             close="alert = null">{{alert.msg}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4"><b>Nombre:</b></div>
                                        <div class="col-lg-6">
                                            <input type="text"
                                                   ng-model="user.nombre"
                                                   class="form-control"
                                                   required
                                                   autofocus
                                                   placeholder="Nombre">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4"><b>Apellido:</b></div>
                                        <div class="col-lg-6">
                                            <input type="text"
                                                   ng-model="user.apellido"
                                                   class="form-control"
                                                   required
                                                   placeholder="Apellido">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4"><b>Email:</b></div>
                                        <div class="col-lg-6">
                                            <input type="email"
                                                   ng-model="user.email"
                                                   class="form-control"
                                                   placeholder="Email"
                                                   required
                                            >
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4"><b>Telefono:</b></div>
                                        <div class="col-lg-6">
                                            <input type="text"
                                                   ng-model="user.telefono"
                                                   class="form-control"
                                                   placeholder="Telefono"
                                            >
                                        </div>
                                    </div>
                                    <h3 class="titulo">SEGURIDAD</h3>
                                    <div class="row">
                                        <div class="col-lg-4"><b>Contraseña:</b></div>
                                        <div class="col-lg-6">
                                            <input type="password"
                                                   ng-model="user.password"
                                                   class="form-control"
                                                   placeholder="*********">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- FIN PESTAÑA -->
                    <div ng-show="activeTab == 'fav'" class="busqueda padding-0" id="fav">
                        <div class="row">
                            <div class="col-lg-12">
                                <h3 class="titulo">HOLA {{user.nombre | uppercase}}, ESTAS SON TUS UNIDADES FAVORITAS</h3>
                            </div>
                            <div class="col-lg-12">
                                <p>Envianos tu consulta. Un asesor te contactará con información a la brevedad</p>
                            </div>
                        </div>
                        <div class="row">
                            <form class="form-envio-fav">
                                <div class="col-lg-12">
                                    <textarea class="form-control custom" placeholder="Mensaje"></textarea>
                                </div>
                                <div class="col-lg-5 col-lg-offset-6">
                                    <div class="col-lg-2 check-button text-center padding-0">
                                        <input id="newsletter" bs-switch ng-model="favForm.newsletter" type="checkbox"
                                               switch-size="small"
                                               switch-on-color="normal"
                                               switch-off-color="default"
                                               switch-on-text="<span class='fa fa-check'></span>"
                                               switch-off-text="<span class='fa fa-close'></span>" ng-true-value="1"
                                               ng-false-value="0">
                                    </div>
                                    <label for="newsletter" class="col-lg-10">Quiero que me envíen propiedades similares</label>

                                </div>
                                <div class="col-lg-1 pull-right">
                                    <button type="submit" class="btn btn-sm btn-naranja pull-right">ENVIAR</button>
                                </div>
                            </form>

                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <label class="flecha-select">
                                    <select name="" class="form-control custom">
                                        <option>ver menor precio</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-12 padding-0 resultados">
                            <!--ficha resultados-->
                            <div ng-repeat="prop in props" class="col-xs-12 ficha account-fav-info">
                                <div class="col-xs-3 padding-0">
                                    <img class="img-responsive" src="{{prop.foto_url}}">
                                </div>
                                <div class="col-xs-4">
                                    <div class="descripcion padding-0">
                                        <p class="titulo">{{prop.fichaweb}}</p>
                                        <p class="muestra text-justify"></p>
                                    </div>
                                </div>
                                <div class="col-xs-3 padding-0">
                                    <div class="descripcion padding-0">
                                        <div class="col-lg-12 padding-0 caracteristicas">
                                            <div class="col-lg-12 padding-0">
                                                <img src="assets/img/ubicacion.svg">Zona {{prop.ubica[0].idZona}}, {{prop.ubica[0].valor}}
                                            </div>
                                            <div class="col-lg-6 col-lg-12 padding-0">
                                                <img src="assets/img/valor_propiedad.svg">{{prop.valor_alq || prop.valor_venta}} {{prop.moneda_alq || prop.moneda_venta}}
                                            </div>
                                            <div class="col-lg-6 col-lg-12 padding-0">
                                                <img src="assets/img/tipo_propiedad.svg">{{prop.tipo_prop}}
                                            </div>
                                            <div class="col-lg-6 col-lg-12 padding-0">
                                                <img src="assets/img/ambientes.svg">{{prop.cantidad_ambientes}} ambientes
                                            </div>
                                            <div class="col-lg-6 col-lg-12 padding-0">
                                                <img src="assets/img/m2.svg">{{prop.sup_total}} M2
                                            </div>
                                        </div>
                                        <div class="property-buttons">
                                            <div class="boton-fav compartir">
                                                <a href="" class="btn btn-xs btn-gris-claro-2" type="submit">
                                    <span class="fa-stack">
                                      <i class="fa fa-circle fa-stack-2x"></i>
                                      <i class="fa fa-share-alt fa-stack-1x fa-inverse"></i>
                                    </span>
                                                    Compartir
                                                </a>
                                            </div>
                                            <a href="" ng-click="favDetails(prop.id_prop)" class="btn btn-sm btn-gris pull-right">VER MÁS</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <a href="" ng-click="favToggle(prop.id_prop)" class="btn btn-md delete-button" >
                                <span class="fa-stack">
                                  <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                  <i class="fa fa-close fa-stack-1x"></i>
                                </span>
                                        Eliminar
                                    </a>
                                </div>
                            </div>
                            <!--ficha resultados-->
                        </div>
                    </div>
                    <!-- FIN PESTAÑA -->
                    <div ng-show="activeTab == 'appr'" id="tasa">
                        <div class="row">
                            <div class="col-lg-12">
                                <h3 class="titulo">HOLA [NOMBRE], ESTAS SON LAS TASACIONES FAVORITAS</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <label class="flecha-select">
                                    <select name="" class="form-control custom">
                                        <option>ver menor precio</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="tasacion">
                                    <span class="eliminar-fav"> <i class="fa fa-close"></i> </span>
                                    <h4 class="t">TASACIÓN [COD **]</h4>
                                    <div class="row">
                                        <div class="col-lg-6"><strong>Fecha</strong></div>
                                        <div class="col-lg-6">xxxxxxxxx</div>
                                        <div class="col-lg-6"><strong>Operación</strong></div>
                                        <div class="col-lg-6">xxxxxxxxx</div>
                                        <div class="col-lg-6"><strong>Tipo Inmueble</strong></div>
                                        <div class="col-lg-6">xxxxxxxx</div>
                                        <div class="col-lg-6"><strong>Zona</strong></div>
                                        <div class="col-lg-6">xxxxxxxxxx</div>
                                    </div>
                                    <div class="row cc">
                                        <div class="col-lg-6 tt"><h4>ESTADO</h4></div>
                                        <div class="col-lg-6 tt"><h4>VALOR</h4></div>
                                        <div class="col-lg-6">En venta</div>
                                        <div class="col-lg-6">USD 300.000</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="tasacion">
                                    <span class="eliminar-fav"> <i class="fa fa-close"></i> </span>
                                    <h4 class="t">TASACIÓN [COD **]</h4>
                                    <div class="row">
                                        <div class="col-lg-6"><strong>Fecha</strong></div>
                                        <div class="col-lg-6">xxxxxxxxx</div>
                                        <div class="col-lg-6"><strong>Operación</strong></div>
                                        <div class="col-lg-6">xxxxxxxxx</div>
                                        <div class="col-lg-6"><strong>Tipo Inmueble</strong></div>
                                        <div class="col-lg-6">xxxxxxxx</div>
                                        <div class="col-lg-6"><strong>Zona</strong></div>
                                        <div class="col-lg-6">xxxxxxxxxx</div>
                                    </div>
                                    <div class="row cc">
                                        <div class="col-lg-6 tt"><h4>ESTADO</h4></div>
                                        <div class="col-lg-6 tt"><h4>VALOR</h4></div>
                                        <div class="col-lg-6">En venta</div>
                                        <div class="col-lg-6">USD 300.000</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="tasacion">
                                    <span class="eliminar-fav"> <i class="fa fa-close"></i> </span>
                                    <h4 class="t">TASACIÓN [COD **]</h4>
                                    <div class="row">
                                        <div class="col-lg-6"><strong>Fecha</strong></div>
                                        <div class="col-lg-6">xxxxxxxxx</div>
                                        <div class="col-lg-6"><strong>Operación</strong></div>
                                        <div class="col-lg-6">xxxxxxxxx</div>
                                        <div class="col-lg-6"><strong>Tipo Inmueble</strong></div>
                                        <div class="col-lg-6">xxxxxxxx</div>
                                        <div class="col-lg-6"><strong>Zona</strong></div>
                                        <div class="col-lg-6">xxxxxxxxxx</div>
                                    </div>
                                    <div class="row cc">
                                        <div class="col-lg-6 tt"><h4>ESTADO</h4></div>
                                        <div class="col-lg-6 tt"><h4>VALOR</h4></div>
                                        <div class="col-lg-6">En venta</div>
                                        <div class="col-lg-6">USD 300.000</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <form class="form-envio-tasa">
                                <div class="col-lg-12">
                        <textarea class="form-control custom"
                                  placeholder="Quiero realizar una nueva tssasación"></textarea>
                                </div>
                                <div class="col-lg-5 pull-right">
                                    <button type="submit" class="btn btn-sm btn-naranja pull-right">ENVIAR</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
