<div id="modal-fav">
    <div class="modal-body busqueda">
        <div class="container-fluid resultados">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="titulo">ESTAS SON TUS UNIDADES FAVORITAS</h3>
                </div>
                <div class="col-lg-5">
                    <p>Chequeelas y envíanos tu consulta</p>
                </div>
            </div>
            <!--ficha resultados-->
            <div class="col-lg-12 ficha padding-0">
                <span class="eliminar-fav"><i class="fa fa-close"></i></span>
                <div class="col-lg-4 padding-0">
                    <img class="img-responsive" src="assets/img/prop1.png">
                </div>
                <div class="col-lg-4">
                    <div class="descripcion">
                        <p class="titulo">2 ambientes con extraordinarias vistas y luminosidad</p>
                        <p class="muestra text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ullamcorper, lorem volutpat finibus aliquet, sem erat aliquet augue, sit amet commodo tellus metus in nisi. </p>
                    </div>
                </div>
                <div class="col-lg-4 padding-0">
                    <div class="descripcion padding-0">
                        <div class="col-lg-12 padding-0 caracteristicas">
                            <div class="col-lg-12 padding-0">
                                <img src="assets/img/ubicacion.svg">Zona 1245, Berazategui, GBA Zona Sur
                            </div>
                            <div class="col-lg-6 col-md-12 padding-0">
                                <img src="assets/img/valor_propiedad.svg">254.000 USD
                            </div>
                            <div class="col-lg-6 col-md-12 padding-0">
                                <img src="assets/img/tipo_propiedad.svg">Departamento
                            </div>
                            <div class="col-lg-6 col-md-12 padding-0">
                                <img src="assets/img/ambientes.svg">2 ambientes
                            </div>
                            <div class="col-lg-6 col-md-12 padding-0">
                                <img src="assets/img/m2.svg">72 M2
                            </div>
                        </div>
                        <div class="property-buttons">
                            <div class="col-lg-12 padding-0">
                                <div class="boton-fav">
                                    <a class="btn btn-xs btn-gris-claro-2" type="submit">
                                            <span class="fa-stack">
                                              <i class="fa fa-circle fa-stack-2x"></i>
                                              <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                                            </span>
                                        Favorito
                                    </a>
                                </div>
                                <div class="boton-fav compartir pull-right">
                                    <a class="btn btn-xs btn-gris-claro-2" type="submit">
                                            <span class="fa-stack">
                                              <i class="fa fa-circle fa-stack-2x"></i>
                                              <i class="fa fa-share-alt fa-stack-1x fa-inverse"></i>
                                            </span>
                                        Compartir
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-12 padding-0 margin-top-2">
                                <a href="#!/ficha-emprendimiento" class="col-lg-12 btn btn-sm btn-gris pull-right">VER MÁS</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--ficha resultados-->
            <div class="col-lg-12 ficha padding-0">
                <span class="eliminar-fav"><i class="fa fa-close"></i></span>
                <div class="col-lg-4 padding-0">
                    <img class="img-responsive" src="assets/img/prop1.png">
                </div>
                <div class="col-lg-4">
                    <div class="descripcion">
                        <p class="titulo">2 ambientes con extraordinarias vistas y luminosidad</p>
                        <p class="muestra text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ullamcorper, lorem volutpat finibus aliquet, sem erat aliquet augue, sit amet commodo tellus metus in nisi. </p>
                    </div>
                </div>
                <div class="col-lg-4 padding-0">
                    <div class="descripcion padding-0">
                        <div class="col-lg-12 padding-0 caracteristicas">
                            <div class="col-lg-12 padding-0">
                                <img src="assets/img/ubicacion.svg">Zona 1245, Berazategui, GBA Zona Sur
                            </div>
                            <div class="col-lg-6 col-md-12 padding-0">
                                <img src="assets/img/valor_propiedad.svg">254.000 USD
                            </div>
                            <div class="col-lg-6 col-md-12 padding-0">
                                <img src="assets/img/tipo_propiedad.svg">Departamento
                            </div>
                            <div class="col-lg-6 col-md-12 padding-0">
                                <img src="assets/img/ambientes.svg">2 ambientes
                            </div>
                            <div class="col-lg-6 col-md-12 padding-0">
                                <img src="assets/img/m2.svg">72 M2
                            </div>
                        </div>
                        <div class="property-buttons">
                            <div class="col-lg-12 padding-0">
                                <div class="boton-fav">
                                    <a class="btn btn-xs btn-gris-claro-2" type="submit">
                                            <span class="fa-stack">
                                              <i class="fa fa-circle fa-stack-2x"></i>
                                              <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                                            </span>
                                        Favorito
                                    </a>
                                </div>
                                <div class="boton-fav compartir pull-right">
                                    <a class="btn btn-xs btn-gris-claro-2" type="submit">
                                            <span class="fa-stack">
                                              <i class="fa fa-circle fa-stack-2x"></i>
                                              <i class="fa fa-share-alt fa-stack-1x fa-inverse"></i>
                                            </span>
                                        Compartir
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-12 padding-0 margin-top-2">
                                <a href="#!/ficha-emprendimiento" class="col-lg-12 btn btn-sm btn-gris pull-right">VER MÁS</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--ficha resultados-->
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4">
                    <button type="button" class="btn btn-sm btn-naranja btn-block">GUARDÁ Y SEGUÍ BUSCANDO</button>
                </div>
            </div>
            <div class="row">
                <form class="form-envio-fav">
                    <div class="col-lg-12">
                        <textarea class="form-control custom" placeholder="Mensaje"></textarea>
                    </div>
                    <div class="col-lg-6 pull-right">
                        <div class="bootstrap-switch-square">
                            <input type="checkbox" data-size="mini" data-toggle="switch" id="similares" data-on-text="<span class='fa fa-check'></span>" data-off-text="<span class='fa fa-close'></span>" />
                            <label for="similares" class="css-label">Quiero que me envíen propiedades similares</label>
                        </div>


                        <button type="submit" class="btn btn-sm btn-verde pull-right">ENVIAR</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>