<div id="modal-login">
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <a ng-click="cancel()" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true"><img src="assets/img/cerrar.png"></span></a>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h4 class="titulo">Guardando tus búsquedas en <strong>Favoritos</strong> podrás acceder a ellas en
                        cualquier momento!</h4>
                </div>
            </div>
            <div class="row" ng-show="alert != null">
                <div uib-alert ng-class="'alert-' + (alert.type || 'warning')" close="alert = null">{{alert.msg}}</div>
            </div>
            <div class="row">
                <div class="col-xs-6 logins">
                    <div class="l_face">
                        <div class="col-xs-3">
                            <img class="img-responsive" src="assets/img/face_reg.svg">
                        </div>
                        <span><a href="#" ng-click="authenticate('facebook')">Iniciar sesión con Facebook</a></span>
                    </div>

                    <div class="l_goo">
                        <div class="col-xs-3">
                            <img class="img-responsive" src="assets/img/goo_reg.svg">
                        </div>
                        <span><a href="#" ng-click="authenticate('google')">Iniciar sesión con Google</a></span>
                    </div>

                    <span class="nota1">Nunca publicaremos nada sin tu permiso</span>
                    <h3>¿NO TENÉS CUENTA?</h3>
                    <a href="" ng-click="register()" id="enlace_reg" class="enlace_reg">¡Registrate!</a>
                </div>
                <div class="col-xs-6 form_login">
                    <form class="f_login" name="userLoginForm"
                          ng-submit="doLogin(email, password, userLoginForm.$valid)" novalidate>

                        <div class="form-group" ng-class="{ 'has-error': userLoginForm.email.$invalid && !userLoginForm.email.$pristine }">
                            <input class="form-control input-lg custom-mod"
                                   type="email"
                                   ng-model="email"
                                   name="email"
                                   placeholder="Email*"
                                   required>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': userLoginForm.password.$invalid && !userLoginForm.password.$pristine }">
                            <input class="form-control input-lg custom-mod"
                                   type="password"
                                   ng-model="password"
                                   name="password"
                                   placeholder="Contraseña*"
                                   required>
                        </div>

                        <div class="blq_not">
                            <span class="nota">* Campo obligatorio</span>
                        </div>
                        <div class="blq_not">
                            <div class="bootstrap-switch-square">
                                <input type="checkbox" data-size="mini" data-toggle="switch" id="recordar"
                                       data-on-text="<span class='fa fa-check'></span>"
                                       data-off-text="<span class='fa fa-close'></span>"/>
                                <label for="recordar" class="css-label">Recordar contraseña</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-7 pull-right">
                                <button class="btn btn-verde btn-block" ng-disabled="userLoginForm.$invalid">INGRESAR
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <span class="col-xs-7 pull-right text-center enlace_rec"><a ng-click="rememberPw()">¿Olvidaste
                                tu contraseña?</a></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
