<ul class="dropdown-menu dropdown-propertySelect" uib-dropdown-menu role="menu" aria-labelledby="button-template-url">
    <li role="menuitem">
        <div class="row menu-item">
            <div class="col-lg-4 menu-item-image">
                <a href="" ng-click="selectProperty('9,1,7,17')"><img src="assets/img/icon_search/casa.png" class="img-responsive" alt=""></a>
            </div>
            <div class="col-lg-8 menu-item-text">
                <h3  class="menu-item-title"><a class="color-green" ng-click="selectProperty('9,1,7,17')">Residencial</a></h3>
                <a class="menu-item-opt color-orange" ng-click="selectProperty('9')">Casas</a>,
                <a class="menu-item-opt color-orange" ng-click="selectProperty('1')">Departamentos</a>,
                <a class="menu-item-opt color-orange" ng-click="selectProperty('7')">Lotes</a>,
                <a class="menu-item-opt color-orange" ng-click="selectProperty('17')">Quintas</a>
            </div>
        </div>
    </li>
    <li class="divider"></li>
    <li role="menuitem">
        <div class="row menu-item">
            <div class="col-lg-4 menu-item-image">
                <a href="" ng-click="selectProperty('7,19,2,11,15,18')"><img src="assets/img/icon_search/industry-factory-icon.png" class="img-responsive" alt=""></a>
            </div>
            <div class="col-lg-8 menu-item-text">
                <h3  class="menu-item-title"><a class="color-green" ng-click="selectProperty('7,19,2,11,15,18')">Comercial</a></h3>
                <a class="menu-item-opt color-orange" ng-click="selectProperty('7')">Lotes</a>,
                <a class="menu-item-opt color-orange" ng-click="selectProperty('19')">Industrial</a>,
                <a class="menu-item-opt color-orange" ng-click="selectProperty('2')">Locales</a>,
                <a class="menu-item-opt color-orange" ng-click="selectProperty('11')">Oficinas</a>,
                <a class="menu-item-opt color-orange" ng-click="selectProperty('15')">Galpones</a>,
                <a class="menu-item-opt color-orange" ng-click="selectProperty('18')">Cocheras</a>
            </div>
        </div>
    </li>
    <li class="divider"></li>
    <li role="menuitem">
        <div class="row menu-item">
            <div class="col-lg-4 menu-item-image">
                <a href="" ng-click="selectProperty('7,17,22,16,15,6')"><img src="assets/img/icon_search/rural.png" class="img-responsive" alt=""></a>
            </div>
            <div class="col-lg-8 menu-item-text">
                <h3  class="menu-item-title"><a class="color-green" ng-click="selectProperty('7,17,22,16,15,6')">Rural</a></h3>
                <a class="menu-item-opt color-orange" ng-click="selectProperty('7')">Lotes</a>,
                <a class="menu-item-opt color-orange" ng-click="selectProperty('17')">Quintas</a>,
                <a class="menu-item-opt color-orange" ng-click="selectProperty('22')">Estancias</a>,
                <a class="menu-item-opt color-orange" ng-click="selectProperty('16')">Chacras</a>,
                <a class="menu-item-opt color-orange" ng-click="selectProperty('15')">Galpones</a>,
                <a class="menu-item-opt color-orange" ng-click="selectProperty('6')">Campos</a>
            </div>
        </div>
    </li>
</ul>