<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Tipo de Inmueble</h1>
        <button class="button button-clear button-primary" ng-click="propertyModal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="row ok-margin-top-10 ok-border-bottom padding">
            <div class="col col-20">
                <img ng-click="selectProperty('Residencial')" class="full-image" src="img/grey.png" alt="">
            </div>
            <div class="col">
                <a ng-click="selectProperty('Residencial')"><h3  class="ok-color-green">Residencial</h3></a>
                <a class="ok-color-orange" ng-click="selectProperty('Casas')">Casas</a>,
                <a class="ok-color-orange" ng-click="selectProperty('Departamentos')">Departamentos</a>,
                <a class="ok-color-orange" ng-click="selectProperty('Lotes')">Lotes</a>
            </div>
        </div>
        <div class="row ok-margin-top-10 ok-border-bottom padding">
            <div class="col col-20">
                <img ng-click="selectProperty('Residencial')" class="full-image" src="img/grey.png" alt="">
            </div>
            <div class="col">
                <a ng-click="selectProperty('Residencial')"><h3  class="ok-color-green">Rural</h3></a>
                <a class="ok-color-orange" ng-click="selectProperty('Casas')">Estaciones</a>,
                <a class="ok-color-orange" ng-click="selectProperty('Departamentos')">Campos</a>,
                <a class="ok-color-orange" ng-click="selectProperty('Lotes')">Lotes</a>
            </div>
        </div>
        <div class="row ok-margin-top-10 ok-border-bottom padding">
            <div class="col col-20">
                <img ng-click="selectProperty('Residencial')" class="full-image" src="img/grey.png" alt="">
            </div>
            <div class="col">
                <a ng-click="selectProperty('Residencial')"><h3  class="ok-color-green">Inversiones</h3></a>
                <a class="ok-color-orange" ng-click="selectProperty('Casas')">Countries</a>,
                <a class="ok-color-orange" ng-click="selectProperty('Departamentos')">Barrios</a>,
                <a class="ok-color-orange" ng-click="selectProperty('Lotes')">Edificios</a>
            </div>
        </div>
        <div class="row ok-margin-top-10 ok-border-bottom padding">
            <div class="col col-20">
                <img ng-click="selectProperty('Residencial')" class="full-image" src="img/grey.png" alt="">
            </div>
            <div class="col">
                <a ng-click="selectProperty('Residencial')"><h3  class="ok-color-green">Industrial</h3></a>
                <a class="ok-color-orange" ng-click="selectProperty('Casas')">Casas</a>,
                <a class="ok-color-orange" ng-click="selectProperty('Departamentos')">Departamentos</a>,
                <a class="ok-color-orange" ng-click="selectProperty('Lotes')">Lotes</a>
            </div>
        </div>
        <div class="row ok-margin-top-10 ok-border-bottom padding">
            <div class="col col-20">
                <img ng-click="selectProperty('Residencial')" class="full-image" src="img/grey.png" alt="">
            </div>
            <div class="col">
                <a ng-click="selectProperty('Residencial')"><h3  class="ok-color-green">Comercial</h3></a>
                <a class="ok-color-orange" ng-click="selectProperty('Casas')">Casas</a>,
                <a class="ok-color-orange" ng-click="selectProperty('Departamentos')">Departamentos</a>,
                <a class="ok-color-orange" ng-click="selectProperty('Lotes')">Lotes</a>
            </div>
        </div>

    </ion-content>
</ion-modal-view>