/* Empty. Add your own CSS if you like */
/*.slider{
  height: 300px;
}*/
.ok-margin-top-0{
  margin-top: 0 !important;
}
.ok-footer{
  padding: 40px !important;
}
.ok-footer .ok-img-list{
  text-align: center;
}
.ok-footer .ok-img-list img{
  width: 10%;
  margin-right: 10px;
}
.ok-position-relative{
  position: relative;
}
.ok-header-bar{
  border-bottom: 2px solid #E65A24 !important;
  border-top: 2px solid #007C3F !important;
  background-color: #FFFFFF !important;
}
.ok-form-input{
  margin-top: 10px;
  background-color: #FAF8F8 !important;
  border-radius: 5px !important;
}
.ok-form-button{
  background-color: #E65A24 !important;
}
.ok-logo-img{
  width: 40%;
  position: absolute;
  top: 15%;
}
.ok-color-green{
  color: #006032;
}
.ok-color-orange{
  color: #E9580C;
}
.ok-color-white{
  color: #FFFFFF;
}
.ok-text-bold{
  font-weight: bold;
}
.ok-padding-0{
  padding: 0 !important;
}
.ok-padding-bottom-0{
  padding-bottom: 0 !important;
}
.ok-background-grey{
  background-color: #FBF9F9;
}
.ok-background-white{
  background-color: #FFFFFF !important;
}
.ok-timing-box{
  padding: 15px 0;
}
.ok-investments-textarea{
  height: 150px;
  background-color: #FBF9F9;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}
.ok-investments-number{
  margin-top: 15px !important;
}
.ok-investments-box{
  margin: 0 auto !important;
}
.ok-about-box{
  padding-top:20px;
  padding-bottom:20px;
}
.ok-about-list .item{
  border-left: 0 !important;
  border-right: 0 !important;
  font-size: 14px;
}
.ok-about-list .item span{
  margin-right: 3px;
}
.ok-about-slider-box{
  margin-top: 20px !important;
}
.ok-investments-box i{
  position: absolute;
  left: 47%;
  font-size: 20px;
  bottom: -13%;
  z-index: 2;
}
.ok-why-us-title{
  margin-top: 20px;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.menu.menu-left{
  width: calc(100%) !important;
}
.menu-open .menu-content{
  transform: translate3d(calc(100%), 0px, 0px) !important;
}
.ok-side-menu .item{
  color: black;
  font-weight: 600;
}
/*
.bar{
  height: 60px !important;
}
.has-header{
  top: 60px !important;
}
*/
.wrapper {
  position: relative;
}

.wrapper p {
  bottom: 25%;
  color: #FFFFFF;
  font-size: 1.25em;
  width: 100%;
  text-align: center;
  padding: 0.25em 0.75em;
  position: absolute;
}
.wrapper div#text {
  bottom: 20%;
  left: 10%;
  padding: 15px 20px;
  color: #FFFFFF;
  font-size: 1.25em;
  width: 80%;
  text-align: center;
  position: absolute;
  background-color: rgba(233, 88, 12, 0.64);
}
.wrapper div#text h3 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.c-peq {
  display: block;
  background-color: #E9580C;
  color: #ffffff;
  font-size: 26px;
  border-radius: 50%;
  padding: 9px 12px;
  width: 40px;
  height: 40px;
  margin: auto;
}
