.banner-qs{
	display: block;
	position: relative;
}

.banner-qs .caption{
	font-family: RobotoBlack;
	font-size: 26px;
	text-align: center;
	background-color: #e9580c;
	color: #ffffff;
	opacity: 0.78;
	display: block;
	position: absolute;
	padding: 5px 10px;
	margin: auto;
	top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.bloque1, .bloque2, .titulo-b3, .texto-b3, .bloque4{
	padding-right: 3%;
	padding-left: 3%;
}

.bloque1 .bloque{
	text-align: center;
	padding-top: 70px;
}

.bloque1 .bloque h4, .bloque4 h2{
	color: #e9580c;
}

.bloque1 .bloque .ico{
	display: block;
	width: 20%;
}

.bloque2 h2, .ficha .descripcion h4, .titulo-b3 h2, .texto-mapa h3{
	color: #006032;
}

/*-----Fichas equipo--*/
#slider-equipo .img-equipo{
	width: 40%;
}

#slider-equipo .ficha{
	height: 420px;
	padding: 2% 4%;
}

#slider-equipo .ficha.mid{
	background-color: #f3f2f1;
}

#slider-equipo .ficha .cargo{
	display: block;
	color: #e9580c; 
	margin-bottom: 10px;
}

#slider-equipo .ficha .d{
	padding: 0 10px;
	color: #58595b;
}

#slider-equipo .ficha .email{
	position: absolute;
	bottom: 0;
	left: 50%;
    transform: translateX(-50%);
}
/*-----FIN-------------------*/

/*-----bloque imagenes--------*/
.bloque3 .detalle{
	display: block;
    width: 100%;
    height: 100%;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    position: absolute;
    top: 0;
    padding: 30% 15% 4% 10%;
}

.flex-images .item{
	border: none;
	margin: 0;
}

/*-----FIN-------------------*/
/*-----MAPAS-------------------*/
.caja-mapa{
	background-color: #fbf9f9;
	padding-bottom: 20px;
}

.texto-mapa{
	padding: 0 15px;
}

.texto-mapa i{
	color: #e9580c;
	margin: 6px;
}

.mapa{
	height: 280px;
}

#mapa-xx{
	background-color: rgba(233, 88, 12, 0.5);
	color: #ffffff;
	padding-top: 30%;
}