<div id="modal-login">
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <a ng-click="cancel()" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><img src="assets/img/cerrar.png"></span></a>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h4 class="titulo">Guardando tus búsquedas en <strong>Favoritos</strong> podrás acceder a ellas en cualquier momento!</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 logins">
                    <div class="l_face">
                        <div class="col-xs-2">
                            <img class="img-responsive" src="assets/img/face_reg.svg">
                        </div>
                        <span>Iniciar sesión con Facebook</span>
                    </div>

                    <div class="l_goo">
                        <div class="col-xs-2">
                            <img class="img-responsive" src="assets/img/goo_reg.svg">
                        </div>
                        <span>Iniciar sesión con Google</span>
                    </div>

                    <span class="nota1">Nunca publicaremos nada sin tu permiso</span>
                    <h3>¿NO TENÉS CUENTA?</h3>
                    <a href="" ng-click="register()" id="enlace_reg" class="enlace_reg">¡Registrate!</a>
                </div>
                <div class="col-xs-6 form_login">
                    <form class="f_login">
                        <input class="form-control input-lg custom-mod" type="text" name="nombre" placeholder="Email*">
                        <input class="form-control input-lg custom-mod" type="text" name="nombre" placeholder="Contraseña*">

                        <div class="blq_not">
                            <span class="nota">* campo obligatorio</span>
                        </div>
                        <div class="blq_not">
                            <div class="bootstrap-switch-square">
                                <input type="checkbox" data-size="mini" data-toggle="switch" id="recordar" data-on-text="<span class='fa fa-check'></span>" data-off-text="<span class='fa fa-close'></span>" />
                                <label for="recordar" class="css-label">Recordar contraseña</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-7 pull-right">
                                <button class="btn btn-verde btn-block" type="submit">INGRESAR</button>
                            </div>
                        </div>
                        <div class="row">
                            <span class="col-xs-7 pull-right text-center enlace_rec"><a ng-click="rememberPw()">¿Olvidaste tu contraseña?</a></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>