<ul class="dropdown-menu dropdown-propertySelect" uib-dropdown-menu role="menu" aria-labelledby="button-template-url">
    <li role="menuitem">
        <div class="row menu-item">
            <div class="col-lg-4 menu-item-image">
                <a href="#"><img src="mobile/www/img/grey.png" class="img-responsive" alt=""></a>
            </div>
            <div class="col-lg-8 menu-item-text">
                <h3  class="menu-item-title"><a class="color-green" ng-click="selectProperty('Residencial')">Residencial</a></h3>
                <a class="menu-item-opt color-orange" ng-click="selectProperty('Casas')">Casas</a>,
                <a class="menu-item-opt color-orange" ng-click="selectProperty('Departamentos')">Departamentos</a>,
                <a class="menu-item-opt color-orange" ng-click="selectProperty('Lotes')">Lotes</a>
            </div>
        </div>
    </li>
    <li class="divider"></li>
    <li role="menuitem">
        <div class="row menu-item">
            <div class="col-lg-4 menu-item-image">
                <a href="#"><img src="mobile/www/img/grey.png" class="img-responsive" alt=""></a>
            </div>
            <div class="col-lg-8 menu-item-text">
                <h3  class="menu-item-title"><a class="color-green" ng-click="selectProperty('Residencial')">Residencial</a></h3>
                <a class="menu-item-opt color-orange" ng-click="selectProperty('Casas')">Casas</a>,
                <a class="menu-item-opt color-orange" ng-click="selectProperty('Departamentos')">Departamentos</a>,
                <a class="menu-item-opt color-orange" ng-click="selectProperty('Lotes')">Lotes</a>
            </div>
        </div>
    </li>
</ul>