<div id="modal-cuenta">
    <div class="modal-body">
        <div class="container-fluid">
            <div class="menu text-center pestanas-cuenta">
                <div class="item i1 active">
                    <a href="" data-target="#datos" data-toggle="tab">Mis Datos</a>
                </div>
                <div class="item i2">
                    <a href="" data-target="#fav" data-toggle="tab">Mis Favoritos</a>
                </div>
                <div class="item i3">
                    <a href="" data-target="#tasa" data-toggle="tab">Mis Tasaciones</a>
                </div>
            </div>
            <a class="close" ng-click="cancel()"><span aria-hidden="true"><img src="assets/img/cerrar.png"></span></a>
            <div class="row contenido">
                <div class="tab-content col-md-12 padding-0">
                    <div role="tabpanel" class="account-data padding-0 col-md-12 tab-pane fade in active" id="datos">
                        <div class="col-md-12 info">
                            <div class="col-md-4 user-img">
                                <img class="img-responsive center-block" src="assets/img/perfil.png">
                            </div>
                            <div class="col-md-8">
                                <h3 class="titulo">DATOS PERSONALES</h3>
                                <div class="row">
                                    <div class="col-md-4">Nombre</div>
                                    <div class="col-md-6">Luciana</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">Apellido</div>
                                    <div class="col-md-6">Burak</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">E-mail</div>
                                    <div class="col-md-6">luciana.burak@gmail.com <span class="mod pull-right"> <a href=""> Modificar</a> </span> </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">Teléfono</div>
                                    <div class="col-md-6">115 511 3574 <span class="mod pull-right"> <a href=""> Modificar</a> </span></div>
                                </div>
                                <h3 class="titulo">SEGURIDAD</h3>
                                <div class="row">
                                    <div class="col-md-4">Contraseña</div>
                                    <div class="col-md-6">************<span class="mod pull-right"> <a href=""> Modificar</a> </span></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">Pregunta Secreta</div>
                                    <div class="col-md-6">Comida preferida<span class="mod pull-right"> <a href=""> Modificar</a> </span></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">Respuesta Secreta</div>
                                    <div class="col-md-6">Papas<span class="mod pull-right"> <a href=""> Modificar</a> </span> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 account-save-button">
                            <button class="btn btn-naranja center-block" type="submit">GUARDAR CAMBIOS</button>
                        </div>
                    </div>
                    <!-- FIN PESTAÑA -->
                    <div role="tabpanel" class="tab-pane fade busqueda padding-0" id="fav">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="titulo">HOLA [NOMBRE], ESTAS SON TUS UNIDADES FAVORITAS</h3>
                            </div>
                            <div class="col-md-12">
                                <p>Envianos tu consulta. Un asesor te contactará con información a la brevedad</p>
                            </div>
                        </div>
                        <div class="row">
                            <form class="form-envio-fav">
                                <div class="col-md-12">
                                    <textarea class="form-control custom" placeholder="Mensaje"></textarea>
                                </div>
                                <div class="col-md-5 pull-right">
                                    <div class="bootstrap-switch-square">
                                        <input type="checkbox" data-size="mini" data-toggle="switch" id="similares" data-on-text="<span class='fa fa-check'></span>" data-off-text="<span class='fa fa-close'></span>" />
                                        <label for="similares" class="css-label">Quiero que me envíen propiedades similares</label>
                                    </div>
                                    <button type="submit" class="btn btn-sm btn-naranja pull-right">ENVIAR</button>
                                </div>
                            </form>

                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label class="flecha-select">
                                    <select name="" class="form-control custom">
                                        <option>ver menor precio</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-12 padding-0 resultados">
                            <!--ficha resultados-->
                            <div class="col-xs-12 ficha account-fav-info">
                                <div class="col-xs-3 padding-0">
                                    <img class="img-responsive" src="assets/img/prop1.png">
                                </div>
                                <div class="col-xs-4">
                                    <div class="descripcion padding-0">
                                        <p class="titulo">2 ambientes con extraordinarias vistas y luminosidad</p>
                                        <p class="muestra text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ullamcorper, lorem volutpat finibus aliquet, sem erat aliquet augue..</p>
                                    </div>
                                </div>
                                <div class="col-xs-3 padding-0">
                                    <div class="descripcion padding-0">
                                        <div class="col-lg-12 padding-0 caracteristicas">
                                            <div class="col-lg-12 padding-0">
                                                <img src="assets/img/ubicacion.svg">Zona 1245, Berazategui, GBA Zona Sur
                                            </div>
                                            <div class="col-lg-6 col-md-12 padding-0">
                                                <img src="assets/img/valor_propiedad.svg">254.000 USD
                                            </div>
                                            <div class="col-lg-6 col-md-12 padding-0">
                                                <img src="assets/img/tipo_propiedad.svg">Departamento
                                            </div>
                                            <div class="col-lg-6 col-md-12 padding-0">
                                                <img src="assets/img/ambientes.svg">2 ambientes
                                            </div>
                                            <div class="col-lg-6 col-md-12 padding-0">
                                                <img src="assets/img/m2.svg">72 M2
                                            </div>
                                        </div>
                                        <div class="property-buttons">
                                            <div class="boton-fav compartir">
                                                <a href="" class="btn btn-xs btn-gris-claro-2" type="submit">
                                                <span class="fa-stack">
                                                  <i class="fa fa-circle fa-stack-2x"></i>
                                                  <i class="fa fa-share-alt fa-stack-1x fa-inverse"></i>
                                                </span>
                                                    Compartir
                                                </a>
                                            </div>
                                            <a href="" class="btn btn-sm btn-gris pull-right" type="submit">VER MÁS</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <a href="" class="btn btn-md delete-button" type="submit">
                                            <span class="fa-stack">
                                              <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                              <i class="fa fa-close fa-stack-1x"></i>
                                            </span>
                                        Eliminar
                                    </a>
                                </div>
                            </div>
                            <!--ficha resultados-->
                            <!--ficha resultados-->
                            <div class="col-xs-12 ficha account-fav-info">
                                <div class="col-xs-3 padding-0">
                                    <img class="img-responsive" src="assets/img/prop1.png">
                                </div>
                                <div class="col-xs-4">
                                    <div class="descripcion padding-0">
                                        <p class="titulo">2 ambientes con extraordinarias vistas y luminosidad</p>
                                        <p class="muestra text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ullamcorper, lorem volutpat finibus aliquet, sem erat aliquet augue..</p>
                                    </div>
                                </div>
                                <div class="col-xs-3 padding-0">
                                    <div class="descripcion padding-0">
                                        <div class="col-lg-12 padding-0 caracteristicas">
                                            <div class="col-lg-12 padding-0">
                                                <img src="assets/img/ubicacion.svg">Zona 1245, Berazategui, GBA Zona Sur
                                            </div>
                                            <div class="col-lg-6 col-md-12 padding-0">
                                                <img src="assets/img/valor_propiedad.svg">254.000 USD
                                            </div>
                                            <div class="col-lg-6 col-md-12 padding-0">
                                                <img src="assets/img/tipo_propiedad.svg">Departamento
                                            </div>
                                            <div class="col-lg-6 col-md-12 padding-0">
                                                <img src="assets/img/ambientes.svg">2 ambientes
                                            </div>
                                            <div class="col-lg-6 col-md-12 padding-0">
                                                <img src="assets/img/m2.svg">72 M2
                                            </div>
                                        </div>
                                        <div class="property-buttons">
                                            <div class="boton-fav compartir">
                                                <a href="" class="btn btn-xs btn-gris-claro-2" type="submit">
                                                <span class="fa-stack">
                                                  <i class="fa fa-circle fa-stack-2x"></i>
                                                  <i class="fa fa-share-alt fa-stack-1x fa-inverse"></i>
                                                </span>
                                                    Compartir
                                                </a>
                                            </div>
                                            <a href="" class="btn btn-sm btn-gris pull-right" type="submit">VER MÁS</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <a href="" class="btn btn-md delete-button" type="submit">
                                            <span class="fa-stack">
                                              <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                              <i class="fa fa-close fa-stack-1x"></i>
                                            </span>
                                        Eliminar
                                    </a>
                                </div>
                            </div>
                            <!--ficha resultados-->
                            <!--ficha resultados-->
                            <div class="col-xs-12 ficha account-fav-info">
                                <div class="col-xs-3 padding-0">
                                    <img class="img-responsive" src="assets/img/prop1.png">
                                </div>
                                <div class="col-xs-4">
                                    <div class="descripcion padding-0">
                                        <p class="titulo">2 ambientes con extraordinarias vistas y luminosidad</p>
                                        <p class="muestra text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ullamcorper, lorem volutpat finibus aliquet, sem erat aliquet augue..</p>
                                    </div>
                                </div>
                                <div class="col-xs-3 padding-0">
                                    <div class="descripcion padding-0">
                                        <div class="col-lg-12 padding-0 caracteristicas">
                                            <div class="col-lg-12 padding-0">
                                                <img src="assets/img/ubicacion.svg">Zona 1245, Berazategui, GBA Zona Sur
                                            </div>
                                            <div class="col-lg-6 col-md-12 padding-0">
                                                <img src="assets/img/valor_propiedad.svg">254.000 USD
                                            </div>
                                            <div class="col-lg-6 col-md-12 padding-0">
                                                <img src="assets/img/tipo_propiedad.svg">Departamento
                                            </div>
                                            <div class="col-lg-6 col-md-12 padding-0">
                                                <img src="assets/img/ambientes.svg">2 ambientes
                                            </div>
                                            <div class="col-lg-6 col-md-12 padding-0">
                                                <img src="assets/img/m2.svg">72 M2
                                            </div>
                                        </div>
                                        <div class="property-buttons">
                                            <div class="boton-fav compartir">
                                                <a href="" class="btn btn-xs btn-gris-claro-2" type="submit">
                                                <span class="fa-stack">
                                                  <i class="fa fa-circle fa-stack-2x"></i>
                                                  <i class="fa fa-share-alt fa-stack-1x fa-inverse"></i>
                                                </span>
                                                    Compartir
                                                </a>
                                            </div>
                                            <a href="" class="btn btn-sm btn-gris pull-right" type="submit">VER MÁS</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <a href="" class="btn btn-md delete-button" type="submit">
                                            <span class="fa-stack">
                                              <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                              <i class="fa fa-close fa-stack-1x"></i>
                                            </span>
                                        Eliminar
                                    </a>
                                </div>
                            </div>
                            <!--ficha resultados-->
                            <!--ficha resultados-->
                            <div class="col-xs-12 ficha account-fav-info">
                                <div class="col-xs-3 padding-0">
                                    <img class="img-responsive" src="assets/img/prop1.png">
                                </div>
                                <div class="col-xs-4">
                                    <div class="descripcion padding-0">
                                        <p class="titulo">2 ambientes con extraordinarias vistas y luminosidad</p>
                                        <p class="muestra text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ullamcorper, lorem volutpat finibus aliquet, sem erat aliquet augue..</p>
                                    </div>
                                </div>
                                <div class="col-xs-3 padding-0">
                                    <div class="descripcion padding-0">
                                        <div class="col-lg-12 padding-0 caracteristicas">
                                            <div class="col-lg-12 padding-0">
                                                <img src="assets/img/ubicacion.svg">Zona 1245, Berazategui, GBA Zona Sur
                                            </div>
                                            <div class="col-lg-6 col-md-12 padding-0">
                                                <img src="assets/img/valor_propiedad.svg">254.000 USD
                                            </div>
                                            <div class="col-lg-6 col-md-12 padding-0">
                                                <img src="assets/img/tipo_propiedad.svg">Departamento
                                            </div>
                                            <div class="col-lg-6 col-md-12 padding-0">
                                                <img src="assets/img/ambientes.svg">2 ambientes
                                            </div>
                                            <div class="col-lg-6 col-md-12 padding-0">
                                                <img src="assets/img/m2.svg">72 M2
                                            </div>
                                        </div>
                                        <div class="property-buttons">
                                            <div class="boton-fav compartir">
                                                <a href="" class="btn btn-xs btn-gris-claro-2" type="submit">
                                                <span class="fa-stack">
                                                  <i class="fa fa-circle fa-stack-2x"></i>
                                                  <i class="fa fa-share-alt fa-stack-1x fa-inverse"></i>
                                                </span>
                                                    Compartir
                                                </a>
                                            </div>
                                            <a href="" class="btn btn-sm btn-gris pull-right" type="submit">VER MÁS</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <a href="" class="btn btn-md delete-button" type="submit">
                                            <span class="fa-stack">
                                              <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                              <i class="fa fa-close fa-stack-1x"></i>
                                            </span>
                                        Eliminar
                                    </a>
                                </div>
                            </div>
                            <!--ficha resultados-->
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4">
                                <button type="button" class="btn btn-verde btn-block btn-lg">GUARDÁ Y SEGUÍ BUSCANDO!</button>
                            </div>
                        </div>
                    </div>
                    <!-- FIN PESTAÑA -->
                    <div role="tabpanel" class="tab-pane fade" id="tasa">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="titulo">HOLA [NOMBRE], ESTAS SON LAS TASACIONES FAVORITAS</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label class="flecha-select">
                                    <select name="" class="form-control custom">
                                        <option>ver menor precio</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="tasacion">
                                    <span class="eliminar-fav"> <i class="fa fa-close"></i> </span>
                                    <h4 class="t">TASACIÓN [COD **]</h4>
                                    <div class="row">
                                        <div class="col-md-6"><strong>Fecha</strong></div>
                                        <div class="col-md-6">xxxxxxxxx</div>
                                        <div class="col-md-6"><strong>Operación</strong></div>
                                        <div class="col-md-6">xxxxxxxxx</div>
                                        <div class="col-md-6"><strong>Tipo Inmueble</strong></div>
                                        <div class="col-md-6">xxxxxxxx</div>
                                        <div class="col-md-6"><strong>Zona</strong></div>
                                        <div class="col-md-6">xxxxxxxxxx</div>
                                    </div>
                                    <div class="row cc">
                                        <div class="col-md-6 tt"><h4>ESTADO</h4></div>
                                        <div class="col-md-6 tt"><h4>VALOR</h4></div>
                                        <div class="col-md-6">En venta</div>
                                        <div class="col-md-6">USD 300.000</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="tasacion">
                                    <span class="eliminar-fav"> <i class="fa fa-close"></i> </span>
                                    <h4 class="t">TASACIÓN [COD **]</h4>
                                    <div class="row">
                                        <div class="col-md-6"><strong>Fecha</strong></div>
                                        <div class="col-md-6">xxxxxxxxx</div>
                                        <div class="col-md-6"><strong>Operación</strong></div>
                                        <div class="col-md-6">xxxxxxxxx</div>
                                        <div class="col-md-6"><strong>Tipo Inmueble</strong></div>
                                        <div class="col-md-6">xxxxxxxx</div>
                                        <div class="col-md-6"><strong>Zona</strong></div>
                                        <div class="col-md-6">xxxxxxxxxx</div>
                                    </div>
                                    <div class="row cc">
                                        <div class="col-md-6 tt"><h4>ESTADO</h4></div>
                                        <div class="col-md-6 tt"><h4>VALOR</h4></div>
                                        <div class="col-md-6">En venta</div>
                                        <div class="col-md-6">USD 300.000</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="tasacion">
                                    <span class="eliminar-fav"> <i class="fa fa-close"></i> </span>
                                    <h4 class="t">TASACIÓN [COD **]</h4>
                                    <div class="row">
                                        <div class="col-md-6"><strong>Fecha</strong></div>
                                        <div class="col-md-6">xxxxxxxxx</div>
                                        <div class="col-md-6"><strong>Operación</strong></div>
                                        <div class="col-md-6">xxxxxxxxx</div>
                                        <div class="col-md-6"><strong>Tipo Inmueble</strong></div>
                                        <div class="col-md-6">xxxxxxxx</div>
                                        <div class="col-md-6"><strong>Zona</strong></div>
                                        <div class="col-md-6">xxxxxxxxxx</div>
                                    </div>
                                    <div class="row cc">
                                        <div class="col-md-6 tt"><h4>ESTADO</h4></div>
                                        <div class="col-md-6 tt"><h4>VALOR</h4></div>
                                        <div class="col-md-6">En venta</div>
                                        <div class="col-md-6">USD 300.000</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <form class="form-envio-tasa">
                                <div class="col-md-12">
                                    <textarea class="form-control custom" placeholder="Quiero realizar una nueva tssasación"></textarea>
                                </div>
                                <div class="col-md-5 pull-right">
                                    <button type="submit" class="btn btn-sm btn-naranja pull-right">ENVIAR</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
