<ion-view view-title="User Contact">
    <ion-content class="ok-user-contact">
        <div class="row ok-user-title">
            <span class="icon-stack">
                <i class="ion-ios-circle-outline icon-stack-back ok-color-grey"></i>
                <i class="ion-ios-heart icon-stack-ico ok-color-orange"></i>
            </span>
            <h4 class="ok-text-bold ok-user-tab-title">Favoritos</h4>
            <i ui-sref="app.home" class="ion-close-round ok-user-close ok-color-dark-grey"></i>
        </div>
        <div class="content ok-user-fav">
            <div class="row ok-margin-0">
                <div class="col col-33">
                    <img class="full-image" src="img/prop-ex.png" alt="map">
                </div>
                <div class="col col-60">
                    <h5 class="ok-color-green">2 ambientes con extraordinarias vistas y luminosidad</h5>
                    <p><i class="icon ion-location ok-color-orange"></i> Zona 1245, Berazategui</p>
                    <p><i class="icon ion-social-usd ok-color-orange"></i> Mitre 491 - Quilmes Centro</p>
                </div>
                <div class="col"><h4 class="ok-delete-fav ok-color-dark-grey"><i class="icon ion-close"></i></h4></div>
            </div>
            <div class="row ok-margin-0">
                <div class="col col-33">
                    <img class="full-image" src="img/prop-ex.png" alt="map">
                </div>
                <div class="col col-60">
                    <h5 class="ok-color-green">2 ambientes con extraordinarias vistas y luminosidad</h5>
                    <p><i class="icon ion-location ok-color-orange"></i> Zona 1245, Berazategui</p>
                    <p><i class="icon ion-social-usd ok-color-orange"></i> Mitre 491 - Quilmes Centro</p>
                </div>
                <div class="col"><h4 class="ok-delete-fav ok-color-dark-grey"><i class="icon ion-close"></i></h4></div>
            </div>
            <div class="row ok-margin-0">
                <div class="col col-33">
                    <img class="full-image" src="img/prop-ex.png" alt="map">
                </div>
                <div class="col col-60">
                    <h5 class="ok-color-green">2 ambientes con extraordinarias vistas y luminosidad</h5>
                    <p><i class="icon ion-location ok-color-orange"></i> Zona 1245, Berazategui</p>
                    <p><i class="icon ion-social-usd ok-color-orange"></i> Mitre 491 - Quilmes Centro</p>
                </div>
                <div class="col"><h4 class="ok-delete-fav ok-color-dark-grey"><i class="icon ion-close"></i></h4></div>
            </div>
            <div class="row ok-margin-0">
                <div class="col col-33">
                    <img class="full-image" src="img/prop-ex.png" alt="map">
                </div>
                <div class="col col-60">
                    <h5 class="ok-color-green">2 ambientes con extraordinarias vistas y luminosidad</h5>
                    <p><i class="icon ion-location ok-color-orange"></i> Zona 1245, Berazategui</p>
                    <p><i class="icon ion-social-usd ok-color-orange"></i> Mitre 491 - Quilmes Centro</p>
                </div>
                <div class="col"><h4 class="ok-delete-fav ok-color-dark-grey"><i class="icon ion-close"></i></h4></div>
            </div>
            <div class="row ok-margin-0">
                <div class="col col-33">
                    <img class="full-image" src="img/prop-ex.png" alt="map">
                </div>
                <div class="col col-60">
                    <h5 class="ok-color-green">2 ambientes con extraordinarias vistas y luminosidad</h5>
                    <p><i class="icon ion-location ok-color-orange"></i> Zona 1245, Berazategui</p>
                    <p><i class="icon ion-social-usd ok-color-orange"></i> Mitre 491 - Quilmes Centro</p>
                </div>
                <div class="col"><h4 class="ok-delete-fav ok-color-dark-grey"><i class="icon ion-close"></i></h4></div>
            </div>
        </div>
    </ion-content>
</ion-view>