<ion-view view-title="User Info">
    <ion-content>
        <div class="row ok-user-title">
            <span class="icon-stack">
                <i class="ion-ios-circle-outline icon-stack-back ok-color-grey"></i>
                <i class="ion-ios-person icon-stack-ico ok-color-orange"></i>
            </span>
            <h4 class="ok-text-bold ok-user-tab-title">Mi Cuenta</h4>
            <i ui-sref="app.home" class="ion-close-round ok-user-close ok-color-dark-grey"></i>
        </div>
        <div class="row ok-margin-top-10 ok-user-info-title">
            <div class="col col-75 padding-left">
                <h3 class="ok-color-green ok-text-bold ok-info-title">DATOS PERSONALES</h3>
            </div>
            <div class="col">
                <div class="ok-circle">
                    LB
                </div>
            </div>
        </div>
        <div class="content ok-margin-top-5 ok-user-info-content">
            <div class="row ok-margin-0">
                <div class="col col-90">
                    <div class="ok-text-bold ok-user-opt-name">Nombre</div>
                    <span>Luciana</span>
                </div>
            </div>
            <div class="row ok-margin-0">
                <div class="col col-90">
                    <div class="ok-text-bold ok-user-opt-name">Apellido</div>
                    <span>Burak</span>
                </div>
            </div>
            <div class="row ok-margin-0">
                <div class="col col-90">
                    <div class="ok-text-bold ok-user-opt-name">Email</div>
                    <span>luciana.burak@gmail.com</span>
                </div>
            </div>
            <div class="row ok-margin-0">
                <div class="col col-90">
                    <div class="ok-text-bold ok-user-opt-name">Teléfono</div>
                    <span>115 511 1277</span>
                </div>
            </div>
        </div>
        <div class="row ok-margin-top-10 ok-user-info-title">
            <div class="col col-75 padding-left">
                <h3 class="ok-color-green ok-text-bold ok-info-title">SEGURIDAD</h3>
            </div>
        </div>
        <div class="content ok-margin-top-5 ok-user-info-content ok-user-info-content-sec">
            <div class="row ok-margin-0">
                <div class="col col-90">
                    <div class="ok-text-bold ok-user-opt-name">Contraseña</div>
                    <span>Luciana</span>
                </div>
            </div>
            <div class="row ok-margin-0">
                <div class="col col-90">
                    <div class="ok-text-bold ok-user-opt-name">Pregunta Secreta</div>
                    <span>Comida preferida</span>
                </div>
            </div>
            <div class="row ok-margin-0">
                <div class="col col-90">
                    <div class="ok-text-bold ok-user-opt-name">Respuesta Secreta</div>
                    <span>Papas</span>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>