<ion-view view-title="User Contact">
    <ion-content class="ok-user-contact">
        <div class="row ok-user-title">
            <span class="icon-stack">
                <i class="ion-ios-circle-outline icon-stack-back ok-color-grey"></i>
                <i class="ion-ios-email icon-stack-ico ok-color-orange"></i>
            </span>
            <h4 class="ok-text-bold ok-user-tab-title">Contacto</h4>
            <i ui-sref="app.home" class="ion-close-round ok-user-close ok-color-dark-grey"></i>
        </div>
        <div class="list list-inset ok-margin-top-0">
            <label class="item item-input ok-form-input">
                <input type="text" placeholder="Nombre">
            </label>
            <label class="item item-input ok-form-input">
                <input type="text" placeholder="Apellido">
            </label>
            <label class="item item-input ok-form-input">
                <input type="text" placeholder="Teléfono">
            </label>
            <label class="item item-input ok-form-input">
                <input type="text" placeholder="Celular">
            </label>
            <label class="item item-input ok-form-input">
                <input type="text" placeholder="Email">
            </label>
            <label class="item item-input ok-form-input">
                <textarea class="ok-investments-textarea" placeholder="Mensaje"></textarea>
            </label>
            <ion-toggle ng-checked="true" toggle-class="toggle-balanced">Suscribirme al newsletter</ion-toggle>
            <button class="button button-block button-positive ok-form-button">
                ENVIAR
            </button>
        </div>
        <div class="row ok-user-title ok-user-contact-title">
            <span class="icon-stack">
                <i class="ion-ios-circle-outline icon-stack-back ok-color-grey"></i>
                <i class="ion-location icon-stack-ico ok-color-orange"></i>
            </span>
            <h4 class="ok-text-bold ok-user-tab-title">Sucursales</h4>
        </div>
        <div class="content ok-margin-top-10 ok-user-contact-suc">
            <div class="row ok-margin-0">
                <div class="col col-33">
                    <img class="full-image" src="img/map-ex.png" alt="map">
                </div>
                <div class="col">
                    <h4 class="ok-color-green">CASA CENTRAL QUILMES</h4>
                    <p><i class="icon ion-ios-telephone ok-color-orange"></i> 3435 - 2322</p>
                    <p><i class="icon ion-ios-home-outline ok-color-orange"></i> Mitre 491 - Quilmes Centro</p>
                </div>
            </div>
            <div class="row ok-margin-0">
                <div class="col col-33">
                    <img class="full-image" src="img/map-ex.png" alt="map">
                </div>
                <div class="col">
                    <h4 class="ok-color-green">HUDSON</h4>
                    <p><i class="icon ion-ios-telephone ok-color-orange"></i> 3435 - 2322</p>
                    <p><i class="icon ion-ios-home-outline ok-color-orange"></i> Mitre 491 - Quilmes Centro</p>
                </div>
            </div>
            <div class="row ok-margin-0">
                <div class="col col-33">
                    <img class="full-image" src="img/map-ex.png" alt="map">
                </div>
                <div class="col">
                    <h4 class="ok-color-green">LAS GOLONDRINAS</h4>
                    <p><i class="icon ion-ios-telephone ok-color-orange"></i> 3435 - 2322</p>
                    <p><i class="icon ion-ios-home-outline ok-color-orange"></i> Mitre 491 - Quilmes Centro</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>