<ion-view view-title="User Contact">
  <ion-content class="ok-user-contact">
    <div class="row ok-user-title">
            <span class="icon-stack">
                <i class="ion-ios-circle-outline icon-stack-back ok-color-grey"></i>
                <i class="ion-ios-email icon-stack-ico ok-color-orange"></i>
            </span>
      <h4 class="ok-text-bold ok-user-tab-title">Contacto</h4>
      <i ui-sref="app.home" class="ion-close-round ok-user-close ok-color-dark-grey"></i>
    </div>
    <div class="list list-inset ok-margin-top-0">
      <div class="card" ng-show="alert != null">
        <div class="item item-text-wrap">
          {{alert.msg}}
        </div>
      </div>
      <label class="item item-input ok-form-input">
        <input ng-model="footerForm.nombre" type="text" placeholder="Nombre">
      </label>
      <label class="item item-input ok-form-input">
        <input ng-model="footerForm.apellido" type="text" placeholder="Apellido">
      </label>
      <label class="item item-input ok-form-input">
        <input ng-model="footerForm.telefono" type="text" placeholder="Teléfono">
      </label>
      <label class="item item-input ok-form-input">
        <input ng-model="footerForm.celular" type="text" placeholder="Celular">
      </label>
      <label class="item item-input ok-form-input">
        <input ng-model="footerForm.email" type="text" placeholder="Email">
      </label>
      <label class="item item-input ok-form-input">
        <textarea ng-model="footerForm.comentarios" class="ok-investments-textarea" placeholder="Mensaje"></textarea>
      </label>
      <ion-toggle ng-model="footerForm.newsletter" toggle-class="toggle-balanced">Suscribirme al newsletter</ion-toggle>
      <button ng-click="contactForm()"  class="button button-block button-positive ok-form-button">
        ENVIAR
      </button>
    </div>
    <div class="row ok-user-title ok-user-contact-title">
            <span class="icon-stack">
                <i class="ion-ios-circle-outline icon-stack-back ok-color-grey"></i>
                <i class="ion-location icon-stack-ico ok-color-orange"></i>
            </span>
      <h4 class="ok-text-bold ok-user-tab-title">Sucursales</h4>
    </div>
    <div class="content ok-margin-top-10 ok-user-contact-suc">
      <div ng-repeat="map in maps track by $index" class="row ok-margin-0">
        <div class="col col-33">
          <ui-gmap-google-map ng-cloak control="map.control" center="map.center" zoom="map.zoom" options="options">
            <ui-gmap-marker ng-repeat="marker in map.markers"
                            idkey="marker.id"
                            coords="marker.coords">
            </ui-gmap-marker>
          </ui-gmap-google-map>
        </div>
        <div class="col">
          <h4 class="ok-color-green">{{map.name}}</h4>
          <p><i class="icon ion-ios-telephone ok-color-orange"></i> {{map.phone}}</p>
          <p><i class="icon ion-ios-home-outline ok-color-orange"></i> {{map.address}}</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
