<ion-view view-title="User Contact">
  <ion-content class="ok-user-contact">
    <div class="row ok-user-title">
            <span class="icon-stack">
                <i class="ion-ios-circle-outline icon-stack-back ok-color-grey"></i>
                <i class="ion-ios-heart icon-stack-ico ok-color-orange"></i>
            </span>
      <h4 class="ok-text-bold ok-user-tab-title">Favoritos</h4>
      <i ui-sref="app.home" class="ion-close-round ok-user-close ok-color-dark-grey"></i>
    </div>
    <div class="content ok-user-fav">
      <div ng-repeat="prop in props" class="row ok-margin-0">
        <div class="col col-33">
          <img class="full-image" src="{{prop.foto_url}}" alt="{{prop.fichaweb}}">
        </div>
        <div class="col col-60">
          <h6 class="ok-color-green">{{prop.fichaweb}}</h6>
          <h6><i class="icon ion-location ok-color-orange"></i> Zona {{prop.ubica[0].idZona}},
            {{prop.ubica[0].valor}}</h6>
          <h6><i class="icon ion-social-usd ok-color-orange"></i> {{prop.valor_alq ||
            prop.valor_venta}} {{prop.moneda_alq || prop.moneda_venta}}</h6>
        </div>
        <a ng-click="favToggle(prop.id_prop)" class="col"><h4 class="ok-delete-fav ok-color-dark-grey"><i
          class="icon ion-close"></i></h4></a>
      </div>
    </div>
  </ion-content>
</ion-view>
