<div class="row bloque1">
    <div class="col-lg-4">
        <div class="col-lg-8 pull-right b1-imagen">
            <img class="img-responsive" src="assets/img/casa-circ.png">
        </div>
    </div>
    <div class="col-lg-8 texto ok-text-appraisals">
        <span class="titulo-tasa"> <h2>MÁS DE 20.000 PROPIEDADES TASADAS</h2> </span>
        <p><strong>O'keefe</strong> cuenta con un servicio de profesionales (Abogados, Martilleros e Ingenieros) para
            realizar tasaciones de todo tipo de propiedades. Nuestra experiencia y profundo conocimiento de la situación del mercado inmobiliario actual, nos permite
            brindar una tasación justa y con los fundamentos claros y objetivos que usted se merece. Ofrecemos dos opciones de tasaciones:</p>
        <p><strong>PARA LA VENTA: </strong>Como parte de nuestro servicio de comercialización, ofrecemos el servicio de tasación de forma <strong>GRATUITA</strong>.</p>
        <p><strong>PARA SU INFORMACIÓN: </strong>O´Keefe realiza un informe de tasación escrito, con el que usted tendrá en forma clara y objetiva el valor actualizado de su inmueble para su utilización en evaluación de proyectos inmobiliarios, sucesiones, divisiones, etc.</p>
    </div>
</div>

<div class="valor">
    <div class="row appraisals-form-title">
        <span class="subt">CONOZCA EL VALOR DE SU INMUEBLE</span>
    </div>
    <div class="row" ng-show="alert != null">
        <div uib-alert ng-class="'alert-' + (alert.type || 'warning')" close="alert = null">{{alert.msg}}</div>
    </div>
    <div class="row">
        <div class="form-contact">
            <form novalidate ng-submit="appForm($event)" name="appraisal_Form" class="f_contacto ok-apprisals-form">
                <div class="col-lg-4 col-md-12 padding-left-0">
                    <label class="flecha-select">
                        <select ng-model="appraisalForm.oper" ng-disabled="disabled"
                                class="form-control custom"
                                uib-tooltip="Debe seleccionar una Operación"
                                tooltip-placement="bottom"
                                tooltip-is-open="!appraisalForm.oper && appraisalForm.error"
                                tooltip-trigger="'none'">
                            <option ng-if="!searchParam.oper" value="" selected>Operación</option>
                            <option value="Compra">Compra</option>
                            <option value="Inversión">Inversión</option>
                            <option value="Alquiler">Alquiler</option>
                            <option value="Alquiler Temporario">Alquiler Temporario</option>
                        </select>
                    </label>
                    <label class="flecha-select">
                        <!-- Single button using template-url -->
                        <div style="height: auto;" class="form-control ok-border-none btn-group col-lg-12 padding-0"
                             uib-dropdown
                             uib-tooltip="Debe seleccionar un Tipo de Inmueble"
                             tooltip-placement="top"
                             tooltip-is-open="!appraisalForm.property && appraisalForm.error"
                             tooltip-trigger="'none'">
                            <button type="button" class="btn btn-select-menu" uib-dropdown-toggle>
                                <span ng-show="!appraisalForm.property">Tipo de Inmueble</span>
                                <span ng-show="appraisalForm.property">{{appraisalForm.property}}</span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu
                                template-url="templates/modals/propertySelect.html"
                                aria-labelledby="button-template-url">
                            </ul>
                        </div>
                    </label>
                    <input class="form-control custom" type="text" ng-model="appraisalForm.zona" name="zona"
                           placeholder="Zona"
                           uib-tooltip="Debe ingresar una zona"
                           tooltip-placement="bottom"
                           tooltip-is-open="!appraisalForm.zona && appraisalForm.error"
                           tooltip-trigger="'none'">
                </div>
                <div class="col-lg-4 col-md-12">
                    <input class="form-control custom" type="text" ng-model="appraisalForm.nombre" name="nombre"
                           placeholder="Nombre"
                           uib-tooltip="Debe ingresar un nombre"
                           tooltip-placement="top"
                           tooltip-is-open="!appraisalForm.nombre && appraisalForm.error"
                           tooltip-trigger="'none'">
                    <input class="form-control custom" type="text" ng-model="appraisalForm.apellido" name="apellido"
                           placeholder="Apellido"
                           uib-tooltip="Debe ingresar un apellido"
                           tooltip-placement="right"
                           tooltip-is-open="!appraisalForm.apellido && appraisalForm.error"
                           tooltip-trigger="'none'">
                    <input class="form-control custom" type="email" ng-model="appraisalForm.email" name="email"
                           placeholder="Email"
                           uib-tooltip="Debe ingresar un email válido"
                           tooltip-placement="bottom"
                           tooltip-is-open="!appraisalForm.email && appraisalForm.error"
                           tooltip-trigger="'none'">
                </div>
                <div class="col-lg-4 col-md-12 padding-right-0">
                    <input class="form-control custom" type="text" ng-model="appraisalForm.telefono" name="telefono"
                           placeholder="Teléfono"
                           uib-tooltip="Debe ingresar un telefono"
                           tooltip-placement="top"
                           tooltip-is-open="!appraisalForm.telefono && appraisalForm.error"
                           tooltip-trigger="'none'">
                    <input class="form-control custom" type="text" ng-model="appraisalForm.celular" name="celular"
                           placeholder="Celular"
                           uib-tooltip="Debe ingresar un celular"
                           tooltip-placement="bottom"
                           tooltip-is-open="!appraisalForm.celular && appraisalForm.error"
                           tooltip-trigger="'none'">
                    <div class="col-lg-4 col-md-12 pull-right padding-right-0">
                        <button ng-disabled="appraisal_Form.$error.email" class="btn btn-naranja btn-block" type="submit">ENVIAR</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="bloque-video">
    <div class="row">
        <div class="video">
            <iframe id="player" ng-show="video"
                    src="https://www.youtube.com/embed/gCYcHz2k5x0?wmode=opaque&autohide=1&enablejsapi=1"
                    frameborder="0" allowfullscreen></iframe>
            <div ng-show="!video" class="reproducir">
                <img src="assets/img/play.png">
            </div>
            <a ng-show="!video" ng-click="showVideo()" href="" class="btn btn-gris btn-lg" role="button">REPRODUCIR
                VIDEO</a>
        </div>
    </div>
</div>

<div class="caracteristicas">
    <div class="row">
        <h2>POR QUÉ VENDER CON NOSOTROS</h2>
    </div>
    <div class="row ok-carac">
        <div class="col-lg-6 col-md-12 padding-left-0">
            <div class="carac">
                <div class="titulo">
                    <span class="col-lg-2"> <img class="img-responsive" src="assets/img/cp.svg"> </span>
                    <span class="col-lg-10"> <h4>CONTACTOS PERSONALES</h4> </span>
                </div>
                <div class="col-lg-12 texto">
                    <p>
                        La personalización en el trato al cliente es la clave de cualquier servicio de intermediación.
                        O’keefe cuenta con un experimentado equipo de profesionales inmobiliarios a su servicio.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 padding-right-0">
            <div class="carac">
                <div class="titulo">
                    <span class="col-lg-2"> <img class="img-responsive" src="assets/img/op.svg"> </span>
                    <span class="col-lg-10"> <h4>OFICINAS AL PÚBLICO</h4> </span>
                </div>
                <div class="col-lg-12  texto">
                    <p>
                        Oficina central: en la Avenida Mitre Nº 491 de la Ciudad de Quilmes. Nueva sucursal: en Hudson
                        para brindar una solución inmobiliaria integral a una zona en constante crecimiento.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row ok-carac">
        <div class="col-lg-6 col-md-12 padding-left-0">
            <div class="carac">
                <div class="titulo">
                    <span class="col-lg-2"> <img class="img-responsive" src="assets/img/p.svg"> </span>
                    <span class="col-lg-10"> <h4>PRENSA</h4> </span>
                </div>
                <div class="col-lg-12  texto">
                    <p>
                        Nuestro propio equipo de prensa se dedica a mantener un vínculo directo con los periodistas de
                        todos los medios especializados del sector inmobiliario.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 padding-right-0">
            <div class="carac">
                <div class="titulo">
                    <span class="col-lg-2"> <img class="img-responsive" src="assets/img/vp.svg"> </span>
                    <span class="col-lg-10"> <h4>VÍA PÚBLICA Y CARTELERÍA</h4> </span>
                </div>
                <div class="col-lg-12  texto">
                    <p>
                        Somos la única inmobiliaria de la zona con importantes carteles de venta y alquiler en las
                        principales rutas y avenidas de la zona.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row ok-carac">
        <div class="col-lg-6 col-md-12 padding-left-0">
            <div class="carac">
                <div class="titulo">
                    <span class="col-lg-2"> <img class="img-responsive" src="assets/img/pg.svg"> </span>
                    <span class="col-lg-10"> <h4>PUBLICIDAD GRÁFICA</h4> </span>
                </div>
                <div class="col-lg-12  texto">
                    <p>
                        Publicaciones constantes en diarios de cobertura nacional y regional y en las principales
                        revistas especializadas del sector inmobiliario de la zona.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 padding-right-0">
            <div class="carac">
                <div class="titulo">
                    <span class="col-lg-2"> <img class="img-responsive" src="assets/img/rp.svg"> </span>
                    <span class="col-lg-10"> <h4>REVISTAS PROPIAS</h4> </span>
                </div>
                <div class="col-lg-12  texto">
                    <p>
                        Dos o tres veces al año lanzamos nuestra propia revista, de 40 páginas, con una tirada de 6.000
                        ejemplares.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row ok-carac">
        <div class="col-lg-6 col-md-12 padding-left-0">
            <div class="carac">
                <div class="titulo">
                    <span class="col-lg-2"> <img class="img-responsive" src="assets/img/ip.svg"> </span>
                    <span class="col-lg-10"> <h4>INFORMES DE PRESENTACIÓN</h4> </span>
                </div>
                <div class="col-lg-12  texto">
                    <p>
                        Ya sea para la tasación, alquiler o venta, se realizan detallados informes sobre cada propiedad.
                        Estos le permiten al interesado entender de forma atractiva y clara las principales
                        características y diferenciales de la propiedad.
                    </p><br>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 padding-right-0">
            <div class="carac">
                <div class="titulo">
                    <span class="col-lg-2"> <img class="img-responsive" src="assets/img/m.svg"> </span>
                    <span class="col-lg-10"> <h4>INTERNET MAILING</h4> </span>
                </div>
                <div class="col-lg-12  texto">
                    <p>
                        Contamos con una web con un tráfico de más de 18.000 visitas mensuales. De forma periódica,
                        O’keefe comunica a su base de datos, de 255.000 contactos, los principales lanzamientos y
                        oportunidades de inversión. Publicamos nuestras propiedades en los principales portales
                        inmobiliarios.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
