<div class="row">
    <div id="slider-principal" class="carousel slider" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#slider-principal" data-slide-to="0" class="active"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active ok-home-slider" style="background-image: url(assets/img/slide.png);">
                <div class="carousel-caption">
                    <h2>CONJUNTO PARQUE BERNAL ÚLTIMA TORRE! PRE VENTA EN OBRA A PRECIO DE POZO</h2>
                    <span class="txt-caption">Luminosas unidades de 2 a 5 ambientes. Amenities en el edificio y en todo el Conjunto. Seguridad 24 hs.</span>
                    <a href="#!/tasaciones" class="btn btn-gris btn-lg" role="button">VER MAS</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="row">
    <div class="col-lg-12 padding-0 ok-home-slider">

    </div>
</div>-->
<div class="row home-block">
    <div class="col-md-3">
        <div class="col-md-8 pull-right b1-imagen">
            <img class="img-responsive" src="assets/img/trebol.png">
        </div>
    </div>
    <div class="col-md-8 col-md-offset-1 texto">
        <span class="titulo-home"> <h2>MAS DE 40 AÑOS DE ESFUERZO, VISIÓN Y DIVERSIDAD EN LA INDUSTRIA INMOBILIARIA ARGENTINA</h2> </span>
        <div>
            <p><!-- --></p>
        </div>

    </div>
</div>
<div class="row bloque2 margin-bottom-0">
    <div class="col-lg-6 col-md-12 bloque-img bi1">
        <a class="btn btn-verde difuminado" href="#!/tasaciones">POR QUÉ VENDER CON NOSOTROS</a>
    </div>
    <div class="col-lg-6 col-md-12 bloque-img bi2">
            <a class="btn btn-naranja difuminado" href="#!/quienes-somos#trayectoria">QUIÉNES SOMOS </a>
    </div>
    <div class="col-lg-6 col-md-12 bloque-img bi3">
        <a class="btn btn-naranja difuminado" href="#!/quienes-somos#servicios">NUESTROS SERVICIOS</a>
    </div>
    <div class="col-lg-6 col-md-12 bloque-img bi4">
        <a class="btn btn-verde difuminado" href="#!/empleo">FORMÁ PARTE DE NUESTRO EQUIPO</a>
    </div>
</div>