<div class="row">
    <div id="slider-principal" class="carousel slider" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#slider-principal" data-slide-to="0" class="active"></li>
            <li data-target="#slider-principal" data-slide-to="1"></li>
            <li data-target="#slider-principal" data-slide-to="2"></li>
            <li data-target="#slider-principal" data-slide-to="3"></li>
            <li data-target="#slider-principal" data-slide-to="4"></li>
            <!--<li data-target="#slider-principal" data-slide-to="5"></li>-->
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active ok-home-slider" style="background-image: url(assets/img/slides/01-ConjuntoParqueBernal.jpg);">
            <div class="carousel-caption">
                    <h2>CONJUNTO PARQUE BERNAL ÚLTIMA TORRE! PRE VENTA EN OBRA A PRECIO DE POZO</h2>
                    <span class="txt-caption">Luminosas unidades de 2 a 5 ambientes. Excelentes Vistas. Amenities en el edificio y en todo el Conjunto. Seguridad 24 hs.</span>
                    <a href="#!/tasaciones" class="btn btn-gris btn-lg" role="button">VER MAS</a>
                </div>
            </div>
            <div class="item ok-home-slider" style="background-image: url(assets/img/slides/02-KloverPatagonia.jpg);">
                <div class="carousel-caption">
                    <h2>KLOVER PATAGONIA III Y IV EN ARELAUQUEN</h2>
                    <span class="txt-caption">Proyecto de renta igual o superior sobre inversiones tradicionales con el plus de poder utilizarlo gran parte del año.</span>
                    <a href="#!/tasaciones" class="btn btn-gris btn-lg" role="button">VER MAS</a>
                </div>
            </div>
            <div class="item ok-home-slider" style="background-image: url(assets/img/slides/03-Aeris1122.jpg);">
                <div class="carousel-caption">
                    <h2>AERIS 1122 - PREVENTA EN POZO</h2>
                    <span class="txt-caption">Luminosos semipisos de 2 ambientes con amplios balcones y amenities.</span>
                    <a href="#!/tasaciones" class="btn btn-gris btn-lg" role="button">VER MAS</a>
                </div>
            </div>
            <div class="item ok-home-slider" style="background-image: url(assets/img/slides/05-KloverOffice.jpg);">
                <div class="carousel-caption">
                    <h2>KLOVER OFFICE – EDIFICIO PREMIUM DE OFICINAS CLASE A PRE VENTA EN POZO</h2>
                    <span class="txt-caption">Calidad constructiva y flexibilidad para el layout de su oficina. Cocheras y amenities.</span>
                    <span class="txt-caption">Semipisos de planta libre distribuidos de manera estratégica y con instalaciones de alta tecnología.</span>
                    <a href="#!/tasaciones" class="btn btn-gris btn-lg" role="button">VER MAS</a>
                </div>
            </div>
            <div class="item ok-home-slider" style="background-image: url(assets/img/slides/06-Golondrinas.jpg);">
                <div class="carousel-caption">
                    <h2>LAS GOLONDRINAS – BARRIO TERMINADO, VENÍ A CONOCERLO!</h2>
                    <span class="txt-caption">Un lugar pensado para vivir y disfrutar en familia. </span>
                    <h2>ÚLTIMOS LOTES DISPONIBLE! CONSULTE POR LOTES + CASAS!</h2>
                    <a href="#!/tasaciones" class="btn btn-gris btn-lg" role="button">VER MAS</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="row">
    <div class="col-lg-12 padding-0 ok-home-slider">

    </div>
</div>-->
<div class="row home-block">
    <div class="col-md-3">
        <div class="col-md-8 pull-right b1-imagen">
            <img class="img-responsive" src="assets/img/trebol.png">
        </div>
    </div>
    <div class="col-md-8 col-md-offset-1 texto" style="margin-top: 4%;">
        <span class="titulo-home"> <h2>MAS DE 40 AÑOS DE ESFUERZO, VISIÓN Y DIVERSIDAD EN LA INDUSTRIA INMOBILIARIA ARGENTINA</h2> </span>
        <div>
            <p><!-- --></p>
        </div>

    </div>
</div>
<div class="row bloque2 margin-bottom-0">
    <div class="col-lg-6 col-md-12 bloque-img bi1">
        <a class="btn btn-verde difuminado" href="#!/tasaciones">POR QUÉ VENDER CON NOSOTROS</a>
    </div>
    <div class="col-lg-6 col-md-12 bloque-img bi2">
            <a class="btn btn-naranja difuminado" href="#!/quienes-somos#trayectoria">QUIÉNES SOMOS </a>
    </div>
    <div class="col-lg-6 col-md-12 bloque-img bi3">
        <a class="btn btn-naranja difuminado" href="#!/quienes-somos#servicios">NUESTROS SERVICIOS</a>
    </div>
    <div class="col-lg-6 col-md-12 bloque-img bi4">
        <a class="btn btn-verde difuminado" href="#!/empleo">FORMÁ PARTE DE NUESTRO EQUIPO</a>
    </div>
</div>