<div class="banner-inv">
    <div class="row">
        <img class="img-responsive" src="assets/img/banner-inv.png">
        <span class="caption">
					INVERTIR EN EL MERCADO INMOBILIARIO ES MUCHO MÁS FÁCIL DE LO QUE VOS TE IMAGINÁS.
				</span>
    </div>
</div>

<div class="pasos">
    <div class="row">
        <h4 class="invite-title">Te invitamos a probarlo:</h4>
        <div class="col-lg-4 paso animation-element bounce-up">
            <div class="c-peq">
                1
            </div>
            <h4>INVERSIONES A TU MEDIDA</h4>
            <span>Inversiones para todos los gustos y presupuestos</span>
        </div>
        <div class="col-lg-4 paso mid animation-element bounce-up">
            <div class="c-peq">
                2
            </div>
            <h4>TIMING Y UBICACIÓN</h4>
            <span>Diferencias de rentabilidad y retornos según el estadío de inversión</span>
        </div>
        <div class="col-lg-4 paso animation-element bounce-up">
            <div class="c-peq">
                3
            </div>
            <h4>ASESORAMIENTO</h4>
            <span>Nuestros especialistas en proyectos de inversión te esperan. Contactalos.</span>
        </div>
    </div>
</div>

<div class="paso-uno">
    <div class="row animation-element slide-left">
        <div class="col-lg-9 padding-0">
            <div class="col-lg-1 padding-0">
                <div class="c-big">
                    1
                </div>
            </div>
            <div class="col-lg-10 padding-0">
                <h2>INVERSIONES A TU MEDIDA</h2>
            </div>
        </div>
        <div class="col-lg-3 text-right">
            <span>(Precios expresados en USD)</span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 text-center dato animation-element slide-left">
            <p class="lead"><strong>3.000</strong> A <strong>5.000</strong></p>
            <p>Parcelas productivas</p>
            <p>Storage (bauleras)</p>
            <span class="icono"><i class="fa fa-chevron-right"></i></span>
        </div>

        <div class="col-lg-4 text-center dato mid animation-element slide-left">
            <p class="lead"><strong>8.000</strong> A <strong>25.000</strong></p>
            <p>Loteos abiertos</p>
            <p>Cocheras y camas náuticas</p>
            <span class="icono"><i class="fa fa-chevron-right"></i></span>
        </div>
        <div class="col-lg-4 text-center dato animation-element slide-left">
            <p class="lead"><strong>30.000</strong> A <strong>60.000</strong></p>
            <p>Locales comerciales</p>
            <p>Lotes en barrios cerrados</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 text-center dato animation-element slide-left">
            <p class="lead"><strong>65.000</strong> A <strong>110.000</strong></p>
            <p>Departamentos de 1 y 2 ambientes</p>
            <p>Oficinas</p>
            <span class="icono"><i class="fa fa-chevron-right"></i></span>
        </div>

        <div class="col-lg-4 text-center dato mid animation-element slide-left">
            <p class="lead"><strong>110.000</strong> A <strong>300.000</strong></p>
            <p>Oficinas premium</p>
            <p>Casas y departamentos</p>
            <span class="icono"><i class="fa fa-chevron-right"></i></span>
        </div>
        <div class="col-lg-4 text-center dato animation-element slide-left">
            <p class="lead"><strong>350.000</strong> A <strong>700.000</strong></p>
            <p>Casas en barrios cerrados</p>
            <p>Chacras y campos productivos</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 text-center dato end animation-element slide-left">
            <p class="lead">+DE <strong>80.000</strong></p>
            <p>Estancias productivas</p>
            <p>Centros comerciales y de servicios</p>
        </div>
    </div>

</div>

<div class="paso-dos">
    <div class="row animation-element slide-left">
        <div class="col-lg-9 padding-0">
            <div class="col-lg-1 padding-0">
                <div class="c-big">
                    2
                </div>
            </div>
            <div class="col-lg-10 padding-0">
                <h2>TIMING Y UBICACIÓN</h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 text-center animation-element slide-left padding-left-0">
            <img class="img-responsive" src="assets/img/inv-a.png">
            <div class="invest-info col-md-12">
                <h4>EN POZO</h4>
                <p class="subt">- NO SE COMENZÓ LA OBRA -</p>
                <p>Departamentos de 1 y 2 ambientes</p>
                <p>Oficinas</p>
            </div>
        </div>
        <div class="col-lg-4 text-center animation-element slide-left">
            <img class="img-responsive" src="assets/img/inv-b.png">
            <div class="invest-info col-md-12">
                <h4>EN OBRA</h4>
                <p class="subt">- SE COMENZÓ LA OBRA -</p>
                <p>Oficinas premium</p>
                <p>Casas y departamentos</p>
            </div>
        </div>
        <div class="col-lg-4 text-center animation-element slide-left padding-right-0">
            <img class="img-responsive" src="assets/img/inv-c.png">
            <div class="invest-info col-md-12">
                <h4>TERMINADOS</h4>
                <p class="subt">- SE COMPRA LO QUE SE VE -</p>
                <p>Casas en barrios cerrados</p>
                <p>Chacras y campos productivos</p>
            </div>
        </div>
    </div>

</div>

<div class="paso-tres">
    <div class="row animation-element slide-left">
        <div class="col-lg-9 padding-0">
            <div class="col-lg-1 padding-0">
                <div class="c-big">
                    3
                </div>
            </div>
            <div class="col-lg-10">
                <h2>ASESORAMIENTO</h2>
            </div>
        </div>
    </div>
    <div class="row animation-element slide-left">
        <span class="subt">NUESTROS ESPECIALISTAS ESTÁN A TU DISPOSICIÓN</span>
    </div>
    <div class="row" ng-show="alert != null">
        <div uib-alert ng-class="'alert-' + (alert.type || 'warning')" close="alert = null">{{alert.msg}}</div>
    </div>
    <div class="row animation-element slide-left">
        <div class="form-contact">
            <form novalidate name="form_ase" ng-submit="invForm($event)" class="f_contacto">
                <div class="col-lg-4 padding-left-0">
                    <input ng-model="form.nombre" class="form-control custom" type="text" name="nombre"
                           placeholder="Nombre"
                           uib-tooltip="Debe ingresar su nombre"
                           tooltip-placement="top"
                           tooltip-is-open="!form.nombre && form.error"
                           tooltip-trigger="'none'">
                    <input ng-model="form.apellido" class="form-control custom" type="text" name="apellido"
                           placeholder="Apellido"
                           uib-tooltip="Debe ingresar su apellido"
                           tooltip-placement="right"
                           tooltip-is-open="!form.apellido && form.error"
                           tooltip-trigger="'none'">
                    <input ng-model="form.telefono" class="form-control custom" type="text" name="telefono"
                           placeholder="Telefono"
                           uib-tooltip="Debe ingresar un teléfono"
                           tooltip-placement="right"
                           tooltip-is-open="!form.telefono && form.error"
                           tooltip-trigger="'none'">
                    <input ng-model="form.celular" class="form-control custom" type="text" name="celular"
                           placeholder="Celular"
                           uib-tooltip="Debe ingresar un celular"
                           tooltip-placement="right"
                           tooltip-is-open="!form.celular && form.error"
                           tooltip-trigger="'none'">
                    <input ng-model="form.email" class="form-control custom" type="email" name="email"
                           placeholder="E-mail"
                           uib-tooltip="Debe ingresar un email válido"
                           tooltip-placement="right"
                           tooltip-is-open="(!form.email && form.error) || !form_ase.email.$valid"
                           tooltip-trigger="'none'">
                </div>
                <div class="col-lg-8 padding-right-0">
                    <textarea class="form-control custom" ng-model="form.comentarios" name="comentarios"
                              placeholder="Mensaje"
                              uib-tooltip="Debe ingresar un mensaje"
                              tooltip-placement="top"
                              tooltip-is-open="!form.mensaje && form.error"
                              tooltip-trigger="'none'"></textarea>
                    <div class="col-lg-4 pull-right padding-0">
                        <button class="btn btn-naranja btn-block" type="submit" ng-disabled="form_ase.$error.email">
                            CONTACTANOS
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="proyectos">
    <div class="row">
        <div class="col-lg-12 padding-0">
            <h2>PROYECTOS DESTACADOS</h2>
        </div>
    </div>
</div>

<div class="sub-menu">
    <div class="container-fluid">
        <div class="row">
            <div class="menu text-center pull-left">
                <div class="item i1">
                    <a class="filtrar-casa">Casa</a>
                </div>
                <div class="item i2">
                    <a class="filtrar-apto">Apartamento</a>
                </div>
                <div class="item i3">
                    <a class="filtrar-all">Todos</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row galeria">
    <div style="height: 200px;" ng-repeat="emp in emprendimientos  | limitTo:20 track by $index" class="item casa">
        <img ng-if="emp.foto" class="img-responsive ok-full-width ok-full-height" ng-src="{{emp.foto}}">
        <img ng-if="!emp.foto" class="img-responsive ok-full-width ok-full-height" ng-src="assets/img/sin_imagen.jpg">
        <div class="detalle">
            <p><strong>{{emp.nombre}}</strong></p>
            <p><span>{{getTipoEmprendimiento(emp.id_tipo_emp)}}</span></p>
            <p><span>{{emp.estado}}</span></p>
            <a href="#/ficha-emprendimiento/{{emp.id_emp}}" class="btn btn-sm btn-naranja">VER MAS</a>
        </div>
    </div>
</div>