<div class="banner-inv">
    <div class="row">
        <img class="img-responsive" src="assets/img/banner-inv.png">
				<span class="caption">
					INVERTIR EN EL MERCADO INMOBILIARIO ES MUCHO MÁS FÁCIL DE LO QUE VOS TE IMAGINÁS.
				</span>
    </div>
</div>

<div class="pasos">
    <div class="row">
        <h4 class="invite-title">Te invitamos a probarlo:</h4>
        <div class="col-xs-4 paso animation-element bounce-up">
            <div class="c-peq">
                1
            </div>
            <h4>INVERSIONES A TU MEDIDA</h4>
            <span>Inversiones para todos los gustos y presupuestos</span>
        </div>
        <div class="col-xs-4 paso mid animation-element bounce-up">
            <div class="c-peq">
                2
            </div>
            <h4>TIMING Y UBICACIÓN</h4>
            <span>Diferencias de rentabilidad y retornos según el estadío de inversión</span>
        </div>
        <div class="col-xs-4 paso animation-element bounce-up">
            <div class="c-peq">
                3
            </div>
            <h4>ASESORAMIENTO</h4>
            <span>Nuestros especialistas en proyectos de inversión te esperan. Contactalos.</span>
        </div>
    </div>
</div>

<div class="paso-uno">
    <div class="row animation-element slide-left">
        <div class="col-xs-9 padding-0">
            <div class="col-xs-1 padding-0">
                <div class="c-big">
                    1
                </div>
            </div>
            <div class="col-xs-10 padding-0">
                <h2>INVERSIONES A TU MEDIDA</h2>
            </div>
        </div>
        <div class="col-xs-3 text-right">
            <span>(Precios expresados en USD)</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 text-center dato animation-element slide-left">
            <p class="lead"><strong>3.000</strong> A <strong>5.000</strong></p>
            <p>Parcelas productivas</p>
            <p>Storage (bauleras)</p>
            <span class="icono"><i class="fa fa-chevron-right"></i></span>
        </div>

        <div class="col-xs-4 text-center dato mid animation-element slide-left">
            <p class="lead"><strong>8.000</strong> A <strong>25.000</strong></p>
            <p>Loteos abiertos</p>
            <p>Cocheras y camas náuticas</p>
            <span class="icono"><i class="fa fa-chevron-right"></i></span>
        </div>
        <div class="col-xs-4 text-center dato animation-element slide-left">
            <p class="lead"><strong>30.000</strong> A <strong>60.000</strong></p>
            <p>Locales comerciales</p>
            <p>Lotes en barrios cerrados</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 text-center dato animation-element slide-left">
            <p class="lead"><strong>65.000</strong> A <strong>110.000</strong></p>
            <p>Departamentos de 1 y 2 ambientes</p>
            <p>Oficinas</p>
            <span class="icono"><i class="fa fa-chevron-right"></i></span>
        </div>

        <div class="col-xs-4 text-center dato mid animation-element slide-left">
            <p class="lead"><strong>110.000</strong> A <strong>300.000</strong></p>
            <p>Oficinas premium</p>
            <p>Casas y departamentos</p>
            <span class="icono"><i class="fa fa-chevron-right"></i></span>
        </div>
        <div class="col-xs-4 text-center dato animation-element slide-left">
            <p class="lead"><strong>350.000</strong> A <strong>700.000</strong></p>
            <p>Casas en barrios cerrados</p>
            <p>Chacras y campos productivos</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 col-xs-offset-4 text-center dato end animation-element slide-left">
            <p class="lead">+DE <strong>80.000</strong></p>
            <p>Estancias productivas</p>
            <p>Centros comerciales y de servicios</p>
        </div>
    </div>

</div>

<div class="paso-dos">
    <div class="row animation-element slide-left">
        <div class="col-xs-9 padding-0">
            <div class="col-xs-1 padding-0">
                <div class="c-big">
                    2
                </div>
            </div>
            <div class="col-xs-10 padding-0">
                <h2>TIMING Y UBICACION</h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 text-center animation-element slide-left padding-left-0">
            <img class="img-responsive" src="assets/img/inv-a.png">
            <div class="invest-info col-md-12">
                <h4>EN POZO</h4>
                <p class="subt">- NO SE COMENZÓ LA OBRA -</p>
                <p>Departamentos de 1 y 2 ambientes</p>
                <p>Oficinas</p>
            </div>


        </div>

        <div class="col-xs-4 text-center animation-element slide-left">
            <img class="img-responsive" src="assets/img/inv-b.png">
            <div class="invest-info col-md-12">
                <h4>EN OBRA</h4>
                <p class="subt">- SE COMENZÓ LA OBRA -</p>
                <p>Oficinas premium</p>
                <p>Casas y departamentos</p>
            </div>
        </div>
        <div class="col-xs-4 text-center animation-element slide-left padding-right-0">
            <img class="img-responsive" src="assets/img/inv-c.png">
            <div class="invest-info col-md-12">
                <h4>TERMINADOS</h4>
                <p class="subt">- SE COMPRA LO QUE SE VE -</p>
                <p>Casas en barrios cerrados</p>
                <p>Chacras y campos productivos</p>
            </div>
        </div>
    </div>

</div>

<div class="paso-tres">
    <div class="row animation-element slide-left">
        <div class="col-xs-9 padding-0">
            <div class="col-xs-1 padding-0">
                <div class="c-big">
                    3
                </div>
            </div>
            <div class="col-xs-10">
                <h2>ASESORAMIENTO</h2>
            </div>
        </div>
    </div>
    <div class="row animation-element slide-left">
        <span class="subt">NUESTROS ESPECIALISTAS ESTÁN A TU DISPOSICIÓN</span>
    </div>
    <div class="row animation-element slide-left">
        <div class="form-contact">
            <form class="f_contacto">
                <div class="col-xs-4 padding-left-0">
                    <input class="form-control custom" type="text" name="nombre" placeholder="Nombre">
                    <input class="form-control custom" type="text" name="apellido" placeholder="Apellido">
                    <input class="form-control custom" type="text" name="telefono" placeholder="Telefono">
                    <input class="form-control custom" type="text" name="celular" placeholder="Celular">
                    <input class="form-control custom" type="text" name="email" placeholder="E-mail">
                </div>
                <div class="col-xs-8 padding-right-0">
                    <textarea class="form-control custom" name="mensaje" placeholder="Mensaje"></textarea>
                    <div class="col-xs-4 pull-right padding-0">
                        <button class="btn btn-naranja btn-block" type="submit">CONTACTANOS</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="proyectos">
    <div class="row">
        <div class="col-xs-12 padding-0">
            <h2>PROYECTOS DESTACADOS</h2>
        </div>
    </div>
</div>

<div class="sub-menu">
    <div class="container-fluid">
        <div class="row">
            <div class="menu text-center pull-left">
                <div class="item i1">
                    <a class="filtrar-casa">Casa</a>
                </div>
                <div class="item i2">
                    <a class="filtrar-apto">Apartamento</a>
                </div>
                <div class="item i3">
                    <a class="filtrar-all">Todos</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row galeria">
    <div class="item casa"><img class="img-responsive" src="assets/img/inversiones/inv1.png">
        <div class="detalle">
            <p><strong>Las golondrinas</strong></p>
            <p><span>Barrio Cerrado</span></p>
            <p><span>TERMINADO</span></p>
            <a href="#/ficha-emprendimiento" class="btn btn-sm btn-naranja" type="submit">VER MAS</a>
        </div>
    </div>
    <div class="item casa"><img class="img-responsive" src="assets/img/inversiones/inv2.png">
        <div class="detalle">
            <p><strong>Las golondrinas</strong></p>
            <p><span>Barrio Cerrado</span></p>
            <p><span>TERMINADO</span></p>
            <a href="#/ficha-emprendimiento" class="btn btn-sm btn-naranja" type="submit">VER MAS</a>
        </div>
    </div>
    <div class="item apto"><img class="img-responsive" src="assets/img/inversiones/inv3.png">
        <div class="detalle">
            <p><strong>Las golondrinas</strong></p>
            <p><span>Barrio Cerrado</span></p>
            <p><span>TERMINADO</span></p>
            <a href="#/ficha-emprendimiento" class="btn btn-sm btn-naranja" type="submit">VER MAS</a>
        </div>
    </div>
    <div class="item casa"><img class="img-responsive" src="assets/img/inversiones/inv4.png">
        <div class="detalle">
            <p><strong>Las golondrinas</strong></p>
            <p><span>Barrio Cerrado</span></p>
            <p><span>TERMINADO</span></p>
            <button class="btn btn-sm btn-naranja" type="submit">VER MAS</button>
        </div>
    </div>
    <div class="item apto"><img class="img-responsive" src="assets/img/inversiones/inv5.png">
        <div class="detalle">
            <p><strong>Las golondrinas</strong></p>
            <p><span>Barrio Cerrado</span></p>
            <p><span>TERMINADO</span></p>
            <button class="btn btn-sm btn-naranja" type="submit">VER MAS</button>
        </div>
    </div>
    <div class="item apto"><img class="img-responsive" src="assets/img/inversiones/inv6.png">
        <div class="detalle">
            <p><strong>Las golondrinas</strong></p>
            <p><span>Barrio Cerrado</span></p>
            <p><span>TERMINADO</span></p>
            <button class="btn btn-sm btn-naranja" type="submit">VER MAS</button>
        </div>
    </div>
    <div class="item casa"><img class="img-responsive" src="assets/img/inversiones/inv7.png">
        <div class="detalle">
            <p><strong>Las golondrinas</strong></p>
            <p><span>Barrio Cerrado</span></p>
            <p><span>TERMINADO</span></p>
            <button class="btn btn-sm btn-naranja" type="submit">VER MAS</button>
        </div>
    </div>
    <div class="item apto"><img class="img-responsive" src="assets/img/inversiones/inv8.png">
        <div class="detalle">
            <p><strong>Las golondrinas</strong></p>
            <p><span>Barrio Cerrado</span></p>
            <p><span>TERMINADO</span></p>
            <button class="btn btn-sm btn-naranja" type="submit">VER MAS</button>
        </div>
    </div>
    <div class="item casa"><img class="img-responsive" src="assets/img/inversiones/inv9.png">
        <div class="detalle">
            <p><strong>Las golondrinas</strong></p>
            <p><span>Barrio Cerrado</span></p>
            <p><span>TERMINADO</span></p>
            <button class="btn btn-sm btn-naranja" type="submit">VER MAS</button>
        </div>
    </div>
    <div class="item apto"><img class="img-responsive" src="assets/img/inversiones/inv10.png">
        <div class="detalle">
            <p><strong>Las golondrinas</strong></p>
            <p><span>Barrio Cerrado</span></p>
            <p><span>TERMINADO</span></p>
            <button class="btn btn-sm btn-naranja" type="submit">VER MAS</button>
        </div>
    </div>
    <div class="item casa"><img class="img-responsive" src="assets/img/inversiones/inv11.png">
        <div class="detalle">
            <p><strong>Las golondrinas</strong></p>
            <p><span>Barrio Cerrado</span></p>
            <p><span>TERMINADO</span></p>
            <button class="btn btn-sm btn-naranja" type="submit">VER MAS</button>
        </div>
    </div>
    <div class="item apto"><img class="img-responsive" src="assets/img/inversiones/inv12.png">
        <div class="detalle">
            <p><strong>Las golondrinas</strong></p>
            <p><span>Barrio Cerrado</span></p>
            <p><span>TERMINADO</span></p>
            <button class="btn btn-sm btn-naranja" type="submit">VER MAS</button>
        </div>
    </div>
    <div class="item apto"><img class="img-responsive" src="assets/img/inversiones/inv13.png">
        <div class="detalle">
            <p><strong>Las golondrinas</strong></p>
            <p><span>Barrio Cerrado</span></p>
            <p><span>TERMINADO</span></p>
            <button class="btn btn-sm btn-naranja" type="submit">VER MAS</button>
        </div>
    </div>
    <div class="item apto"><img class="img-responsive" src="assets/img/inversiones/inv14.png">
        <div class="detalle">
            <p><strong>Las golondrinas</strong></p>
            <p><span>Barrio Cerrado</span></p>
            <p><span>TERMINADO</span></p>
            <button class="btn btn-sm btn-naranja" type="submit">VER MAS</button>
        </div>
    </div>
    <div class="item casa"><img class="img-responsive" src="assets/img/inversiones/inv15.png">
        <div class="detalle">
            <p><strong>Las golondrinas</strong></p>
            <p><span>Barrio Cerrado</span></p>
            <p><span>TERMINADO</span></p>
            <button class="btn btn-sm btn-naranja" type="submit">VER MAS</button>
        </div>
    </div>
    <div class="item apto"><img class="img-responsive" src="assets/img/inversiones/inv16.png">
        <div class="detalle">
            <p><strong>Las golondrinas</strong></p>
            <p><span>Barrio Cerrado</span></p>
            <p><span>TERMINADO</span></p>
            <button class="btn btn-sm btn-naranja" type="submit">VER MAS</button>
        </div>
    </div>
    <div class="item casa"><img class="img-responsive" src="assets/img/inversiones/inv17.png">
        <div class="detalle">
            <p><strong>Las golondrinas</strong></p>
            <p><span>Barrio Cerrado</span></p>
            <p><span>TERMINADO</span></p>
            <button class="btn btn-sm btn-naranja" type="submit">VER MAS</button>
        </div>
    </div>
    <div class="item apto"><img class="img-responsive" src="assets/img/inversiones/inv18.png">
        <div class="detalle">
            <p><strong>Las golondrinas</strong></p>
            <p><span>Barrio Cerrado</span></p>
            <p><span>TERMINADO</span></p>
            <button class="btn btn-sm btn-naranja" type="submit">VER MAS</button>
        </div>
    </div>
    <div class="item casa"><img class="img-responsive" src="assets/img/inversiones/inv19.png">
        <div class="detalle">
            <p><strong>Las golondrinas</strong></p>
            <p><span>Barrio Cerrado</span></p>
            <p><span>TERMINADO</span></p>
            <button class="btn btn-sm btn-naranja" type="submit">VER MAS</button>
        </div>
    </div>
    <div class="item casa"><img class="img-responsive" src="assets/img/inversiones/inv20.png">
        <div class="detalle">
            <p><strong>Las golondrinas</strong></p>
            <p><span>Barrio Cerrado</span></p>
            <p><span>TERMINADO</span></p>
            <button class="btn btn-sm btn-naranja" type="submit">VER MAS</button>
        </div>
    </div>
    <div class="item apto"><img class="img-responsive" src="assets/img/inversiones/inv21.png">
        <div class="detalle">
            <p><strong>Las golondrinas</strong></p>
            <p><span>Barrio Cerrado</span></p>
            <p><span>TERMINADO</span></p>
            <button class="btn btn-sm btn-naranja" type="submit">VER MAS</button>
        </div>
    </div>
    <div class="item casa"><img class="img-responsive" src="assets/img/inversiones/inv22.png">
        <div class="detalle">
            <p><strong>Las golondrinas</strong></p>
            <p><span>Barrio Cerrado</span></p>
            <p><span>TERMINADO</span></p>
            <button class="btn btn-sm btn-naranja" type="submit">VER MAS</button>
        </div>
    </div>
    <div class="item apto"><img class="img-responsive" src="assets/img/inversiones/inv23.png">
        <div class="detalle">
            <p><strong>Las golondrinas</strong></p>
            <p><span>Barrio Cerrado</span></p>
            <p><span>TERMINADO</span></p>
            <button class="btn btn-sm btn-naranja" type="submit">VER MAS</button>
        </div>
    </div>
    <div class="item apto"><img class="img-responsive" src="assets/img/inversiones/inv24.png">
        <div class="detalle">
            <p><strong>Las golondrinas</strong></p>
            <p><span>Barrio Cerrado</span></p>
            <p><span>TERMINADO</span></p>
            <button class="btn btn-sm btn-naranja" type="submit">VER MAS</button>
        </div>
    </div>
</div>