.banner-inv{
	display: block;
	position: relative;
}

.banner-inv .caption{
	font-family: RobotoBlack;
	font-size: 26px;
	text-align: center;
	background-color: #797c7f;
	color: #ffffff;
	opacity: 0.78;
	display: block;
	position: absolute;
	padding: 5px 10px;
	margin: auto;
	top: 50%;
    left: 10%;
    transform: translate(-5%,-50%);
}

.pasos, .paso-uno, .paso-dos, .paso-tres, .proyectos{
	padding: 20px 3%;
}

.pasos .paso{
	text-align: center;
	padding-top: 70px;
}

.pasos .paso h4, .paso-uno h2, .paso-dos h2, .paso-tres h2, .paso-dos h4, .proyectos h2{
	color: #006032;
}

.pasos .paso .c-peq{
	display: block;
	position: absolute;
	background-color: #e9580c;
	color: #ffffff;
	font-family: RobotoBlack;
	font-size: 26px;
	border-radius: 50%;
	padding: 2px;
	width: 40px;
	height: 40px;
	margin: auto;
	top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.paso-uno{
	padding-top: 30px;
}

.paso-uno .c-big, .paso-dos .c-big, .paso-tres .c-big{
	display: block;
	text-align: center;
	margin-top: 14px;
	background-color: #e9580c;
	color: #ffffff;
	font-family: RobotoBlack;
	font-size: 28px;
	border-radius: 50%;
	padding: 2px;
	width: 47px;
	height: 47px;
}

.paso-uno span{
	display: block;
	padding-top: 15px;
}

.paso-uno .dato .icono{
	display: block;
	font-size: 30px;
	color: #e9580c;
	padding: 0;
	position: absolute;
    top: 50%;
    margin: auto;
    right: 0;
    transform: translateY(-50%);
}

.paso-dos .subt{
	color: #e9580c;
}

.paso-tres .subt{
	display: block;
	background-color: #797c7f;
	color: #ffffff;
	padding: 6px 12px;
}

.paso-tres .form-contact textarea{
	resize: none;
	height: 210px;
}

.proyectos .detalle{
	display: block;
    width: 100%;
    height: 100%;
    background-color: #797c7f;
    color: #ffffff;
    position: absolute;
    top: 0;
    padding: 8% 15%;
}