.sub-menu, .fichas{
	padding-left: 3%;
	padding-right: 3%;
}

.fichas{
	background-color: #fbf9f9;
}

.ficha{
	width: 18%;
	margin: 5px;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.59);
	-moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.59);
	box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.59);
}

.ficha.publicidad{
	padding:2%;
}

.ficha .txt{
	display: block;
	text-align: center;
	padding: 10px;
}

.ficha .txt p{
	display: block;
	text-align: center;
	padding: 10px;
	color: #78756e;
	font-weight: 700;
}

.ficha .txt small{
	color: #f37a6b;
}

.i3 a{
	border-right: none;
}