#modal-fav .modal-dialog{
	width: 80%;
}

#modal-fav .titulo{
	color: #006032;
}

#modal-fav .eliminar-fav{
	position: absolute;
    right: 15px;
    color: #006032;
    cursor: pointer;
    z-index: 100;
}

#modal-fav .form-envio-fav textarea{
	height: 100px;
	resize: none;
}