.busqueda .resultados #mapa-busqueda{
	height: 600px;
}

.busqueda .resultados .nota-mapa{
	display: -webkit-box;
    display: -moz-box;
    display: box;

    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;

	background-color: #fbf9f9;
}

.busqueda .resultados .nota-mapa h2{
	color: #006032;
}