<ion-view>
  <ion-nav-title>
    <img src="img/logo.png" class="ok-logo-img" />
  </ion-nav-title>
  <ion-content>
    <div class="row ok-padding-0">
      <div class="wrapper">
        <img class="full-image" src="img/banner-about.jpg">
        <div id="text">
          <h3 class="ok-color-white">DISTINTAS ÁREAS,</h3>
          <h3 class="ok-color-white">EL MISMO</h3>
          <h3 class="ok-color-white">PROFESIONALISMO</h3>
        </div>
      </div>
    </div>
    <!-- SERVICIOS -->
    <div class="row ok-investments-number">
      <div class="col ok-background-grey ok-about-box">
        <div class="c-peq ok-background-white ok-padding-0">
          <img src="img/ase.svg">
        </div>
        <h4 class="text-center ok-color-green">ASESORAMIENTO</h4>
        <h6 class="text-center ok-text-bold">MARKETING INMOBILIARIO</h6>
        <h6 class="text-center ok-text-bold">INVERSIONES INMOBILIARIAS</h6>
        <h6 class="text-center ok-text-bold">Y AGROPECUARIAS</h6>
      </div>
    </div>
    <div class="row ok-investments-number">
      <div class="col ok-background-grey ok-about-box">
        <div class="c-peq ok-background-white ok-padding-0">
          <img src="img/adm.svg">
        </div>
        <h4 class="text-center ok-color-green">ADMINISTRACIÓN</h4>
        <h6 class="text-center ok-text-bold">COBRO DE ALQUILERES</h6>
        <h6 class="text-center ok-text-bold">CONTROL DE GASTOS</h6>
        <h6 class="text-center ok-text-bold">LIQUIDACIONES</h6>
      </div>
    </div>
    <div class="row ok-investments-number">
      <div class="col ok-background-grey ok-about-box">
        <div class="c-peq ok-background-white ok-padding-0">
          <img src="img/com.svg">
        </div>
        <h4 class="text-center ok-color-green">COMERCIALIZACIÓN</h4>
        <h6 class="text-center ok-text-bold">TASACIONES</h6>
        <h6 class="text-center ok-text-bold">COMPRAS - VENTAS</h6>
        <h6 class="text-center ok-text-bold">ALQUILERES</h6>
      </div>
    </div>
    <div class="row ok-investments-number">
      <div class="col ok-background-grey ok-about-box">
        <div class="c-peq ok-background-white ok-padding-0">
          <img src="img/cons.svg">
        </div>
        <h4 class="text-center ok-color-green">CONSULTORÍA</h4>
        <h6 class="text-center ok-text-bold">ESTRUCTURACIÓN DE INVERSIONES</h6>
        <h6 class="text-center ok-text-bold">VIABILIDAD COMERCIAL</h6>
        <h6 class="text-center ok-text-bold">DE PROYECTOS</h6>
      </div>
    </div>
    <!-- SERVICIOS-->
    <!-- SLIDER EQUIPO -->
    <div class="row ok-about-slider-box">
      <div class="col">
        <h3 class="text-center ok-color-green">UN EQUIPO</h3>
        <h3 class="text-center ok-color-green">COMPROMETIDO CON VOS</h3>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ion-slide-box does-continue="true" auto-play="true" class="ok-background-grey ok-about-who-slider">
          <ion-slide>
            <div class="logo">
              <img src="img/equipo2.png">
            </div>
            <h3 class="ok-color-green name">CHARLIE O'KEEFE</h3>
            <h4 class="ok-color-orange job">DIRECTOR FINANCIERO</h4>
            <h5>Encargado de la División</h5>
            <h5> Comercial. Martillero Público.</h5>
            <h5 class="ok-text-bold email">charlie@okeefe.com.ar</h5>
          </ion-slide>
          <ion-slide>
            <div class="logo">
              <img src="img/equipo3.png">
            </div>
            <h3 class="ok-color-green name">GEORGINA BADANO</h3>
            <h4 class="ok-color-orange job">TITULAR DEL ESTUDIO JURÍDICO Y NOTARIAL BADANO & CIA</h4>
            <h5>Abogada. Más de 35 años de trayectoria en asuntos inmobiliarios, de familia, sucesorios, civiles y desarrollos inmobiliarios. Especialista en Fideicomisos.</h5>
            <h5 class="ok-text-bold email">georgina@okeefe.com.ar</h5>
          </ion-slide>
          <ion-slide>
            <div class="logo">
              <img src="img/equipo1.png">
            </div>
            <h3 class="ok-color-green name">EDUARDO O'KEEFE</h3>
            <h4 class="ok-color-orange job">GERENTE GENERAL</h4>
            <h5>Martillero y Corredor Público. Administración y venta de campos y hacienda desde 1974. Brooker y asesor en manejo de grandes terrenos para emprendimientos.</h5>
            <h5 class="ok-text-bold email">eduardo@okeefe.com.ar</h5>
          </ion-slide>
        </ion-slide-box>
      </div>
    </div>
    <!-- SLIDER EQUIPO -->

    <!-- HISTORIA -->
    <div class="row ok-about-slider-box">
      <div class="col">
        <h3 class="text-center ok-color-green">40 AÑOS DE ESFUERZO, VISIÓN</h3>
        <h3 class="text-center ok-color-green">Y DIVERSIDAD</h3>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ul class="list ok-about-list">
          <li class="item"><span class="ok-color-orange">1973</span> Fundación de la empresa</li>
          <li class="item"><span class="ok-color-green">1984</span> Apertura del área urbana</li>
          <li class="item"><span class="ok-color-orange">1990</span> Apostando siempre a la innovación</li>
          <li class="item"><span class="ok-color-green">1993</span> Consolidación del equipo de trabajo</li>
          <li class="item"><span class="ok-color-orange">1997</span> Comienzo del desarrollo inmobiliario propio</li>
          <li class="item"><span class="ok-color-green">2010</span> Nuevos desafíos: Barrio Privado Las Golondrinas</li>
          <li class="item"><span class="ok-color-orange">2012</span> Apertura de nueva sucursal de Hudson</li>
          <li class="item"><span class="ok-color-green">2014</span> xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</li>
          <li class="item"><span class="ok-color-orange">2015</span> xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</li>
          <li class="item"><span class="ok-color-green">2016</span> xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</li>
        </ul>
      </div>
    </div>
    <!-- HISTORIA -->
    <div class="row ok-footer">
      <div class="col ok-img-list">
        <img src="img/FACEBOOK.svg">
        <img src="img/LINKEDIN.svg">
        <img src="img/YOUTUBE.svg">
      </div>
    </div>
  </ion-content>
</ion-view>
