<ion-view>
  <ion-nav-title>
    <img ui-sref="app.home" src="img/logo.png" class="ok-logo-img"/>
  </ion-nav-title>
  <ion-content>
    <ion-slide-box does-continue="true" auto-play="true">
      <ion-slide>
        <div class="box"><img src="img/slides/01-ConjuntoParqueBernal.jpg" style="width: 100%"/></div>
      </ion-slide>
      <ion-slide>
        <div class="box"><img src="img/slides/02-KloverPatagonia.jpg" style="width: 100%"/></div>
      </ion-slide>
      <ion-slide>
        <div class="box"><img src="img/slides/03-Aeris1122.jpg" style="width: 100%"/></div>
      </ion-slide>
      <ion-slide>
        <div class="box"><img src="img/slides/04-Fincas_condo.jpg" style="width: 100%"/></div>
      </ion-slide>
      <ion-slide>
        <div class="box"><img src="img/slides/05-KloverOffice.jpg" style="width: 100%"/></div>
      </ion-slide>
      <ion-slide>
        <div class="box"><img src="img/slides/06-Golondrinas.jpg" style="width: 100%"/></div>
      </ion-slide>
    </ion-slide-box>
    <div class="list list-inset ok-home-search">
      <div class="item item-input ok-form-input" ng-click="operationModal.show()">
        <input value="{{searchParam.oper}}" type="text" disabled placeholder="Tipo de Operación">
        <i style="padding-right: 10px;" class="icon ion-chevron-down"></i>
      </div>
      <div class="item item-input ok-form-input" ng-click="propertyModal.show()">
        <input value="{{searchParam.property}}" type="text" disabled placeholder="Tipo de Inmueble">
        <i style="padding-right: 10px;" class="icon ion-chevron-down"></i>
      </div>
      <label class="item item-input ok-form-input" style="margin-bottom: 5px;">
        <input ion-autocomplete type="text" readonly="readonly" class="ion-autocomplete" autocomplete="off"
               ng-model="$parent.loc"
               item-value-key="name"
               item-view-value-key="view"
               items-method="getLocation(query)"
               items-method-value-key="items"
               placeholder="Ingrese la ubicación"
               items-clicked-method="selectedZone(callback)"
               max-selected-items="1"/>
      </label>
      <ion-toggle ng-model="searchParam.empr" toggle-class="toggle-balanced">Emprendimiento</ion-toggle>
      <button ng-click="searchProp()" menu-close class="button button-block button-positive ok-form-button">
        Buscar
      </button>
    </div>
    <div class="row">
      <div class="col">
        <h4 class="text-center ok-color-green">MÁS DE 40 AÑOS DE</h4>
        <h4 class="text-center ok-color-green">ESFUERZO, VISIÓN Y DIVERSIDAD</h4>
        <h4 class="text-center ok-color-green">EN LA INDUSTRIA</h4>
        <h4 class="text-center ok-color-green">INMOBILIARIA ARGENTINA</h4>
      </div>
    </div>
    <!--<div class="row">
      <div class="col">
        <p class="text-center">La inmobiliaria O´Keefe, como uno de los principales referentes de la industria inmobiliaria de la zona sur, sigue creciendo día a día, apostando a locaciones que se ajusten a las nuevas formas de vida y que al mismo tiempo innoven y cumplan con los requisitos del mercado y en especial de nuestros clientes.</p>
      </div>
    </div>-->
    <!-- <div class="row">
       <div class="col">
         <h4 class="text-center ok-color-green">POR QUÉ VENDER</h4>
         <h4 class="text-center ok-color-green">CON NOSOTROS</h4>
       </div>
     </div>
     <div class="row">
       <div class="col">
         <div class="video-container">
           <iframe src="http://www.youtube.com/embed/dFVxGRekRSg" frameborder="0" width="560" height="315"></iframe>
         </div>
       </div>
     </div>-->
    <div class="row ok-footer">
      <div class="col ok-img-list">
        <a target="_blank" href="https://www.facebook.com/okeefeinmobiliaria"><img src="img/FACEBOOK.svg"></a>
        <a target="_blank" href="https://www.linkedin.com/company/335778?trk=prof-0-ovw-curr_pos"><img
          src="img/LINKEDIN.svg"></a>
        <a target="_blank" href="https://www.youtube.com/channel/UCht4TIqthbwx2QE82IhHXDg"><img
          src="img/YOUTUBE.svg"></a>
      </div>
    </div>
  </ion-content>
</ion-view>
