<ion-view>
  <ion-nav-title>
    <img src="img/logo.png" class="ok-logo-img"/>
  </ion-nav-title>
  <ion-content>
    <div class="row padding">
      <h4 ng-if="property.titulo[0]" class="ok-color-green">{{property.titulo[0].contenido}}</h4>
      <h4 ng-if="!property.titulo[0]" class="ok-color-green">PROPIEDAD EN {{property.ubicacion.nombre_ubicacion}}</h4>
    </div>
    <ion-slides ng-if="property.foto.length" options="sliderOptions" class="ok-ps-slider" slider="initSlider">
      <ion-slide-page ng-if="img.foto" ng-repeat="img in property.foto">
        <div class="box">
          <img ng-src="{{img.foto}}" alt="{{img.id_foto}}" title="Imagen de Propiedad" style="width: 100%"/>
        </div>
      </ion-slide-page>
    </ion-slides>
    <div class="row property-sheet-info ok-padding-top-0">
      <div class="col col-33 ok-ps-text ok-color-green">{{property.valor[0].contenido | currency:$:0}}</div>
      <div class="col col-33 col-offset-10 ok-ps-text">ID {{property.id_prop}}</div>
      <a ng-click="doFav(property.id_prop)" class="col ok-padding-0">
                <span class="icon-stack">
                 <i class="ion-record icon-stack-back prop-{{property.id_prop}}"
                    ng-class="{'ok-color-white':!checkFav(property.id_prop), 'ok-color-green':checkFav(property.id_prop)}"></i>
                 <i class="ion-android-favorite icon-stack-ico"
                    ng-class="{'ok-color-white':checkFav(property.id_prop), 'ok-color-orange':!checkFav(property.id_prop)}"></i>
                </span>
      </a>
      <a ng-click="showPopup(property)" class="col ok-padding-0">
                        <span class="icon-stack">
                         <i class="ion-record icon-stack-back ok-color-white"></i>
                         <i class="ion-android-share-alt icon-stack-ico ok-color-green"></i>
                        </span>
      </a>
    </div>
    <div class="row property-sheet-info2 ok-padding-0">
      <div ng-if="property.ambientes.length" class="col col-40 ok-padding-0">
        <div class="card ok-margin-0 ">
          <div class="item item-icon-left">
            <img class="icon" ng-src="img/ambientes.svg">
            {{property.ambientes.length}}
          </div>
        </div>
      </div>
      <div ng-if="property.sup_total[0]" class="col ok-padding-0">
        <div class="card ok-margin-0 ">
          <div class="item item-icon-left ">
            <img class="icon" ng-src="img/m2.svg">
            {{property.sup_total[0].contenido}} M2
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ion-list class="ok-property-sheet-list">
          <div class="ok-list-content">
            <ion-item class="item-stable ok-background-white"
                      ng-click="toggleGroup('des')"
                      ng-class="{active: isGroupShown('des'),'ok-border-bottom':!isGroupShown('des')}">
              <i class="icon ok-color-orange"
                 ng-class="isGroupShown('des') ? 'ion-chevron-down' : 'ion-chevron-right'"></i>
              <span class="ok-color-green">Ficha Técnica</span>
            </ion-item>
            <ion-item class="item-accordion ok-background-grey padding" ng-show="isGroupShown('des')"
                      ng-class="{'ok-border-bottom':isGroupShown('des')}">
              <h3 ng-if="property.ubica[0].valor">Dirección</h3>
              <p ng-if="property.ubica[0].valor">{{property.ubica[0].valor}}</p>
              <h3 ng-if="property.ubica[0]">Ubicación</h3>
              <p ng-if="property.ubica[0]">{{property.ubica[0].subzona}}</p>
              <h3 ng-if="property.subzona">Tipo</h3>
              <p ng-if="property.subzona">{{property.subzona}}</p>
              <h3 ng-if="property.estado[0]">Estado</h3>
              <p ng-if="property.estado[0]">{{property.estado[0].contenido}}</p>
              <h3 ng-if="property.descripcion || property.desc[0]">Descripción</h3>
              <p ng-if="property.descripcion || property.desc[0]">{{property.descripcion ||
                property.desc[0].contenido}}</p>
            </ion-item>
            <ion-item ng-if="property.video" class="item-stable ok-background-white"
                      ng-click="toggleGroup('vid')"
                      ng-class="{active: isGroupShown('vid'),'ok-border-bottom':!isGroupShown('vid')}">
              <i class="icon ok-color-orange"
                 ng-class="isGroupShown('vid') ? 'ion-chevron-down' : 'ion-chevron-right'"></i>
              <span class="ok-color-green">Video</span>
            </ion-item>
            <ion-item ng-if="property.video" class="item-accordion ok-background-grey ok-padding-0"
                      ng-show="isGroupShown('vid')"
                      ng-class="{'ok-border-bottom':isGroupShown('vid')}">
              <div class="video-container">
                <iframe src="{{trustSrc(property.video)}}" frameborder="0" width="560"
                        height="320"></iframe>
              </div>
            </ion-item>
            <ion-item ng-if="map.markers.length" class="item-stable ok-background-white"
                      ng-click="toggleGroup('map')"
                      ng-class="{active: isGroupShown('map'),'ok-border-bottom':!isGroupShown('map')}">
              <i class="icon ok-color-orange"
                 ng-class="isGroupShown('map') ? 'ion-chevron-down' : 'ion-chevron-right'"></i>
              <span class="ok-color-green">Mapa</span>
            </ion-item>
            <ion-item ng-if="map.markers.length" class="item-accordion ok-background-grey ok-padding-0"
                      ng-show="isGroupShown('map')"
                      ng-class="{'ok-border-bottom':isGroupShown('map')}">
              <div class="row">
                <div class="col ok-map-container ok-padding-0">
                  <ui-gmap-google-map ng-cloak control="control" center="map.center" zoom="map.zoom"
                                      options="options">
                    <ui-gmap-marker ng-repeat="marker in map.markers"
                                    idkey="marker.id"
                                    coords="marker.coords">
                    </ui-gmap-marker>
                  </ui-gmap-google-map>
                </div>
              </div>
            </ion-item>
            <ion-item ng-if="property.plano1 || property.plano2 || property.plano3"
                      class="item-stable ok-background-white"
                      ng-click="toggleGroup('plan')"
                      ng-class="{active: isGroupShown('plan'),'ok-border-bottom':!isGroupShown('plan')}">
              <i class="icon ok-color-orange"
                 ng-class="isGroupShown('plan') ? 'ion-chevron-down' : 'ion-chevron-right'"></i>
              <span class="ok-color-green">Planos</span>
            </ion-item>
            <ion-item ng-if="property.plano1 || property.plano2 || property.plano3"
                      class="item-accordion ok-background-grey ok-padding-0"
                      ng-show="isGroupShown('plan')"
                      ng-class="{'ok-border-bottom':isGroupShown('plan')}">
              <ion-slide-box does-continue="true" auto-play="true" show-pager="false">
                <ion-slide ng-if="property.plano1">
                  <div class="box"><img ng-src="http://abm.okeefe.com.ar/fotos/{{property.plano1}}"
                                        style="width: 100%"/></div>
                </ion-slide>
                <ion-slide ng-if="property.plano2">
                  <div class="box"><img ng-src="http://abm.okeefe.com.ar/fotos/{{property.plano2}}"
                                        style="width: 100%"/></div>
                </ion-slide>
                <ion-slide ng-if="property.plano3">
                  <div class="box"><img ng-src="http://abm.okeefe.com.ar/fotos/{{property.plano3}}"
                                        style="width: 100%"/></div>
                </ion-slide>
              </ion-slide-box>
            </ion-item>
            <ion-item ng-if="property.resumen" class="item-stable ok-background-white"
                      ng-click="toggleGroup('res')"
                      ng-class="{active: isGroupShown('res'),'ok-border-bottom':!isGroupShown('res')}">
              <i class="icon ok-color-orange"
                 ng-class="isGroupShown('res') ? 'ion-chevron-down' : 'ion-chevron-right'"></i>
              <span class="ok-color-green">Video</span>
            </ion-item>
            <ion-item ng-if="property.resumen" class="item-accordion ok-background-grey ok-padding-0"
                      ng-show="isGroupShown('res')"
                      ng-class="{'ok-border-bottom':isGroupShown('res')}">
              <div class="video-container">
                {{property.resumen}}
              </div>
            </ion-item>
            <ion-item ng-if="property.caracteristicas.length" class="item-stable ok-background-white"
                      ng-click="toggleGroup('car')"
                      ng-class="{active: isGroupShown('car'),'ok-border-bottom':!isGroupShown('car')}">
              <i class="icon ok-color-orange"
                 ng-class="isGroupShown('car') ? 'ion-chevron-down' : 'ion-chevron-right'"></i>
              <span class="ok-color-green">Características</span>
            </ion-item>
            <ion-item ng-if="property.caracteristicas.length" class="item-accordion ok-background-grey padding"
                      ng-show="isGroupShown('car')"
                      ng-class="{'ok-border-bottom':isGroupShown('car')}">
              <p ng-repeat="char in property.caracteristicas">
                {{char.caracteristica.titulo}}
                <strong>
                  {{char.contenido}}
                </strong>
              </p>
            </ion-item>
            <ion-item ng-if="property.ambientes.length" class="item-stable ok-background-white"
                      ng-click="toggleGroup('amb')"
                      ng-class="{active: isGroupShown('amb'),'ok-border-bottom':!isGroupShown('amb')}">
              <i class="icon ok-color-orange"
                 ng-class="isGroupShown('amb') ? 'ion-chevron-down' : 'ion-chevron-right'"></i>
              <span class="ok-color-green">Ambientes</span>
            </ion-item>
            <ion-item ng-if="property.ambientes.length" class="item-accordion ok-background-grey padding"
                      ng-show="isGroupShown('amb')"
                      ng-class="{'ok-border-bottom':isGroupShown('amb')}">
              <p ng-repeat="char in property.ambientes">
                {{char.caracteristica.titulo}}
                <strong>
                  {{char.contenido}}
                </strong>
              </p>
            </ion-item>
            <ion-item ng-if="property.servicios.length" class="item-stable ok-background-white"
                      ng-click="toggleGroup('ser')"
                      ng-class="{active: isGroupShown('ser'),'ok-border-bottom':!isGroupShown('ser')}">
              <i class="icon ok-color-orange"
                 ng-class="isGroupShown('ser') ? 'ion-chevron-down' : 'ion-chevron-right'"></i>
              <span class="ok-color-green">Servicios</span>
            </ion-item>
            <ion-item ng-if="property.servicios.length" class="item-accordion ok-background-grey padding"
                      ng-show="isGroupShown('ser')"
                      ng-class="{'ok-border-bottom':isGroupShown('ser')}">
              <p ng-repeat="char in property.servicios">
                {{char.caracteristica.titulo}}
                <strong>
                  {{char.contenido}}
                </strong>
              </p>
            </ion-item>
          </div>
        </ion-list>
      </div>
    </div>
    <div class="row ok-property-sheet-form-title">
      <h3 class="ok-color-green">¿QUERÉS SABER MÁS?</h3>
    </div>
    <div class="list list-inset ok-margin-top-0">
      <label class="item item-input ok-form-input">
        <input ng-model="psContactForm.nombre" type="text" placeholder="Nombre">
      </label>
      <label class="item item-input ok-form-input">
        <input ng-model="psContactForm.apellido" type="text" placeholder="Apellido">
      </label>
      <label class="item item-input ok-form-input">
        <input ng-model="psContactForm.telefono" type="text" placeholder="Teléfono">
      </label>
      <label class="item item-input ok-form-input">
        <input ng-model="psContactForm.celular" type="text" placeholder="Celular">
      </label>
      <label class="item item-input ok-form-input">
        <input ng-model="psContactForm.email" type="text" placeholder="Email">
      </label>
      <label class="item item-input ok-form-input">
        <textarea ng-model="psContactForm.comentarios" class="ok-investments-textarea" placeholder="Mensaje"></textarea>
      </label>
      <button ng-click="psForm()" class="button button-block button-positive ok-form-button">
        CONSULTAR
      </button>
      <div class="card" ng-show="alert != null">
        <div class="item item-text-wrap">
          {{alert.msg}}
        </div>
      </div>
    </div>
    <div class="row ok-footer">
      <div class="col ok-img-list">
        <a target="_blank" href="https://www.facebook.com/okeefeinmobiliaria"><img src="img/FACEBOOK.svg"></a>
        <a target="_blank" href="https://www.linkedin.com/company/335778?trk=prof-0-ovw-curr_pos"><img src="img/LINKEDIN.svg"></a>
        <a target="_blank" href="https://www.youtube.com/channel/UCht4TIqthbwx2QE82IhHXDg"><img src="img/YOUTUBE.svg"></a>
      </div>
    </div>
  </ion-content>
</ion-view>
